{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
							<div class="mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('about-us')}}">Qui sommes-nous ?</a> 
								</p>
							</div>
<div id='form' class="about d-flex">

<img class="logo-pres" src="{{ asset('assets/images/logo1.png')}}">
<div id="container-text-presentation">
<h2>Qui sommes nous ?</h2><br>
<h3><strong><b>{{societyName}}</b></strong> est la marque commerciale du Web de la société <i>{{statusSociety}}</i></h3> 
<p>
<h4>La direction du Groupe exerce dans l’univers du courtage depuis plus de 20 ans.</h4>
</p><p>
<h4>Forte de son expertise et de son expérience, {{societyName}} est née !</h4>
</p>
<h2>Que proposons-nous ?</h2><br>
<p>
<h4>{{societyName}}  est un courtier d'assurance en ligne qui permet d'obtenir des devis gratuits les moins chers pour tout type d'assurance pour particuliers: auto, moto, habitation, chien-chat, protection juridique, ...;  et professionnels. Simulez et souscrivez en ligne à l'offre qui répond le plus à votre besoin en garanties et prix.</h>
</p>
</div>
</div>

</main>
{% endblock %}
