{% extends 'base.html.twig' %}

    {% block body %}
        <header class="masthead">
        <div class="container h-50">
            {% for message in app.flashes('success') %}
            <div class="flash-notice-success my-3">
                <div class="alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p class="mb-0">{{message}}</p>
                </div>
            </div>
            {% endfor %}
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="flash-notice-failed my-3">
                <div class="alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p class="mb-0">{{ flashError }}</p>
                </div>
                </div>
            {% endfor %}
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">{{ societyName }}</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">L'assurance des professionnels et des particuliers.<br> Les meilleures garanties au meilleur prix</p>
                    </div>
                </div>
        </div>
        </header>
                {% if app.user is not null  %}
        <section class="page-section" id="profil">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-black mt-0">Mon espace personnel</h2>
                        <hr class="divider light my-4" />
                        <p class="text-black-50 mb-4">Bonjour {{app.user.firstname}} !</p>
                        <a href="{{ path('user_read', {'lastname' : app.user.lastname})}}" class="btn btn-outline-success">Accéder à mon espace personnel</a><br><br>
                        <a href="{{ path('user_sinistre', {'lastname' : app.user.lastname})}}" class="btn btn-outline-primary">Déclarer un sinistre</a>
                    </div>
                </div>
            </div>
        </section>
                {% endif %}
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-black mt-0">Nous avons ce qu'il vous faut!</h2>
                        <hr class="divider my-4" />
                        <p class="text-black-50 mb-4">{{societyName}} se charge de trouver le produit qu'il vous faut, le jour de votre demande et au meilleur prix.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-9x fa-comments"></i>
                            <h3 class="h4 mb-2">24 heures sur 24<br> 7 jours sur 7</h3>
                            <p class="text-muted mb-0">Nous sommes disponible et répondons à vos questions à n'importe quel moment</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-9x fa-search-dollar"></i>
                            <h3 class="h4 mb-2">Des garanties au meilleur prix</h3>
                            <p class="text-muted mb-0">{{societyName}} se charge de trouver les meilleures garanties au meilleur prix</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="far fa-9x fa-folder-open"></i>
                            <h3 class="h4 mb-2">Retrouvez facilement vos documents</h3>
                            <p class="text-muted mb-0">Vous pouvez retrouver facilement vos documents dans votre espace personnel</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-9x fa-people-arrows"></i>
                            <h3 class="h4 mb-2">Un conseiller proche de vous</h3>
                            <p class="text-muted mb-0">Avec {{societyName}}, une seule et unique personne se charge de votre dossier.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Actualités-->
        <section class="page-section" id="actualites">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-black mt-0">Les dernières actualités et promotions!</h2>
                        <hr class="divider my-4" />
                        {% for newsletter in newsletters %}

                        {{ include('partials/card.newsletter.html.twig') }}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Categories -->


            <section class="page-section" id="particuliers"><a href="{{ path('assurances_categorie', {'slug': 'particuliers'})}}">
                <h2 class="text-center mt-0">Nos assurances pour particuliers</h2></a>
                <hr class="divider my-4" />
                {% for categorie in category %}
                {% if categorie.name == "Assurances Particuliers" %}
                {{ include('partials/cards.categorie.html.twig') }}
                {% endif %}
                {% endfor %}
            </section>



            <section class="page-section" id="professionnels"><a href="{{ path('assurances_categorie', {'slug': 'professionnels'})}}">
                <h2 class="text-center mt-0">Nos assurances pour professionnels</h2></a>
                <hr class="divider my-4" />
                {% for categorie in category %}
                {% if categorie.name == "Assurances Professionnels" %}
                {{ include('partials/cards.categorie.html.twig') }}
                {% endif %}
                {% endfor %}
            </section>


        {% if app.user is null %}
        <section class="page-section" id="inscription-connexion">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-black mt-0">Inscription/Connexion</h2>
                        <hr class="divider my-4" />
                        <p class="text-black-50 mb-4">Inscrivez-vous pour obtenir plus facilement tout les documents dont vous avez besoin et également pour déclarer un sinistre directement en ligne. <br> Vous n'avez pas besoin d'etre inscrit pour souscrire à une assurance.</p>
                        <a href="{{ path('app_register')}}" class="btn btn-outline-primary">Inscription</a><br><br>
                        <button type="button" data-toggle="modal" data-target="#connexionModale" class="btn btn-outline-info">Connexion</button>
                    </div>
                </div>
            </div>
        </section>
        {{ include('partials/modal-login.html.twig') }}
        {% endif %}
{% endblock %}
