{{ form_start(registrationForm, {'attr': {'id': 'form'}}) }}
    <div class="user-form-label">{{form_label (registrationForm.lastname) }} <span class="form-asterisk-mandatory">*</span></div>
    <div>{{form_help (registrationForm.lastname) }}</div>
    <div>{{form_widget (registrationForm.lastname) }}</div>

    <div class="user-form-label">{{form_label (registrationForm.firstname) }} <span class="form-asterisk-mandatory">*</span></div>
    <div>{{form_help (registrationForm.firstname) }}</div>
    <div>{{form_widget (registrationForm.firstname) }}</div>

    <div class="user-form-label">{{form_label (registrationForm.email) }} <span class="form-asterisk-mandatory">*</span></div>
    <div>{{form_widget (registrationForm.email) }}</div>
    
    <div class="user-form-label">{{form_label (registrationForm.password.first)}} {{ app.request.attributes.get('_route') == 'app_register' ? '<span class="form-asterisk-mandatory">*</span>' }}</div>
    <div>{{form_help (registrationForm.password) }}</div>
    <div>{{form_widget (registrationForm.password.first) }}</div>
    <div class="row mt-1 px-4 justify-content-end">
      <button type="button" class="btnEye" id="eye">Afficher</button>
    </div>

    <div class="user-form-label">{{form_label (registrationForm.password.second) }} {{ app.request.attributes.get('_route') == 'app_register' ? '<span class="form-asterisk-mandatory">*</span>' }}</div>
    <div>{{form_widget (registrationForm.password.second) }}</div>
    <div class="row mt-1 px-4 justify-content-end">
      <button type="button" class="btnEye" id="eyeConfirm">Afficher</button>
    </div>


    <div class="mt-3"><span class="form-asterisk-mandatory">*</span><span class="form-text-mandatory"> Champs obligatoires</span></div>
 
 {% if registrationForm.agreeTerms is defined %}
    <div class="modal fade" id="cguModal" tabindex="-1" role="dialog" aria-labelledby="cguModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cguModalTitle">Conditions générales d'utilisation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="btn-close-modal" aria-hidden="true">×
            </button>
          </div>
          <div class="modal-body">

            {{ include('partials/cgu.html.twig') }}

            <div class="modal-footer">
              <button type="button" class="btn cgu-btn" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>   
    <div class="user-form-label">{{form_label (registrationForm.agreeTerms) }} </div>
    <div class="container-cgu">
    <a class="link-cgu" data-toggle="modal" data-target="#cguModal">Lire les CGU</a>  
    </div>
    <div>{{form_widget (registrationForm.agreeTerms) }}</div>
  {% endif %}

    <div class="submit-button-container">
      <button type="submit" class="btn form-btn">{{ button_label|default('S\'inscrire') }}</button>
    </div>

{{ form_end(registrationForm)  }}


<script>
  document.getElementById("eye").addEventListener("click", function(e){
  var pwd = document.getElementById("registration_form_password_first");
  if(pwd.getAttribute("type")=="password"){
  pwd.setAttribute("type","text");
  } else {
  pwd.setAttribute("type","password");
  }
  });
  </script>
  <script>
  document.getElementById("eyeConfirm").addEventListener("click", function(e){
  var pwd = document.getElementById("registration_form_password_second");
  if(pwd.getAttribute("type")=="password"){
  pwd.setAttribute("type","text");
  } else {
  pwd.setAttribute("type","password");
  }
  });
</script>


{#}{'attr': {'data-toggle': 'modal', 'data-target':'#cguModal'}}{#}