<div class="row justify-content-center">
    {% for sousCategories in categorie.sousCategories %}
    <div id="container">	
	    <div class="product-details">
         {% if sousCategories.name == 'Chien Chat' or sousCategories.name =='Habitation' or  sousCategories.name == 'Protection Juridique' or sousCategories.name == "Santé" %}
         {% for type in sousCategories.types %}
         	    <a href="{{ path('assurances_type',{'slug' : type.slug })}}">
                <h4 class="categorie-name-card">{{ sousCategories.name }}</h4>
                <p class="information">{{ sousCategories.description }}</p>
		        </a>
        {% endfor %}
        {% else %}
	            <a href="{{ path('assurances_sous-categorie', {'slug' : sousCategories.slug })}}">
                <h4 class="categorie-name-card">{{ sousCategories.name }}</h4>
		        <p class="information">{{ sousCategories.description }}</p>
                </a>
        {% endif %}
        </div>
	
        <div class="product-image">
        {% if sousCategories.name == "2 roues & Quad" or sousCategories.name == "Plaisance" or sousCategories.name == "Automobile" or sousCategories.name == "Bâtiment" or sousCategories.name == "Autres activités" %}
                <img src="{{asset('assets/images/photos/' ~ sousCategories.image) }}" alt="photo lien {{ sousCategories.name }}">
            <div class="row info align-content-center">
            {% for type in sousCategories.types %}
                <ul>
                    <a href="{{ path('assurances_type',  {'slug' : type.slug })}}"><li class="card-li"><strong>{{ type.name }}</strong></li></a>
                </ul>
            {% endfor %}
            </div>
        </div>
    </div>
        {% else %}
                    {% for type in sousCategories.types %}
             <a href="{{ path('assurances_type',  {'slug' : type.slug })}}">
                    <img class="card-img-top" src="{{asset('assets/images/photos/' ~ sousCategories.image) }}" alt="image lien {{ sousCategories.name }}">
            </a>
            {% endfor %}

                </div>
    </div>

        {% endif %}
        {% endfor %}
</div>