<div class="row justify-content-center">
    {% for particulier in particuliers %}
    {% for type in sousCategorie.types %}
    <div id="container">	
	    <div class="product-details">
            <a href="{{ path('assurances_type', {'slug' : type.slug })}}">
             <h4 class="categorie-name-card">{{ type.name }}</h4>
            </a>
            <div class="information">
            <p>{{ type.description }}</p>
            </div>
            <a class="linkdevis" href="{{ path('assurances_type', {'slug' : type.slug })}}"> Obtenir un devis </a>
        </div>
        <div class="product-image">
        <a href="{{ path('assurances_type', {'slug' : type.slug })}}">
            <img class="card-img-top" src="{{asset('assets/images/photos/' ~ type.image) }}" alt="image lien {{ type.name }}">
            </a>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>

