<div class="row justify-content-center">
    {% for professionnel in professionnels %}
    {% for sousCategories in professionnel.sousCategories %}
    <div id="container">	
	
<!-- Start	Product details -->
	    <div class="product-details">
		
		<!-- 	Product Name -->
	            <a href="{{ path('assurances_sous-categorie_professionnels',  {'slug' : sousCategories.slug })}}">
                <h4 class="categorie-name-card">{{ sousCategories.name }}</h4>
		        </a>
		            <p class="information">" Nos assurances"</p>

        </div>
	
        <div class="product-image">
	
	        <img src="{{asset('assets/images/photos/' ~ sousCategories.image) }}" alt="photo lien {{ sousCategories.name }}">
	
<!-- 	product Information-->
            <div class="info">
                <ul>
                {% for type in sousCategories.types %}
                    <a href="{{ path('assurances_type_professionnels',  {'slug' : type.slug })}}"><li class="card-li"><strong>{{ type.name }}</strong></li></a>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
{% endfor %}
</div>