{% extends 'base.html.twig' %}{% block title %}Assistance Nautique | {{ societyName }}{% endblock %}{% block body %}
<main class="container-fluid">
	<section class="card-sous-categorie">
		<div id="page-container" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;" class="et-animated-content">
			<div id="et-main-area">
				<div id="main-content">
					<div class="entry-content">
						<div id="et-boc" class="et-boc">
							<div class="et_builder_inner_content et_pb_gutters3">
								<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
									<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
										<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
											<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
												<div class="et_pb_text_inner">
													<h1>L'assistance</h1>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="container">
									<div class="mt-2 fil-ariane">
										<p>
											<a href="{{ path('home')}}">Accueil</a>
											 -
											<a href="{{ path('assurances_categorie', {'slug': 'particuliers'})}}">Assurances Particuliers</a>
											 -
											<a href="{{ path('assurances_sous-categorie', {'slug': 'plaisance'})}}">Plaisance</a>
											 -
											<a href="{{ path('assurances_assistance_nautique')}}">Assistance nautique</a>
										</p>
									</div>
								</div>
								<div>
									<div class="submit-button-container-devis">
										<a class="d-block" href="" data-toggle="modal" data-target="#callModale"><button class="btn btn-outline-success">Demander à être rappelé</button></a>
									</div>
								</div>
								<br>
								<div class="et_pb_section et_pb_section_5 et_section_regular">
									<div class="et_pb_row et_pb_row_5">
										<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
											<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
												<div class="et_pb_text_inner">
													<h2>La meilleure offre d’assistance plaisance du marché </h2>
												</div>
											</div>
											<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
												<div class="et_pb_text_inner"></div>
											</div>
										</div>
										<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
											<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
												<div class="et_pb_text_inner">
													<h3 style="text-align: left;">
														Les
														<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
														<span style="display:none;">plus</span>
														&nbsp;
														<br>
														{{societyName}}
													</h3>
												</div>
											</div>
											<p>
												{{societyName}} assistance comprend : 
												<br>
												- Des garanties d'assistance à terre aux personnes : rapatriement médical et de l’équipage, visite d’un proche, accompagnement des enfants et soutien psychologique… 
												<br>
												- Des garanties d’assistance à terre au bateau : transfert pour réparation, manutention, remorquage et rapatriment du bateau, envoi de pièces détachées, frais de port et gardiennage. 
												<br>
												- Un service premium incluant l’assistance et le dépannage à terre, à quai (0 mille) et en mer 7j/7 et 24h/24.
											</p>
											<br>
										</div>
									</div>
									<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
										<div class="et_pb_top_inside_divider"></div>
										<div class="et_pb_row et_pb_row_6">
											<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
												<div class="sg-offertable sg-offertable-nbcol-2 sg-offertable-priced">
													<div class="sg-offertable-mobileswitcher">
														<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button disabled"></i>
														<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<b style="font-size:18px;">Assistance Standard</b>
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="tablecol_logo_wrapper"></div>
																<div class="tablecol_desc"></div>
															</div>
														</div>
														<div class="sg-offertable-mobileswitcher_item">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<b style="font-size:18px;">Assistance Premium</b>
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="tablecol_logo_wrapper"></div>
																<div class="tablecol_desc"></div>
															</div>
														</div>
														<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
													</div>
													<table class="sg-offertable-table">
														<thead>
															<tr>
																<th class="sg-has-titlegreen sg-has-titlegrey ">
																	<div class="sg-subtitle-grey"></div>
																</th>
																<th class="sg-offertable-ms-current">
																	<div class="tablecol_priceblock">
																		<div class="tablecol_priceblock_gradient">
																			<b style="font-size:18px;">Assistance Standard</b>
																		</div>
																	</div>
																	<div class="tablecol_logocont">
																		<div class="tablecol_desc">
																			<div class="tablecol_desc_content"></div>
																		</div>
																	</div>
																</th>
																<th>
																	<div class="tablecol_priceblock">
																		<div class="tablecol_priceblock_gradient">
																			<b style="font-size:18px;">Assistance Premium</b>
																		</div>
																	</div>
																	<div class="tablecol_logocont">
																		<div class="tablecol_desc">
																			<div class="tablecol_desc_content"></div>
																		</div>
																	</div>
																</th>
															</tr>
														</thead>
														<tbody>
															<tr class="tableline-notsep tableline-withtext">
																<th>
																	<div class="tableline_title tableline_title-withtxt">
																		Contrats éligibles
																	</div>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Horizon, Littoral, Responsabilité Civile et Jet
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Horizon Premium et Littoral Premium
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Zones couvertes
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Europe, Antilles et transatlantique*
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			France métropolitaine, Martinique, Guadeloupe et Italie (sauf Sardaigne et Sicile)*
																		</div>
																	</td>
																</tr>
																<tr class="tableline-sep">
																	<th>
																		<div class="tableline_title">
																			Assistance au bateau
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val"></div>
																	</td>
																	<td>
																		<div class="tableline_val"></div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Service d’assistance et de dépannage à quai et en mer
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Non garanti
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			À moins de 6 milles nautiques des côtes françaises
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Transfert du bateau pour réparation : remorquage, grutage vers le chantier efficient
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			350 € TTC maxiPrise en charge sur présentation de justificatif
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			500 € TTC maxiPrise en charge sur présentation de justificatif
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Transfert du bateau pour réparation : remorquage, grutage vers le chantier efficient
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			350 € TTC maxiPrise en charge sur présentation de justificatif
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			500 € TTC maxiPrise en charge sur présentation de justificatif
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Manutention et remorquage terrestre
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Si immobilisation de la remorque et/ou du véhicule tracteur – Rayon 100 km maxi
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Si immobilisation de la remorque et/ou du véhicule tracteur – Rayon 100 km maxi
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Rapatriement du bateau en état de naviguer
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Si l’équipage est dans l’incapacité de ramener le bateau à son port d’attache : acheminement d’une personne désignée par le bénéficiaire ou acheminement d’un skipper ou d'un équipier. Les salaires restent à la charge du bénéficiaire
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Si l’équipage est dans l’incapacité de ramener le bateau à son port d’attache : acheminement d’une personne désignée par le bénéficiaire ou acheminement d’un skipper ou d'un équipier. Les salaires restent à la charge du bénéficiaire
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Récupération du bateau et/ou remorque si immobilisation >
																			 5 jours
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Soit acheminement de 2 personnes, soit acheminement d’un skipper et d’un équipier, soit transport par voie terrestre (hors convoi exceptionnel) : 600 € TTC maxi
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Soit acheminement de 2 personnes, soit acheminement d’un skipper et d’un équipier, soit transport par voie terrestre (hors convoi exceptionnel) : 600 € TTC maxi
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Envoi de pièces détachées
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Frais d’envoi
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Frais d’envoi
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Frais de port et de gardiennage
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			350 € TTC maxiPrise en charge sur présentation de justificatifs
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			500 € TTC maxiPrise en charge sur présentation de justificatifs
																		</div>
																	</td>
																</tr>
																<tr class="tableline-sep">
																	<th>
																		<div class="tableline_title">
																			Assistance aux personnes bléssées ou malades
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val"></div>
																	</td>
																	<td>
																		<div class="tableline_val"></div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Rapatriement médical
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Frais réels. Prise en charge possible du transport d’un proche, déjà sur place, pour accompagner le patient
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Frais réels. Prise en charge possible du transport d’un proche, déjà sur place, pour accompagner le patient
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Voyage aller-retour d’un proche (si hospitalisation >
																			 10 jours)
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Acheminement A-R et 80 € par nuit (max 10 nuits)
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Acheminement A-R et 120 € par nuit (max 10 nuits)
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Frais médicaux (exclusivement à l’étranger et en complément des organismes sociaux)
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			30 000 € TTC maxi (à partir de 60 €)
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			40 000 € TTC maxi (à partir de 60 €)
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Recherche et expédition de médicaments
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Frais d’envoi
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Frais d’envoi
																		</div>
																	</td>
																</tr>
																<tr class="tableline-sep">
																	<th>
																		<div class="tableline_title">
																			Assistance en cas de décès
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val"></div>
																	</td>
																	<td>
																		<div class="tableline_val"></div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Décès d’un bénéficiaire en déplacement
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Rapatriement et frais liés au rapatriement de corps
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Rapatriement et frais liés au rapatriement de corps
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Retour anticipé en cas de décès d'un proche
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			A concurrence des frais engagés pour un retour au domicileAcheminement A-R pour 1 personne ou rapatriement pour 2 personnes
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			A concurrence des frais engagés pour un retour au domicileAcheminement A-R pour 1 personne ou rapatriement pour 2 personnes
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Soutien psychologique
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Non garanti
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			1 à 5 entretiens téléphoniques et 1 à 3 entretiens en face à face si nécessaire
																		</div>
																	</td>
																</tr>
																<tr class="tableline-sep">
																	<th>
																		<div class="tableline_title">
																			Assistance aux personnes valides
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val"></div>
																	</td>
																	<td>
																		<div class="tableline_val"></div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Accompagnement des enfants (- de 15 ans)
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Acheminement A-R d’un proche ou personne qualifiée
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Acheminement A-R d’un proche ou personne qualifiée
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Rapatriement de l’équipage (vers le port d’attache) si immobilisation du bateau ou de la remorque >
																			 5 jours
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Train 1ère classe / Avion classe éco / Véhicule de location (maxi 24h)
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Train 1ère classe / Avion classe éco / Véhicule de location (maxi 24h)
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Attente sur place si le bateau est inhabitable
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			Hôtel 80 € par nuit (max 5 nuits)
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			Hôtel 120 € par nuit (max 5 nuits)
																		</div>
																	</td>
																</tr>
																<tr class="tableline-sep">
																	<th>
																		<div class="tableline_title">
																			Avance de fonds, frais de justice et caution pénale (exclusivement à l'étranger)
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val"></div>
																	</td>
																	<td>
																		<div class="tableline_val"></div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Avance de fonds
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			1 500 € maxi
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			1 500 € maxi
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Frais de justice à l’étranger
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			1 500 € maxi
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			1 500 € maxi
																		</div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Caution à l’étranger
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			10 000€ maxi
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			10 000€ maxi
																		</div>
																	</td>
																</tr>
																<tr class="tableline-sep">
																	<th>
																		<div class="tableline_title">
																			Services d'information
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val"></div>
																	</td>
																	<td>
																		<div class="tableline_val"></div>
																	</td>
																</tr>
																<tr class="tableline-notsep tableline-withtext">
																	<th>
																		<div class="tableline_title tableline_title-withtxt">
																			Conseils médicaux et renseignements pratiques
																		</div>
																	</th>
																	<td class="sg-offertable-ms-current">
																		<div class="tableline_val">
																			<i class="fa fa-check tableline_val_checked"></i>
																		</div>
																	</td>
																	<td>
																		<div class="tableline_val">
																			<i class="fa fa-check tableline_val_checked"></i>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<div class="et_pb_section et_pb_section_12 et_section_regular">
											<div class="et_pb_row et_pb_row_17">
												<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
													<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
														<div class="et_pb_text_inner">
															<br>
															<br>
															<p>
																<i>L'assistance premium est disponible sur les contrats Littoral et Horizon éligibles.<br></i>
															</em>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
			</div>
		</div>
	</section>
</main>
{% endblock %}