<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -37px;">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>Votre assurance<br> Camping car</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						    <div class="row px-3 mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
						<div class="et_pb_section et_pb_section_5 et_section_regular">
							<div class="et_pb_row et_pb_row_5">
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h2>Une assurance faite pour votre camping-car</h2>
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_31 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<p>
												Vous êtes amateur de road trip, mais vous ne partez jamais à l’aventure sans être à bord de votre camping-car ?
											</p>
											<p>
												L’assurance Camping-Car {{societyName}} vous protège ainsi que votre camping-car et son contenu de tous dommages éventuels.
											</p>
											<p>
												De la formule Tiers à la formule Tous Risques, l’assurance Camping-Car {{societyName}}, vous assure selon vos besoins et vous permet de bénéficier de garanties d’assistance solides.
											</p>
											<p>
												Partez à la conquête de nouveaux horizons en toute sérénité avec {{societyName}} !
											</p>
										</div>
									</div>
								</div>
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h3 style="text-align: left;">
												Les
												<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
												<span style="display:none;">plus</span>
												<br>
												&nbsp;{{societyName}}
											</h3>
										</div>
									</div>
									<!-- .et_pb_text -->
									<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<ul>
												<li>Le contenu du camping-car est garanti dès la formule Confort</li>
												<li>Les dommages corporels du conducteur sont assurés jusqu’à 400 K€ quelle que soit la formule choisie</li>
												<li>Indemnisation en valeur à neuf pendant 24 mois</li>
												<li>Assistance 0 km en inclusion sur toutes les formules</li>
											</ul>
										</div>
									</div>
									<!-- .et_pb_text -->
									<div class="et_pb_module et_pb_text et_pb_text_9 sg-block-prix-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<p style="text-align: center; color:white;">
												à partir de
												<br>
												<strong>18,45€<sup>(1)</sup></strong>
												<br>
												par mois
											</p>
										</div>
									</div>
									<!-- .et_pb_text -->
								</div>
								<!-- .et_pb_column -->
							</div>
							<!-- .et_pb_row -->
						</div>
						<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>
							<div class="et_pb_row et_pb_row_6">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_9 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h2>Votre assurance <br>Camping-car</h2>
										</div>
									</div>
									<div class="sg-offertable sg-offertable-nbcol-3 sg-offertable-priced">
										<div class="sg-offertable-mobileswitcher">
											<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button disabled"></i>
											<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
												<div class="tablecol_priceblock">
													<div class="tablecol_priceblock_gradient">
														à partir de
														<span class="tablecol_priceblock_price">18,45€<sup>(1)</sup></span>
														par mois
													</div>
												</div>
												<div class="tablecol_logocont">
													<div class="tablecol_logo_wrapper">
														<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}">
													</div>
													<div class="tablecol_desc">
														<div class="tablecol_desc_content">
															Une couverture pour assurer sa responsabilité civile
														</div>
													</div>
												</div>
											</div>
											<div class="sg-offertable-mobileswitcher_item">
												<div class="tablecol_priceblock">
													<div class="tablecol_priceblock_gradient">
														à partir de
														<span class="tablecol_priceblock_price">23,89€<sup>(2)</sup></span>
														par mois
													</div>
												</div>
												<div class="tablecol_logocont">
													<div class="tablecol_logo_wrapper">
														<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}">
													</div>
													<div class="tablecol_desc">
														<div class="tablecol_desc_content">
															Se protéger également en cas de vol
														</div>
													</div>
												</div>
											</div>
											<div class="sg-offertable-mobileswitcher_item">
												<div class="tablecol_priceblock">
													<div class="tablecol_priceblock_gradient">
														à partir de
														<span class="tablecol_priceblock_price">32,49€<sup>(3)</sup></span>
														par mois
													</div>
												</div>
												<div class="tablecol_logocont">
													<div class="tablecol_logo_wrapper">
														<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}">
													</div>
													<div class="tablecol_desc">
														<div class="tablecol_desc_content">
															La protection maximale pour rouler serein
														</div>
													</div>
												</div>
											</div>
											<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
										</div>
										<table class="sg-offertable-table">
											<thead>
												<tr>
													<th class="sg-has-titlegreen sg-has-titlegrey ">
														<div class="sg-title-green">
															Les garanties
														</div>
														<div class="sg-subtitle-grey">
															Garanties de base
														</div>
													</th>
													<th class="sg-offertable-ms-current">
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">18,45€<sup>(1)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}">
															<div class="tablecol_desc">
																<div class="tablecol_desc_content">
																	Une couverture pour assurer sa responsabilité civile
																</div>
															</div>
														</div>
													</th>
													<th>
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">23,89€<sup>(2)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}">
															<div class="tablecol_desc">
																<div class="tablecol_desc_content">
																	Se protéger également en cas de vol
																</div>
															</div>
														</div>
													</th>
													<th>
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">32,49€<sup>(3)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}">
															<div class="tablecol_desc">
																<div class="tablecol_desc_content">
																	La protection maximale pour rouler serein
																</div>
															</div>
														</div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd44332c3" aria-expanded="false" aria-controls="linecollapse_5f2bcd44332c3">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Responsabilité civile
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd44332c3" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	L’assurance responsabilité civile permet de couvrir les risques de dommages que vous pourriez causer aux autres. En cas de dommage, cette garantie permet d’indemniser la victime à votre place.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd4433aae" aria-expanded="false" aria-controls="linecollapse_5f2bcd4433aae">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Défense pénale et recours suite à accident
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd4433aae" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie défense et recours est une garantie dite «&nbsp;d’assistance&nbsp;» juridique. Elle peut être déclenchée lorsqu’après un sinistre, les conditions d’application de la responsabilité civile ne sont pas clairement définies ou sont sources de litige entre les parties prenantes.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-sep">
													<th>
														<div class="tableline_title">
															Garanties de dommages au véhicule
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C-1.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}">
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd4434fcc" aria-expanded="false" aria-controls="linecollapse_5f2bcd4434fcc">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Bris de glaces
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd4434fcc" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie bris de glaces de l’offre d’assurance Camping-Car {{societyName}} vous couvre en cas de sinistre sur les surfaces vitrées de votre véhicule telles que le pare-brise, la lunette arrière et les vitres latérales. Vos surfaces vitrées seront soit réparées soit remplacées en fonction du sinistre.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd4435708" aria-expanded="false" aria-controls="linecollapse_5f2bcd4435708">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Vol, incendie et événements climatiques
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd4435708" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	En cas de dommage dû à un un vol (partiel), un incendie ou un événement climatique, cette garantie vous permet d’être indemnisé.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd4435e49" aria-expanded="false" aria-controls="linecollapse_5f2bcd4435e49">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Catastrophes naturelles et technologiques
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd4435e49" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie catastrophes naturelles couvre les dommages subis par tout événement naturel de grande ampleur décrété catastrophe naturelle (tremblement de terre, inondation, sécheresse, submersion marine…). Sont reconnues comme des catastrophes technologiques des accidents non-nucléaires causés par une installation classée à risque, le stockage souterrain de produits dangereux et le transport de matières dangereuses.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd4436570" aria-expanded="false" aria-controls="linecollapse_5f2bcd4436570">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Attentats et actes de terrorisme
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd4436570" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie «&nbsp;attentats et actes de terrorisme&nbsp;» prend en charge les dommages matériels engendrés par des actes terroristes. Les dommages corporels sont quant à eux pris en charge par un Fond de Garantie prévu par l’Etat.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd4436ca3" aria-expanded="false" aria-controls="linecollapse_5f2bcd4436ca3">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Dommages tous accidents
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd4436ca3" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie dommages tous accidents est la garantie qui vous couvre de tout. Vous êtes protégé en cas de détérioration de votre véhicule suite à une chute d’objets ou de pierres, de collision avec n’importe quel obstacle, même un animal, d’accident sur la route, et même de détériorations suite à un événement climatique
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd44373de" aria-expanded="false" aria-controls="linecollapse_5f2bcd44373de">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Valeur à neuf 24 mois
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd44373de" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	En cas de vol total du véhicule, vous êtes indemnisé à hauteur de la valeur neuve de votre véhicule, et cela pendant 24 mois suite à la souscription de votre contrat.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-sep">
													<th>
														<div class="tableline_title">
															Garanties du conducteur
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C-1.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}">
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd4438717" aria-expanded="false" aria-controls="linecollapse_5f2bcd4438717">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Garantie corporelle du conducteur jusqu'à  400 000 €
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd4438717" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	En cas d’accident responsable ou non responsable, la garantie corporelle de l’offre d’assurance Camping-Car {{societyName}} prend en charge les frais d’hospitalisation et médicaux ainsi que le prix du préjudice moral.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd4438e91" aria-expanded="false" aria-controls="linecollapse_5f2bcd4438e91">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Assistance panne et accident 0 km
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd4438e91" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	En cas de panne ou d’accident, cette garantie vous permet d’être pris en charge peu importe ou vous êtes, en bas de chez vous ou à l’autre bout de la France.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd44395da" aria-expanded="false" aria-controls="linecollapse_5f2bcd44395da">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Garantie du contenu
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd44395da" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie de contenu de l’assurance Camping-Car {{societyName}} vous indemnise en cas de disparition ou de dégradation des objets présents dans votre camping-car.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd4439d13" aria-expanded="false" aria-controls="linecollapse_5f2bcd4439d13">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Rachat de franchise
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd4439d13" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	En cas de sinistre, votre assurance Camping-Car vous remboursera la valeur de votre franchise c’est-à-dire que vous serez intégralement remboursé du montant de vos réparations.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="et_pb_row et_pb_row_8">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_13 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h3>L’assistance</h3>
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_46 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<ul>
												<li>Mon pneu est crevé : prise en charge du dépannage et du remplacement du ou des pneus.<sup>(4)</sup></li>
												<li>Je tombe en panne et j’ai rendez-vous : mise à disposition d’un taxi et prise en charge de votre véhicule.<sup>(4)</sup></li>
												<li>Je ne peux pas conduire : mise à disposition d’un taxi qui vous conduit jusqu’à chez vous quelle que soit la raison.<sup>(4)</sup></li>
												<li>Je veux suivre mon dossier : suivi en en temps réel de l’avancée de votre dossier.<sup>(4)</sup></li>
											</ul><br><br><br>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="et_pb_row et_pb_row_25">
						<div class="et_pb_column et_pb_column_4_4 et_pb_column_33  et_pb_css_mix_blend_mode_passthrough et-last-child">
							<div class="et_pb_module et_pb_text et_pb_text_47 et_pb_bg_layout_light  et_pb_text_align_left">
								<div class="et_pb_text_inner"></div>
							</div>
						</div>
						<!-- .et_pb_blurb_content -->
					</div>
					<!-- .et_pb_blurb -->
				</div>
			</div>
			<div class="et_pb_section et_pb_section_12 et_section_regular">
				<div class="et_pb_row et_pb_row_17">
					<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
						<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
							<div class="et_pb_text_inner">
								<br>
								<br>
								<p>
									<i>(1) 18,45€ : offre non contractuelle – tarif pour la formule Contact pour un profil né en 1956, qui habite à Sanguinet 40460, a eu son permis en Mars 1975, a un CRM 50 depuis plus de 3 ans et 2 ans d’antécédents, il conduit camping-car Bavaria 1740 GJ dont le contenu est d’une valeur de 100€, mis en circulation le 02.02.2015 et achetée le 21.04.2020 à 5000€.<br></i>
									<i>(2) 23,89€ : offre non contractuelle – tarif pour la formule Confort pour le même profil que le (1).<br></i>
									<i>(3) 32,49€ : offre non contractuelle – tarif pour la formule Sérénité pour le même profil que le (1).<br>(4) Dans les limites et conditions définies par le contrat.</i>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
	</div>
</div>
