<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
			<article id="post-38311" class="post-38311 page type-page status-publish has-post-thumbnail hentry">
				<div class="entry-content">
					<div id="et-boc" class="et-boc">
						<div class="et_builder_inner_content et_pb_gutters3">
							<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
								<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Votre assurance chiens / chats</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
							     	<div class="row px-3 mt-2 fil-ariane">
										<p>
										<a href="{{ path('home')}}">Accueil</a> -
										<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
										<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
										</p>
									</div>
							<div class="et_pb_section et_pb_section_5 et_section_regular">
								<div class="et_pb_row et_pb_row_5">
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Des garanties d’assurance pour vos compagnons à 4 pattes</h2>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													Prendre soin de son animal de compagnie peut avoir de lourdes répercussions sur le budget de votre famille. En effet, votre animal de compagnie va bénéficier de soins réguliers tout au long de sa vie : vaccinations, consultations vétérinaires… Mais peut aussi faire face à des interventions chirurgicales ou des maladies. 
													<br>
													L’assurance chiens/chats {{societyName}} prend en charge tous ces frais, comme une complémentaire santé, et vous permet ainsi de soigner vote animal de compagnie en maîtrisant vos dépenses.
												</p>
												<p>
													Avec l’assurance santé chiens/chats {{societyName}}, vous bénéficiez en plus d’une assistance en cas de perte de votre animal ou lorsque vous êtes dans l’impossibilité de vous en occuper. Choisissez {{societyName}} pour protéger votre animal !
												</p>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3 style="text-align: left;">
													Les 
													<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
													&nbsp;{{societyName}}
												</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Aucun critère de race pour vos chiens et vos chats</li>
													<li>Tarifs compétitifs pour des garanties complètes</li>
													<li>3 plafonds de remboursements au choix</li>
													<li>Assistance incluse en cas d’hospitalisation du propriétaire</li>
												</ul>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_8 sg-block-prix-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p style="text-align: center; color:white;">
													à partir de
													<br>
													<strong>8,67€<sup>(1)</sup></strong>
													<br>
													par mois
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
								<div class="et_pb_top_inside_divider"></div>
								<div class="et_pb_row et_pb_row_6">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="sg-offertable sg-offertable-nbcol-3 sg-offertable-priced">
											<div class="sg-offertable-mobileswitcher">
												<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button disabled"></i>
												<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">8,67€<sup>(1)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
																<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture pour tous les frais suite à un accident
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">13,66€<sup>(2)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
																<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une protection en cas de maladie ou d’accident
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">23,18€<sup>(3)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
																<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une protection renforcée et complète
															</div>
														</div>
													</div>
												</div>
												<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen ">
															<div class="sg-title-green">
																Les garanties
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">8,67€<sup>(1)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture pour tous les frais suite à un accident
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">13,66€<sup>(2)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une protection en cas de maladie ou d’accident
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">23,18€<sup>(3)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une protection renforcée et complète
																	</div>
																</div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Frais chirurgicaux liés à un accident
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Frais médicaux liés à un accident
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Frais chirurgicaux liés à une maladie
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Frais médicaux liés à une maladie
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Vaccination (1 fois par an)
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																20€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																45€
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Stérilisation
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																60€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100€
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Assistance
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																3 plafonds de remboursements
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Jusqu'à 1000€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Jusqu'à 1500€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Jusqu'à 2200€/an
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_7">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_10 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>Les plafonds de remboursements</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_11 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Le premier plafond est de 1 000€ par an</li>
													<li>Le second plafond est de 1 500€ par an</li>
													<li>Le dernier plafond est de 2 200€ par an</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_8">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_12 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>L’assistance {{societyName}}</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_9 et_pb_gutters1">
									<div class="et_pb_column et_pb_column_1_3 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="far fa-6x fa-file-alt"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Déclaration</span></h4>
													<div class="et_pb_blurb_description">
														<p>
															En cas de perte de votre chien ou de votre chat, nous prenons en charge la déclaration au fichier national I-CAD
															<small style="font-size:10px;">
																(4)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_3 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_1 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-phone"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Vétérinaires et SPA</span></h4>
													<div class="et_pb_blurb_description">
														<p>
															En cas de perte de votre animal de compagnie, nous nous chargeons de contacter les vétérinaires des environs et la SPA
															<small style="font-size:10px;">
																(4)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_3 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-phone-volume"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Gendarmerie et Mairie</span></h4>
													<div class="et_pb_blurb_description">
														<p>
															En cas de perte de votre compagnon à 4 pattes, nous prévenons la gendarmerie et la mairie de votre commune
															<small style="font-size:10px;">
																(4)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
															<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_24  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_16 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													<i>
														(1) 8,67€ : offre non contractuelle – tarif pour la formule Contact pour un chat né le 26.06.2019.
														<br>
														(2) 13,66€ : offre non contractuelle – tarif pour la formule Tranquillité&nbsp;pour le même profil que le (1).
														<br>
														(3) 23,18€ : offre non contractuelle – tarif pour la formule Sérénité pour le même profil que le (1).
														<br>
														(4) Dans les limites et conditions définies par le contrat.
													</i>
												</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
			<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
		</div>
	</div>
</div>