<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>RC PRO & DECENNALE</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row px-3 mt-2 fil-ariane">
        					<p>
							<a href="{{ path('home')}}">Accueil</a> -
							<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
							<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
							<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
							</p>
						</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappellé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_add')}}"> <button class="btn btn-outline-success">Faire une demande de devis en 2mn</button></a></div>
					<div class="description-pro">
						<div class="et_pb_section et_pb_section_5 et_section_regular">
							<div class="et_pb_row et_pb_row_5">
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
								<div class="et_pb_text_inner">
											<h2>La garantie décennale, assurance obligatoire du chantier</h2>
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
									<img src="{{ asset('assets/images/photos/decennale.jpg')}}" alt="image illustration decennale">
										<div class="et_pb_text_inner">
											<p>
												La responsabilité des constructeurs est une tradition ancienne puisqu’elle date de notre Code civil de 1804. Depuis cette date, le régime de la responsabilité a souvent évolué dans une logique de sécurisation du consommateur. Il en est de même pour le régime d’assurance qui couvre la responsabilité de ces constructeurs.</p>

												<p>L'assurance obligatoire généralisée est en France destinée à assurer une protection du consommateur. Ce sont les textes légaux et les clauses types, qui déterminent le minimum de garanties contenues dans les contrats d'assurance.
											</p>
										</div>
									</div>
								</div>
								<div class="et_pb_module et_pb_text et_pb_text_5 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
									<div class="et_pb_text_inner">
										<h2>La responsabilité civile exploitation ou professionnelle</h2>
											<p>Le professionnel est responsable de tous les dommages pouvant être causés aux tiers à l’occasion de son activité.<br> Même s’il n’est pas tenu à une obligation de résultat, son obligation de moyens et son devoir de conseil sont chaque jour plus importants. Sa responsabilité est reconnue pour tous les dommages matériels ou immatériels, les fautes inexcusables, les accidents corporels, les dommages à l’environnement, etc..., lorsque ceux-ci ont pour fait générateur, entre autres :<br>

											- une faute ou une erreur<br>
											- une omission, une négligence, une insuffisance commise dans l’exercice de son activité<br>
											- un vice de conception ou de réalisation des ouvrages ou travaux, etc...</p>

										<h3>Quels sont les principes de la responsabilité ?</h3>
												<p>Vous êtes constructeur, une présomption de responsabilité d’ordre public pèse sur vous pendant les dix ans qui suivent la réception des travaux. Ce principe est d’ordre public et ne saurait être altéré par contrat.</p>

												<p>Ce qui veut dire que vous ne pouvez vous exonérer de cette responsabilité de plein droit que si vous prouvez que les dommages proviennent d'une cause étrangère : un cas de force majeure, la faute d’un tiers ou celle de la victime.</p>

										<h3>Quelle est la durée de l’engagement ?</h3>
												<p>Vous engagez votre responsabilité pendant une durée de dix ans incompressible vis-à-vis du maître de l’ouvrage et des acquéreurs successifs. La date de la réception des travaux constitue le point de départ du délai de la responsabilité qui pèse sur vous. La réception est l'acte par lequel le maître de l'ouvrage déclare accepter l'ouvrage avec ou sans réserves. Elle intervient à la demande de la partie la plus diligente et fait généralement l’objet d’un écrit. Elle est, en tout état de cause, prononcée contradictoirement. 
												</p>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Qu’est-ce que l’assurance de responsabilité décennale ?</h2>
												<p>
														Le système français d’assurance construction instauré depuis 1978 est dit à « double détente » :
														
														<p>- L’assureur dommages ouvrage indemnise le propriétaire dans des délais et conditions fixés par les clauses types ;</p>
														<p>- L’assureur dommages ouvrage exerce ensuite des recours contre les constructeurs responsables et leurs assureurs en responsabilité décennale.</p>
														<p>Ce système permet une indemnisation rapide du maître de l’ouvrage et assure une protection efficace du consommateur.</p>

														<h3>Devez-vous obligatoirement vous assurer ?</h3>
														<p>Si vous êtes une personne physique ou morale, dont la responsabilité décennale peut être engagée sur le fondement de la présomption établie par les articles 1792 et suivants du Code civil (à propos de travaux de construction constitutifs d’un ouvrage), vous devez être couvert par une assurance de responsabilité décennale. </p>

														<p>Une exception : si vous réalisez certains ouvrages bien spécifiques vous n’êtes pas soumis à l’obligation d’assurance. Il s’agit notamment d’ouvrages se rattachant au génie civil (ouvrages maritimes, d’infrastructures routières, portuaires, aéroportuaires, ferroviaires, de traitement de résidus urbains et déchets industriels et de stockage), des voiries et réseaux divers (VRD) et des ouvrages sportifs non couverts. Il en va de même si vous installez des éléments d’équipement dont la fonction exclusive est de permettre l’exercice d’une activité professionnelle dans l’ouvrage (par exemple chaîne de montage dans une usine, portique de levage industriel, système d’alimentation automatisé pour les animaux…).</p>

														<p>Votre contrat d’assurance obligatoire doit comporter des garanties équivalentes à celles figurant dans les clauses types. Celles-ci sont donc reproduites dans les contrats. Elles constituent un minimum de garantie qu’aucun élément du contrat ne doit restreindre mais qu’il est possible d’élargir contractuellement. Les clauses imposées concernent la durée et le maintien de la garantie, les franchises et les exclusions. </p>

														<p>Tout constructeur doit avoir une assurance de responsabilité décennale c’est pourquoi, le Bureau Central de Tarification (BCT), autorité administrative indépendante, peut être saisi par un constructeur qui se heurte à des refus d’assurance, pour fixer des conditions tarifaires et un montant de franchise pour le garantir en responsabilité décennale obligatoire.</p>

														<h3>Que couvre l’assurance de responsabilité décennale ?</h3>
														<p>Le contrat garantit le paiement des travaux de réparation de l’ouvrage, lorsque votre responsabilité est engagée pour des travaux de construction. </p>

														<p>La garantie couvre les dommages matériels, d’une certaine gravité, quelles qu’en soient les causes et origines, résultant de vices cachés lors de la réception et révélés dans le délai de dix ans.</p> 
														<p>Les dommages doivent être d’une certaine gravité et doivent avoir pour conséquence :</p>
														<ul>
														<p>- soit de compromettre la solidité de l’ouvrage ;</p>
														<p>- soit de rendre l’ouvrage impropre à sa destination.</p>
														<p>L’impropriété à destination empêche l’ouvrage de remplir la fonction à laquelle il est destiné. C’est une notion subjective interprétée au cas par cas.</p>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappellé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_add')}}"> <button class="btn btn-outline-success">Faire une demande de devis en 2mn</button></a></div>