<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>DOMMAGE OUVRAGE</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
						</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappellé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_add')}}"> <button class="btn btn-outline-success">Faire une demande de devis en 2mn</button></a></div>
					<div class="description-pro">
						<div class="et_pb_section et_pb_section_5 et_section_regular">
							<div class="et_pb_row et_pb_row_5">
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">

									</div>
									<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
									<img src="{{ asset('assets/images/photos/do.jpg')}}" alt="image illustration dommage ouvrage">
										<div class="et_pb_text_inner">
											<p>
                                                La loi oblige le maître d’ouvrage qui souhaite effectuer des travaux de construction à souscrire une assurance dommages ouvrage avant l’ouverture du chantier. Celle-ci permet de réparer rapidement, en dehors de toute recherche de responsabilité, des malfaçons constatées une fois la maison ou l’immeuble construits, qui menacent leur solidité ou les rendent inhabitables.

                                                C’est le propriétaire du logement construit qui bénéficie de l’assurance dommages ouvrage. Ce sera à lui de la faire jouer s’il y a lieu.
											</p>
										</div>
									</div>
								</div>
								<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
									<div class="et_pb_text_inner">
										<h2>La souscription du contrat d’assurance dommages ouvrage</h2>

                                        <h3>Qui doit souscrire l’assurance dommages ouvrage ?</h3>
											
                                            <p>Le maître d’ouvrage, c'est-à-dire toute personne physique ou morale qui, agissant en qualité de propriétaire, de vendeur ou de mandataire du propriétaire de l’immeuble, fait réaliser les travaux.</p> 

                                        <h4>Le promoteur immobilier ou le vendeur</h4>


											<p>Il doit souscrire cette assurance au bénéfice des propriétaires successifs. La loi vise les promoteurs aussi bien professionnels qu’occasionnels.</p>

										<h4>Le maître d’ouvrage</h4>
											
                                            <p>Tout constructeur d'un ouvrage est responsable de plein droit, envers le maître de l'ouvrage, des dommages, même résultant d'un vice du sol, qui compromettent la solidité de l'ouvrage ou qui le rendent impropre à sa destination.</p>

											<p>Il est concerné s’il traite directement avec l’architecte et l’entrepreneur ou s’il construit sa maison lui-même.</p><br>

										<h4>Le constructeur de maisons individuelles</h4>

											<p>La loi l’oblige à préciser, dans le contrat de construction conclu avec le maître d’ouvrage, la référence de l’assurance dommages ouvrage. À défaut d’obtention de cette assurance dans le délai prévu par le contrat de construction de maison individuelle, toutes les sommes versées doivent être remboursées au maître d’ouvrage. Le prêteur ne peut émettre une offre de prêt sans avoir vérifié que le contrat comporte les mentions obligatoires relatives à cette assurance.</p>

                                		<h4>Certains constructeurs de maisons individuelles</h4>

											<p>Sont concernés ceux qui proposent à leurs clients d’adhérer à une assurance de groupe dont ils ont eux-mêmes négocié les garanties et le prix avec leur assureur. Le maître d’ouvrage reste libre d’accepter ou non. S’il accepte, c’est le constructeur qui souscrit l’assurance pour le compte du maître d’ouvrage. Il doit remettre au maître d’ouvrage une attestation d’assurance comportant au verso un extrait du contrat.</p>

                                		<h4>Un organisme ou un professionnel (syndicat de copropriété…)</h4>

											<p>Le maître d’ouvrage peut le charger des démarches administratives, juridiques ou financières. Dans ce cas, il doit donc souscrire cette assurance en qualité de mandataire, notamment pour les travaux sur les parties communes et relevant de la garantie décennale.</p>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">

												<h3>La déclaration du risque</h3>
												<p>La proposition d’assurance est un questionnaire par lequel celui qui souhaite s’assurer décrit son risque à l’assureur. En fonction des réponses apportées au questionnaire, les entreprises d’assurances peuvent accorder les garanties demandées ou refuser de couvrir le risque.</p>

												<p>De son côté, l’assuré reste libre de revenir sur sa demande : la proposition d’assurance n’engage ni l’assuré ni l’assureur. Mais, une fois le contrat conclu, la proposition devient un document contractuel, parce que les informations qui y sont données par l’assuré représentent la base des engagements de l’assureur.</p>

												
												<p>Les renseignements demandés concernent le futur assuré, l’opération de construction, son coût, les dates prévues pour le début et la fin des travaux, le contrôleur technique, l’étendue des garanties demandées, les différents intervenants dans l’opération de construction et certaines caractéristiques de la construction.</p>

												<p> L’assuré est obligé de fournir à l’assureur, à la demande de celui-ci, la preuve de l’existence des contrats d’assurance de responsabilité professionnelle souscrits tant par lui-même que par les réalisateurs et le contrôleur technique.
												</p>

												<h3>Les clauses types</h3>
												<p>Tout contrat d’assurance dommages ouvrage doit obligatoirement comporter les clauses types figurant dans le Code des assurances. Constituant un minimum de garantie, elles concernent la durée et le maintien de la garantie, les exclusions et les obligations réciproques de l’assuré et de l’assureur, notamment en cas de sinistre.</p>

												<h3>Les déclarations prévues par les clauses types</h3>
												<p>L’assuré doit :</p>
                                                <p>- fournir à l’assureur, à la demande de celui-ci, les attestations d’assurance des constructeurs avec lesquels il a traité ;</p>
                                                <p>- lui déclarer les réceptions des travaux et remettre, dans le mois de leur prononcé, le ou les procès-verbaux et le relevé des observations ou réserves non levées du contrôleur technique ;</p>
                                                <p>- lui adresser un dossier technique comportant au moins les plans et descriptifs de l’ensemble des travaux effectivement réalisés, dans le délai maximal d’un mois à compter de leur achèvement ;</p>
                                                <p>- lui notifier, dans le délai maximal d’un mois à compter de leur achèvement, le constat de l’exécution des travaux éventuellement effectués au titre de la garantie de parfait achèvement, ainsi que le relevé des observations ou réserves restées non levées du contrôleur technique ;</p>
                                                <p>- lui déclarer le coût total de construction définitif.</p>

                                                <h3>La tarification</h3>
												<p>L’assurance dommages ouvrage est obligatoire, mais les assureurs qui la proposent sont en concurrence et les tarifs sont libres.</p>
                                                <p>Chaque assureur consulté fixe la cotisation en fonction, notamment, des éléments suivants :</p>

                                                <p>- le coût de la construction ;</p>
                                                <p>- la qualification professionnelle des constructeurs ;</p>
                                                <p>- l’existence et l’étendue d’une mission de contrôle technique des travaux par un contrôleur technique agréé ;</p>
                                                <p>- la souscription de garanties facultatives comme les garanties de bon fonctionnement ou des dommages immatériels après la réception (par exemple, perte de loyers si un logement est rendu provisoirement inhabitable) ;</p>
                                                <p>- la présence d’une étude de sol.</p>

                                                <h3>Le calcul de la cotisation</h3>
												<p>Elle est calculée par application d’un taux sur le coût total de construction définitif.</p>
                                                <p>Cette cotisation unique à régler à l’assureur comprend :</p>

                                                <p>- la cotisation provisoire résultant de l’estimation prévisionnelle du coût total de construction ;</p>
                                                <p>- l’ajustement de la cotisation résultant du coût total de construction définitif, cet ajustement étant payable dès la déclaration dudit coût, et au plus tard dans les deux mois de cette déclaration.</p>

                                                <h3>Le Bureau central de tarification</h3>
												<p>Telle que la loi la définit, l’obligation d’assurance est d’abord une obligation de s’assurer et s’applique à la personne porteuse du risque : il ne s’agit pas d’une obligation pour l’assureur d’assurer. Afin que tous les intéressés puissent satisfaire à la loi, il a été créé un Bureau central de tarification.</p>
                                                <p>Si l’assureur consulté laisse passer quarante-cinq jours sans répondre à la demande d’assurance, formulée par courrier recommandé (avec demande d’avis de réception), son silence est considéré comme un refus. Dans ce cas, l’assuré a quinze jours pour saisir le Bureau central de tarification (BCT, 1, rue Jules-Lefebvre, 75009 Paris) par lettre recommandée.</p>

                                                <p>Cet organisme fixera le montant de la cotisation à payer et l’assureur sera tenu d’accorder sa garantie.</p>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Les garanties de l’assurance dommages ouvrage</h2>

                                                <h3>La garantie obligatoire</h3>
												<p>
														L’assurance garantit obligatoirement le financement de la réparation des dommages qui compromettent la solidité de l’immeuble ou le rendent impropre à sa destination.</p>

                                                        <p>Sont aussi couverts les dommages aux éléments d’équipement indissociables que l’on ne peut enlever, démonter ni remplacer sans détériorer la construction.</p>

                                                        <p>Cette garantie commence après l’année de parfait achèvement et prend fin à l’expiration d’un délai de dix ans à compter de la réception. Elle est aussi acquise :</p>
														
														<p>- avant réception, lorsque, après mise en demeure restée infructueuse, le contrat de louage d’ouvrage conclu avec l’entrepreneur est résilié pour inexécution par celui-ci de son obligation de réparer ;</p>
														<p>- après réception, et avant expiration du délai de garantie de parfait achèvement, lorsque, après mise en demeure restée infructueuse, l’entrepreneur n’a pas exécuté, dans le délai fixé par le marché ou, à défaut, dans un délai de quatre-vingt-dix jours, son obligation de réparer.</p>


												<h3>La garantie des éléments d’équipement dissociables</h3>
														<p>Cette garantie commence après le délai de parfait achèvement et prend fin à l’expiration d’un délai de deux ans à compter de la réception. Non soumise aux clauses types obligatoires, elle peut être limitée, comporter une franchise ou des exclusions, et les délais de détermination de l’indemnité fixés pour la garantie obligatoire ne s’imposent pas à l’assureur. Il convient de se reporter au contrat pour connaître l’étendue de cette garantie et ses modalités. </p>

												<h3>La garantie des dommages immatériels consécutifs à des désordres garantis</h3>
														<p>Le contrat d’assurance dommages ouvrage peut garantir en option les dommages immatériels subis par le propriétaire de la construction ou ses occupants, résultant directement d’un dommage survenu après réception. Cette option peut se révéler très utile dans la mesure où la garantie obligatoire n’inclut pas les pertes de jouissance (impossibilité d’occuper le bâtiment pendant la durée nécessaire aux travaux de réparation s’il s’agit d’un logement ou perte de loyers si l’immeuble est loué).</p>

                                                        <p>Cette garantie varie selon les contrats, elle peut comporter une franchise ou des exclusions. Il convient donc de se reporter au contrat.</p>

												<h3>La garantie des dommages aux existants du fait des travaux neufs</h3>
														<p>Sont appelées « existants » les parties anciennes de la construction qui ne font pas l’objet de travaux de rénovation. Le contrat d’assurance dommages ouvrage peut garantir en option les dommages concernant ces parties anciennes après que le maître d’ouvrage a accepté l’ouvrage, avec ou sans réserves.</p>


                                                
												<h3>La réception, point de départ des garanties</h3>
														<p>La réception est l’acte par lequel le maître d’ouvrage accepte l’ouvrage, avec ou sans réserves. Elle intervient lorsque l’entrepreneur livre la construction terminée. Dans l’habitat collectif, l’acquéreur ne participe pas juridiquement à la réception. C’est au vendeur de signer le procès-verbal de réception. En revanche, dans le cas d’un contrat de construction de maison individuelle, le destinataire de la construction procède lui-même à la réception puisqu’il est le maître de l’ouvrage.</p>
                                                        <p>vant de signer la réception avec les entreprises ou de constater la livraison du logement par le vendeur, il importe de signaler par écrit les défectuosités et aussi les non-conformités par rapport à ce qui a été promis. Il faut adresser une copie de ce document à l'assureur dommages ouvrage pour information.</p>
                                                        <p>Avec un constructeur de maison individuelle, il est possible, pour protéger ses droits, de consigner la retenue de garantie.</p>
                                                        <p>Si la réception de la maison est effectuée sans l’assistance d’un professionnel, le maître d’ouvrage dispose d’un délai de huit jours pour signaler les défauts qu’il n’aurait pas vus.</p>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Dommages ouvrage : l’indemnisation en cas de sinistre</h2>
												
														<h3>Les formalités de déclaration</h3>
														<p>L’assuré doit faire une déclaration dans le délai fixé par le contrat, par lettre recommandée avec demande d’avis de réception. Ce délai ne peut être inférieur à cinq jours ouvrés.</p>

														<p>Les coordonnées de l’assureur figurent sur le contrat, l’attestation d’assurance ou l’imprimé de déclaration de sinistre remis lors de l’acquisition du logement.</p>

														<p>Pour une copropriété, le syndic détient le contrat d’assurance dommages ouvrage de l’immeuble. Il peut se charger de déclarer le sinistre et d’entretenir avec l’assureur les relations nécessaires jusqu’au paiement de l’indemnité. Il doit le faire si les dommages affectent les parties communes de l’immeuble, même s’ils se répercutent sur les parties privatives. Il est donc toujours nécessaire de signaler au syndic les malfaçons constatées.</p>

														<p>La déclaration de sinistre doit obligatoirement comporter :</p>
                                                        <p>- le numéro du contrat d’assurance ;</p>
                                                        <p>- le nom du propriétaire et l’adresse de la construction endommagée ;</p>
                                                        <p>- la date de la réception ou, à défaut, la date de la première occupation des locaux ;</p>
                                                        <p>- la date d’apparition des dommages ainsi que leur description et localisation ;</p>
                                                        <p>- la copie de la mise en demeure effectuée au titre de la garantie de parfait achèvement si la déclaration est effectuée pendant l’année qui suit la réception des travaux.</p>

														
														<p>En cas de déclaration incomplète, l’assureur dispose de dix jours à compter de la réception de la déclaration pour réclamer les renseignements manquants. Mais l’indemnisation sera retardée, puisque les délais de règlement du sinistre qui s’imposent à l’assureur ne commencent à courir qu’à partir du jour où il reçoit la totalité des renseignements nécessaires.</p>

														<p>Si les dommages ont provoqué des dégâts d’eau chez l’assuré ou un voisin, ou encore un début d’incendie, il faut adresser une seconde déclaration de sinistre à l’assureur multirisques habitation.<p>

														<p>Dans tous les cas, il convient de préciser les mesures d’urgence qui ont été prises : réparation d’une canalisation rompue, par exemple.</p>

														<p><b>En cas de désaccord</b>Il faut aviser l’assureur en cas de désaccord sur les réparations ou le montant de l’indemnité proposés. L’assuré peut lui demander une avance égale aux trois quarts de l’indemnité proposée en attendant que le litige soit tranché.

                                                        L’assureur a le droit de vérifier que l’avance versée a bien servi à effectuer les réparations.</p>

														<h3>Le constat des dommages et l’expertise</h3>
														<p>Si l’assureur évalue le dommage à un montant inférieur à 1 800 euros TTC ou que la mise en jeu de la garantie est manifestement injustifiée, il n’est pas tenu de recourir à une expertise.</p>

														<p>Dans ces cas, il notifie son offre d’indemnité ou sa décision de refus de garantie dans un délai de quinze jours après la déclaration complète de sinistre.<p>

														<p>La notification de l’assureur doit reproduire de façon apparente la mention suivante : « En cas de contestation de l’assuré, celui-ci peut obtenir la désignation d’un expert. »</p>
														<p>L’expert constate, décrit et évalue les dommages. Il peut être récusé par l’assuré dans les huit jours où l’assuré reçoit sa désignation. En cas de seconde récusation par l’assuré, l’assureur fait désigner l’expert par le juge des référés.</p>
														<p>Lors de la première demande de récusation, les délais d’instruction et de règlement de sinistre sont augmentés de dix jours. En cas de désignation de l’expert par le juge des référés, ces délais sont augmentés de trente jours.</p>
														<p>Les opérations de l’expert revêtent un caractère contradictoire. L’assuré peut se faire assister ou représenter. Ses observations éventuelles sont consignées dans le rapport de l’expert.</p>


														<h3>Les deux rapports d’expertise</h3>
														<p>L’expertise comporte deux rapports :</p>

                                                        <h4>Le rapport préliminaire</h4>

														<p>Il indique les mesures conservatoires à prendre pour éviter l’aggravation des dommages.</p>

														<p>Il contient aussi l’analyse du dommage, ce qui permet à l’assureur de se prononcer sur le principe de la mise en jeu des garanties du contrat. Il comporte une estimation du coût des travaux. À l’issue du rapport préliminaire, l’assureur se prononce sur le droit à la garantie et doit motiver toute décision de refus d’indemnisation.</p>


                                                        <h4>Le rapport final</h4>

														<p>Il établit les mesures définitives à prendre pour obtenir la réparation intégrale des désordres, ainsi que leur estimation.</p>

														<p>L’indemnité sera actualisée et revalorisée pour tenir compte du décalage entre la date à laquelle elle est évaluée et la date à laquelle le paiement interviendra.</p>

                                                        <p>Le montant de l’indemnité est ventilé entre le coût des travaux et les frais annexes. Il est tenu compte, s’il y a lieu, des frais déjà avancés et de l’indemnité provisoire versée. L’assureur doit obligatoirement appliquer les dispositions prévues par les clauses types pour déterminer le montant lié aux dommages de nature décennale.</p>

														<h3>La mise en jeu des garanties</h3>
														<p>Les clauses types précisent que l’assureur dispose de soixante jours au maximum après réception de la déclaration de sinistre pour faire expertiser les dommages, communiquer le rapport de l’expert (qui comporte notamment les mesures conservatoires nécessaires) et annoncer si l’assurance joue.</p>

														<p>S’il estime la demande non fondée, il doit, dans le même délai, le faire savoir et donner ses raisons. Ce délai est porté à soixante-dix jours si l’expert a été récusé une fois et à quatre-vingt-dix jours s’il a été récusé deux fois.</p>

														<p>L’assureur doit présenter trente jours après (avec un délai supplémentaire de cent trente-cinq jours au maximum en cas de difficultés exceptionnelles) une offre d’indemnité, qui peut être provisionnelle. Il doit ensuite régler l’indemnité dans les quinze jours à compter de l’acceptation de l’offre par l’assuré.</p>
                                                        <p>Si l’assureur ne respecte pas les délais ou si l’offre d’indemnité est manifestement insuffisante, l’assuré peut engager les dépenses nécessaires à la réparation des dommages, après en avoir informé l’assureur.
                                                        L’indemnité due par l’assureur est alors majorée d’un intérêt égal au double du taux d’intérêt légal.</p>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div>
		<div class="submit-button-container-devis">
			<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
				<button class="btn btn-outline-success">Demander à être rappellé</button>
			</a>
		</div>
		<div class="submit-button-container-devis">
			<a href="{{ path('assurances_devis_add')}}"> 
				<button class="btn btn-outline-success">Faire une demande de devis en 2mn</button>
			</a>
		</div>