<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
				<div class="entry-content">
					<div id="et-boc" class="et-boc">
						<div class="et_builder_inner_content et_pb_gutters3">
							<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
								<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Multirisque habitation</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="mt-2 fil-ariane">
									<p>
									<a href="{{ path('home')}}">Accueil</a> -
									<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
									<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
									</p>
								</div>
							</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappelé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="#"> <button class="btn btn-outline-success">Faire un devis en quelques clics(désactivé)</button></a></div>
								<div class="et_pb_section et_pb_section_5 et_section_regular">
									<div class="et_pb_row et_pb_row_5">
										<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
											<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
												<div class="et_pb_text_inner">
													<h2>Une protection sur-mesure pour votre habitation et vos biens</h2>
												</div>
											</div>
											<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
												<div class="et_pb_text_inner">
													<p>
														Que vous soyez locataire, propriétaire, ou propriétaire non occupant, avec antécédents de non-paiement de primes, les offres d’assurance habitation {{societyName}} s’adaptent à tous vos besoins.
													</p>
													<p>
														En plus d’un socle de garanties classiques comme la protection&nbsp; contre les incendies, les dégâts des eaux, le vol, le bris de glace, la responsabilité civile…, vous avez la possibilité de personnaliser votre offre grâce aux extensions de garanties et aux nombreuses options disponibles, pour protéger vos biens même extérieurs, et pourquoi pas opter pour une garantie rééquipement à neuf.
													</p>
													<p>
														Souscrire chez {{societyName}} un contrat habitation, c’est s’assurer d’être bien protégé au tarif le plus compétitif&nbsp;!
													</p>
												</div>
											</div>
										</div>
										<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
											<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
												<div class="et_pb_text_inner">
													<h3 style="text-align: left;">
														Les 
														<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
														<span style="display:none;">plus</span>
														&nbsp;<br>{{societyName}}
													</h3>
												</div>
											</div>
											<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
												<div class="et_pb_text_inner">
													<ul>
														<li>Une protection pour tous les biens et tous les profils à un tarif ultra compétitif</li>
														<li>Des garanties solides&nbsp;: assurance du capital mobilier jusqu’à 150&nbsp;000&nbsp;€</li>
														<li>De nombreuses options&nbsp;: assurance scolaire, rééquipement à neuf</li>
														<li>Une assistance renforcée : hébergement provisoire et gardiennage de vos meubles en cas de sinistre</li>
													</ul>
												</div>
											</div>
											<div class="et_pb_module et_pb_text et_pb_text_8 sg-block-prix-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
												<div class="et_pb_text_inner">
													<p style="text-align: center; color:white;">
														à partir de
														<br>
														<strong>7,58€<sup>(1)</sup></strong>
														<br>
														par mois
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
									<div class="et_pb_row et_pb_row_6">
										<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
											<div class="sg-offertable sg-offertable-nbcol-5">
												<div class="sg-offertable-mobileswitcher">
													<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button"></i>
													<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">7,58€<sup>(1)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<div class="tablecol_logo_wrapper">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact-plus.jpg') }}" alt="logo offre contact plus">
															</div>
															<div class="tablecol_desc">
																<div class="tablecol_desc_title">
																	Propriétaire et locataire
																</div>
																<div class="tablecol_desc_content">
																	Les garanties essentielles pour protéger son bien
																</div>
															</div>
														</div>
													</div>
													<div class="sg-offertable-mobileswitcher_item">
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">7,97€<sup>(2)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<div class="tablecol_logo_wrapper">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}" alt="logo offre confort">
															</div>
															<div class="tablecol_desc">
																<div class="tablecol_desc_title">
																	Propriétaire et locataire
																</div>
																<div class="tablecol_desc_content">
																	Une protection avec du rééquipement à neuf
																</div>
															</div>
														</div>
													</div>
													<div class="sg-offertable-mobileswitcher_item">
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">8,16€<sup>(3)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<div class="tablecol_logo_wrapper">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}" alt="logo offre serenite">
															</div>
															<div class="tablecol_desc">
																<div class="tablecol_desc_title">
																	Propriétaire et locataire
																</div>
																<div class="tablecol_desc_content">
																	Une couverture sans franchise
																</div>
															</div>
														</div>
													</div>
													<div class="sg-offertable-mobileswitcher_item">
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">7,58€<sup>(4)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<div class="tablecol_logo_wrapper">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}" alt="logo offre confort">
															</div>
															<div class="tablecol_desc">
																<div class="tablecol_desc_title">
																	Propriétaire non-occupant
																</div>
																<div class="tablecol_desc_content">
																	Une protection solide avec les garanties essentielles
																</div>
															</div>
														</div>
													</div>
													<div class="sg-offertable-mobileswitcher_item">
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">8,16€<sup>(5)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<div class="tablecol_logo_wrapper">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}" alt="logo offre serenite">
															</div>
															<div class="tablecol_desc">
																<div class="tablecol_desc_title">
																	Propriétaire non-occupant
																</div>
																<div class="tablecol_desc_content">
																	Une couverture sans franchise
																</div>
															</div>
														</div>
													</div>
													<i  class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
												</div>
												<table class="sg-offertable-table">
													<thead>
														<tr>
															<th class="sg-has-titlegreen sg-has-titlegrey ">
																<div class="sg-title-green">
																	Les garanties
																</div>
																<div class="sg-subtitle-grey">
																	Garanties de base
																</div>
															</th>
															<th class="sg-offertable-ms-current">
																<div class="tablecol_priceblock">
																	<div class="tablecol_priceblock_gradient">
																		à partir de
																		<span class="tablecol_priceblock_price">7,58€<sup>(1)</sup></span>
																		par mois
																	</div>
																</div>
																<div class="tablecol_logocont">
																		<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact-plus.jpg') }}" alt="logo offre contact plus">
																	<div class="tablecol_desc">
																		<div class="tablecol_desc_title">
																			Propriétaire et locataire
																		</div>
																		<div class="tablecol_desc_content">
																			Les garanties essentielles pour protéger son bien
																		</div>
																	</div>
																</div>
															</th>
															<th>
																<div class="tablecol_priceblock">
																	<div class="tablecol_priceblock_gradient">
																		à partir de
																		<span class="tablecol_priceblock_price">7,97€<sup>(2)</sup></span>
																		par mois
																	</div>
																</div>
																<div class="tablecol_logocont">
																		<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}" alt="logo offre confort">
																	<div class="tablecol_desc">
																		<div class="tablecol_desc_title">
																			Propriétaire et locataire
																		</div>
																		<div class="tablecol_desc_content">
																			Une protection avec du rééquipement à neuf
																		</div>
																	</div>
																</div>
															</th>
															<th>
																<div class="tablecol_priceblock">
																	<div class="tablecol_priceblock_gradient">
																		à partir de
																		<span class="tablecol_priceblock_price">8,16€<sup>(3)</sup></span>
																		par mois
																	</div>
																</div>
																<div class="tablecol_logocont">
																		<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}" alt="logo offre serenite">
																	<div class="tablecol_desc">
																		<div class="tablecol_desc_title">
																			Propriétaire et locataire
																		</div>
																		<div class="tablecol_desc_content">
																			Une couverture sans franchise
																		</div>
																	</div>
																</div>
															</th>
															<th>
																<div class="tablecol_priceblock">
																	<div class="tablecol_priceblock_gradient">
																		à partir de
																		<span class="tablecol_priceblock_price">7,58€<sup>(4)</sup></span>
																		par mois
																	</div>
																</div>
																<div class="tablecol_logocont">
																		<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}" alt="logo offre confort">
																	<div class="tablecol_desc">
																		<div class="tablecol_desc_title">
																			Propriétaire non-occupant
																		</div>
																		<div class="tablecol_desc_content">
																			Une protection solide avec les garanties essentielles
																		</div>
																	</div>
																</div>
															</th>
															<th>
																<div class="tablecol_priceblock">
																	<div class="tablecol_priceblock_gradient">
																		à partir de
																		<span class="tablecol_priceblock_price">8,16€<sup>(5)</sup></span>
																		par mois
																	</div>
																</div>
																<div class="tablecol_logocont">
																		<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}" alt="logo offre serenite">
																	<div class="tablecol_desc">
																		<div class="tablecol_desc_title">
																			Propriétaire non-occupant
																		</div>
																		<div class="tablecol_desc_content">
																			Une couverture sans franchise
																		</div>
																	</div>
																</div>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860e4da9" aria-expanded="false" aria-controls="linecollapse_5f2bd860e4da9">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Responsabilité civile
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860e4da9" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			L’assurance responsabilité civile permet de couvrir les risques de dommages que vous pourriez causer aux autres comme à vos voisins par exemple, en cas de fuite d’eau depuis votre appartement dont l’eau s’écoulerait jusqu’à l’appartement de votre voisin du dessous. En cas de dommage, cette garantie permet d’indemniser la victime à votre place.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860e54ae" aria-expanded="false" aria-controls="linecollapse_5f2bd860e54ae">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Défense pénale et recours suite à accident
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860e54ae" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			En cas de poursuite judiciaires pour des faits mettant en cause votre responsabilité civile, cette garantie permet que vos intérêts personnels soient défendus.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-sep">
															<th>
																<div class="tableline_title">
																	Garanties de dommage à l’habitation
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C.png') }}" alt="mini logo offre contact plus">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}" alt="mini logo offre confort">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}" alt="mini logo offre serenite">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}" alt="mini logo offre confort">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}" alt="mini logo offre serenite">
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860eba7c" aria-expanded="false" aria-controls="linecollapse_5f2bd860eba7c">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Incendie et événements assimilés
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860eba7c" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			L’assurance habitation {{societyName}} vous indemnise si votre habitation subit des dégâts à cause d’un feu ou d’une explosion qui pourrait venir de vos canalisations électriques, d’un chauffage, d’un téléphone etc. Aussi, si au moment de l’intervention des pompiers, votre logement subit d’autres dégâts, l’assurance habitation {{societyName}} les prendra en charge.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860ec1b5" aria-expanded="false" aria-controls="linecollapse_5f2bd860ec1b5">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Evénements climatiques
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860ec1b5" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			Dans les cas où l’état de catastrophe naturelle n’est pas déclaré, la garantie «&nbsp;événements climatiques et inondations&nbsp;» entre en jeu et vous indemnise en cas de dégâts causés suite à un épisode de grêle,de fortes pluies, du poids de la neige sur les toitures, des coulées de boue, des glissements de terrain…
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860ec829" aria-expanded="false" aria-controls="linecollapse_5f2bd860ec829">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Dégâts des eaux
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860ec829" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			La garantie dégâts des eaux vous couvre pour les dommages causés par l’eau à votre logement, vos biens… et aussi la perte de jouissance de votre logement. La garantie {{societyName}} prend aussi en charge les frais de recherche de fuite.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860ece8f" aria-expanded="false" aria-controls="linecollapse_5f2bd860ece8f">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Bris de glace
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860ece8f" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			En cas de bris de glaces accidentel ou du fait d’un tiers mal intentionné, nous prenons en charge les réparations et le remplacement de votre vitre.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860ed4fa" aria-expanded="false" aria-controls="linecollapse_5f2bd860ed4fa">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Vandalisme
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860ed4fa" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			La garantie vandalisme concerne les détériorations gratuites de biens situés à l’extérieur de votre habitation. Cela peut concerner des graffitis, des casses de mobilier extérieur ou les dégradations…
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860edb68" aria-expanded="false" aria-controls="linecollapse_5f2bd860edb68">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Vol et détériorations
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860edb68" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			La garantie Vol et détériorations vous indemnise en cas de vol ou détérioration de vos effets personnels avec effraction, par escalade, crochetage de la serrure, ruse…
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	-
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	-
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860ee1b4" aria-expanded="false" aria-controls="linecollapse_5f2bd860ee1b4">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Catastrophes naturelles
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860ee1b4" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			L’assurance habitation {{societyName}} vous indemnise en cas de catastrophe naturelle comme une inondation, une coulée de boue, un séisme etc.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860ee807" aria-expanded="false" aria-controls="linecollapse_5f2bd860ee807">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Catastrophes technologiques
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860ee807" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			L’assurance habitation {{societyName}} vous indemnise en cas de détérioration de votre logement suite à un accident non-nucléaire survenant soit d’une installation classée à risque soit dans un stockage souterrain de produits dangereux, soit à l’occasion d’un transport de matières dangereuses.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860eee57" aria-expanded="false" aria-controls="linecollapse_5f2bd860eee57">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Attentats et actes de terrorisme
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860eee57" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			La garantie attentats prend en charge les dommages matériels engendrés par des actes terroristes.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860ef4a4" aria-expanded="false" aria-controls="linecollapse_5f2bd860ef4a4">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Accidents électriques et ménagers
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860ef4a4" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			L’assurance habitation {{societyName}} vous indemnise en cas de dommage causé à un objet en contact avec une source de chaleur, telle qu’une flamme ou un fer à repasser par exemple et en cas de dégâts causés par une surtension ou une sous-tension de votre installation électrique.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	-
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	-
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	-
																</div>
															</td>
														</tr>
														<tr class="tableline-sep">
															<th>
																<div class="tableline_title">
																	Extension de garanties
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C.png') }}" alt="mini logo offre contact plus">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}" alt="mini logo offre confort">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}" alt="mini logo offre serenite">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}" alt="mini logo offre confort">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}" alt="mini logo offre serenite">
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860f07c0" aria-expanded="false" aria-controls="linecollapse_5f2bd860f07c0">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Rééquipement à neuf
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860f07c0" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			En cas de détérioration de vos biens suite à un sinistre, vous recevrez une indemnisation correspondant à la valeur actuelle de votre bien, sans prise en compte de son coefficient de vétusté.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	-
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	-
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	-
																</div>
															</td>
														</tr>
														<tr class="tableline-sep">
															<th>
																<div class="tableline_title">
																	Garanties et services accessoires
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C.png') }}" alt="mini logo offre contact plus">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}" alt="mini logo offre confort">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}" alt="mini logo offre serenite">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}" alt="mini logo offre confort">
																</div>
															</td>
															<td>
																<div class="tableline_val">
																		<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}" alt="mini logo offre serenite">
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860f1aad" aria-expanded="false" aria-controls="linecollapse_5f2bd860f1aad">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Assistance
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860f1aad" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			En souscrivant à l’assurance habitation {{societyName}}, vous bénéficiez d’une assistance solide qui intervient immédiatement et vous accompagne en cas de sinistre chez vous en vous proposant par exemple un logement temporaire pris en charge en cas de logement non habitable.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860f2104" aria-expanded="false" aria-controls="linecollapse_5f2bd860f2104">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Individuelle accident
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860f2104" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			La garantie individuelle accident vous indemnise en cas de dommages corporels subis au cours d’un accident, que vous soyez responsable ou non, qu’un tiers responsable soit identifié ou non.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	-
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	-
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860f2749" aria-expanded="false" aria-controls="linecollapse_5f2bd860f2749">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Protection juridique
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860f2749" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			En cas de de procédure de justice suite à un litige vous opposant à un tiers, la garantie protection juridique vous permet d’être assisté, défendu ou représenté gratuitement par votre assurance habitation {{societyName}}.&nbsp;
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
														<tr class="tableline-notsep tableline-withtext">
															<th>
																<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860f2da9" aria-expanded="false" aria-controls="linecollapse_5f2bd860f2da9">
																	<i class="fa fa-chevron-down tableline_title_icon"></i>
																	Sans franchise
																</div>
																<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860f2da9" data-parent=".sg-offertable">
																	<div class="tableline_title_text">
																		<p>
																			Il s’agit du montant qui restera à votre charge en cas de sinistre.
																		</p>
																	</div>
																</div>
															</th>
															<td class="sg-offertable-ms-current">
																<div class="tableline_val">
																	-
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	-
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	-
																</div>
															</td>
															<td>
																<div class="tableline_val">
																	<i class="fa fa-check tableline_val_checked"></i>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									
									<div class="et_pb_row et_pb_row_7">
										<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
											<div class="et_pb_module et_pb_text et_pb_text_10 et_pb_bg_layout_light  et_pb_text_align_left">
												<div class="et_pb_text_inner">
													<h3>Les options disponibles</h3>
												</div>
											</div>
											<div class="et_pb_module et_pb_text et_pb_text_11 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
												<div class="et_pb_text_inner">
													<ul>
														<li>Protection de vos biens extérieurs : piscine, abri de piscine, cave à vin</li>
														<li>Protection des terrains jusqu’à 10 hectares</li>
														<li>Assurance scolaire ou chambre étudiante</li>
														<li>Protection de votre matériel professionnel</li>
														<li>Protection juridique en cas de litige</li>
														<li>Responsabilité civile chasse</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								<div class="et_pb_row et_pb_row_9">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_14 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<br>
												<br>
												<h3>L’assistance {{societyName}}</h3>
											</div>
										</div>
									</div>
								</div>
									<div class="et_pb_row et_pb_row_9 et_hover_enabled et_pb_gutters1 et_pb_row_4col">
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-home"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Mon logement est inhabitable</span></h4>
													<div class="et_pb_blurb_description">
														<p style="text-align: center;">
																Prise en charge d’un logement temporaire ainsi que de vos frais de vie, de nourriture et de déplacement
															<small style="font-size:10px;">
																(6)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_1 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-tools"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je souhaite réaliser des travaux</span></h4>
													<div class="et_pb_blurb_description">
														<p style="text-align: center;">
																Évaluation des travaux, mise en relation avec des artisans et aide au choix du meilleur prestataire pour vos travaux
															<small style="font-size:10px;">
																(6)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-exclamation-triangle"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Des nuisibles sont présents chez moi</span></h4>
													<div class="et_pb_blurb_description">
														<p style="text-align: center;">
																Identification par téléphone ou visio puis traitement des nuisibles ainsi que conseils pour éviter la même situation à l’avenir
															<small style="font-size:10px;">
																(6)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_3 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="far fa-6x fa-clock"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>J’ai besoin d’une solution rapide</span></h4>
													<div class="et_pb_blurb_description">
														<p style="text-align: center;">
																Service de visio avec un technicien pour un dépannage d’urgence, prestation illimitée pour une meilleure gestion de vos litiges
															<small style="font-size:10px;">
																(6)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_16 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													<i>
														(1) 7,58€ : offre non contractuelle – tarif pour la formule Contact + pour un profil propriétaire ou locataire n’ayant jamais été assuré précédemment, habitant à Angoume dans un appartement 1 pièce de 20 m² en étage, le capital mobilier est de 1000€.
														<br>
														(2) 7,97€ : offre non contractuelle – tarif pour la formule Confort pour le même profil que le (1).
														<br>
														(3) 8,16€ : offre non contractuelle – tarif pour la formule Sérénité pour le même profil que le (1).
														<br>
													</i>
													<i>
														(4) 7,58€ : offre non contractuelle – tarif pour la formule Confort pour un profil propriétaire-non-occupant n’ayant jamais été assuré précédemment, habitant à Angoume dans un appartement 1 pièce de 20 m² en étage, le capital mobilier est de 1000€.
														<br>
														(5) 8,16€ : offre non contractuelle – tarif pour la formule Sérénité pour le même profil que le (4).
														<br>
														(6) Dans les limites et conditions définies par le contrat.
													</i>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
	</div>
</div>
