<div id="page-container" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;" class="et-animated-content">
	<div id="et-main-area">
		<div id="main-content">
			<article id="post-38560" class="post-38560 page type-page status-publish has-post-thumbnail hentry">
				<div class="entry-content">
					<div id="et-boc" class="et-boc">
						<div class="et_builder_inner_content et_pb_gutters3">
							<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
								<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Malussés ou résiliés</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="mt-2 fil-ariane">
									<p>
									<a href="{{ path('home')}}">Accueil</a> -
									<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
									<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
									<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
									</p>
								</div>
							</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappelé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="https://www.gestion-assurances.com/site_partenaire.aspx?code=OPE7790&amp;dst=2" target="_blank"> <button class="btn btn-outline-success">Faire un devis en quelques clics</button></a></div>
							<div class="et_pb_section et_pb_section_5 et_section_regular">
								<div class="et_pb_row et_pb_row_5">
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Une protection solide quelle que soit la raison de votre malus</h2>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													Malussé suite à plusieurs sinistres&nbsp;? Résillié par votre assureur à cause d’un non-paiement de prime ou d’une forte sinistralité&nbsp;?
												</p>
												<p>
													{{societyName}} Assurances est le spécialiste du risque aggravé et vous permet, par l’intermédiaire de son réseau de courtiers de proximité, de trouver une assurance auto avec des garanties complètes et un tarif adapté à votre situation. Souscrire à une assurance auto malus {{societyName}}, c’est s’assurer d’être bien accompagné et indemnisé en cas de sinistres mais aussi de bénéficier d’une assistance solide et immédiate, essentielle en cas d’aléas.
												</p>
												<p>
													Roulez protégé et bien assuré avec {{societyName}}, quelles que soient les raisons de votre malus&nbsp;!
												</p>
											</div>
											<br>
											<br>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3 style="text-align: left;">
													Les
													<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
													<span style="display:none;">plus</span><br>
													&nbsp;{{societyName}}
												</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Plusieurs niveaux de garanties pour répondre à tous vos besoins</li>
													<li>Des options pour personnaliser votre assurance</li>
													<li>Des tarifs compétitifs et une franchise basse et modulable</li>
													<li>Une assistance 0 km et un véhicule de remplacement en inclusion</li>
												</ul>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_8 sg-block-prix-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p style="text-align: center; color:white;">
													à partir de
													<br>
													<strong>34,24€<sup>(1)</sup></strong>
													<br>
													par mois
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
								<div class="et_pb_row et_pb_row_6">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="sg-offertable sg-offertable-nbcol-4 sg-offertable-priced">
											<div class="sg-offertable-mobileswitcher">
												<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button disabled"></i>
												<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">34,24€<sup>(1)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture pour assurer sa responsabilité civile
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">40,91€<sup>(2)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact-plus.jpg') }}">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Aller plus loin et couvrir aussi le bris de glaces
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">47,09€<sup>(3)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Se protéger également en cas de vol
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">65,95€<sup>(4)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																La protection maximale pour rouler serein
															</div>
														</div>
													</div>
												</div>
												<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen sg-has-titlegrey ">
															<div class="sg-title-green">
																Les garanties
															</div>
															<div class="sg-subtitle-grey">
																Garanties de base
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">34,24€<sup>(1)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture pour assurer sa responsabilité civile
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">40,91€<sup>(2)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact-plus.jpg') }}">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Aller plus loin et couvrir aussi le bris de glaces
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">47,09€<sup>(3)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Se protéger également en cas de vol
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">65,95€<sup>(4)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		La protection maximale pour rouler serein
																	</div>
																</div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c1577248e" aria-expanded="false" aria-controls="linecollapse_5f22c1577248e">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Responsabilité civile
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c1577248e" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		L’assurance responsabilité civile permet de couvrir les risques de dommages que vous pourriez causer aux autres. En cas de dommage, cette garantie permet d’indemniser la victime à votre place.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c15772f21" aria-expanded="false" aria-controls="linecollapse_5f22c15772f21">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Défense pénale et recours suite à un accident
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c15772f21" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		La garantie défense et recours est une garantie dite «&nbsp;d’assistance&nbsp;» juridique. Elle peut être déclenchée lorsqu’après un sinistre, les conditions d’application de la responsabilité civile ne sont pas clairement définies ou sont sources de litige entre les parties prenantes.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Garanties de dommages au véhicule
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C-1.png') }}">
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C.png') }}">
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}">
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c15774e8c" aria-expanded="false" aria-controls="linecollapse_5f22c15774e8c">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Bris de glaces
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c15774e8c" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		La garantie bris de glaces vous couvre en cas de sinistre sur les surfaces vitrées de votre véhicule telles que le pare-brise, la lunette arrière et les vitres latérales. Vos surfaces vitrées seront soit réparées soit remplacées en fonction du sinistre.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c15775890" aria-expanded="false" aria-controls="linecollapse_5f22c15775890">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Catastrophes naturelles
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c15775890" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		La garantie catastrophes naturelles couvre les dommages subis par tout événement naturel de grande ampleur (tremblement de terre, inondation, sécheresse, submersion marine…).
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c15776560" aria-expanded="false" aria-controls="linecollapse_5f22c15776560">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Catastrophes technologiques
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c15776560" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Sont reconnues comme des catastrophes technologiques, des accidents non-nucléaires causés par une installation classée à risques, le stockage souterrain de produits dangereux et le transport de matières dangereuses.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c15776f3b" aria-expanded="false" aria-controls="linecollapse_5f22c15776f3b">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Attentats et actes terrorisme
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c15776f3b" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		La garantie «&nbsp;attentats et actes de terrorisme&nbsp;» prend en charge les dommages matériels engendrés par des actes terroristes. Les dommages corporels sont quant à eux pris en charge par un Fond de Garantie prévu par l’Etat.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c15777936" aria-expanded="false" aria-controls="linecollapse_5f22c15777936">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Incendie et forces de la nature
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c15777936" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		L’assurance auto malussés ou résiliés {{societyName}} vous indemnise si votre voiture subit des dégâts à cause d’un feu, de la foudre ou d’une explosion.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c15778305" aria-expanded="false" aria-controls="linecollapse_5f22c15778305">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Vol
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c15778305" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		En cas de vol de votre véhicule, l’assurance auto malussés ou résiliés {{societyName}} vous indemnise à la hauteur de la valeur de votre véhicule au moment du vol.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c15778d72" aria-expanded="false" aria-controls="linecollapse_5f22c15778d72">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Dommages tous accidents
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c15778d72" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		La garantie dommages tous accidents vous permet d’être protégé en cas de détérioration de votre véhicule suite à une chute d’objets ou de pierres, de collision avec n’importe quel obstacle, même un animal, d’accident sur la route, et même de détériorations suite à un événement climatique.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Garanties du conducteur
															</div>
														</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C-1.png') }}">
														</div>
													</td>
														<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C.png') }}">
														</div>
													</td>
														<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}">
														</div>
													</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c1577ae1f" aria-expanded="false" aria-controls="linecollapse_5f22c1577ae1f">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Garantie corporelle du conducteur jusqu'à 250 000€
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c1577ae1f" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Que vous soyez victime ou responsable d’un accident, si vous avez subi des préjudices corporels ou psychiques, l’assurance auto malussés ou résiliés {{societyName}} vous indemnise jusqu’à 250 000 €.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c1577b9de" aria-expanded="false" aria-controls="linecollapse_5f22c1577b9de">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Protection juridique
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c1577b9de" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Que vous soyez victime ou responsable d’un accident et dans le cas où vous êtes poursuivi au tribunal, la garantie protection juridique de l’assurance auto malussés ou résiliés {{societyName}} vous permet d’obtenir les services d’un juriste gratuitement.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f22c1577c3b4" aria-expanded="false" aria-controls="linecollapse_5f22c1577c3b4">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Assistance 0 km
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f22c1577c3b4" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		La garantie assistance 0 km vous permet d’être dépanné où que vous vous trouviez, y compris en bas de chez vous et même dans votre garage.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_7">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_10 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>Les options disponibles</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_11 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Prise en charge de votre stage de récupération de points&nbsp;</li>
													<li>Dépannage et remorquage partout en France et véhicule de remplacement</li>
													<li>Protection de vos biens jusqu’à 1500€</li>
													<li>Remboursement de votre franchise jusqu’à 500€</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_8">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_12 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>L’assistance {{societyName}}</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_9 et_hover_enabled et_pb_gutters1 et_pb_row_4col">
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-tools"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je viens de tomber en panne</span></h4>
													<div class="et_pb_blurb_description">
														<p style="text-align: center;">
															Mise à disposition d’un taxi qui vous conduit à votre rendez-vous et remorquage de votre véhicule jusqu’à chez vous
															<small style="font-size:10px;">
																(5)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_1 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-key"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je ne me sens pas en capacité de conduire</span></h4>
													<div class="et_pb_blurb_description">
														<p style="text-align: center;">
															Mise à disposition d’un taxi qui vous conduit chez vous peu importe votre âge et votre ancienneté de permis
															<small style="font-size:10px;">
																(5)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-ban"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Ma voiture est à la fourrière</span></h4>
													<div class="et_pb_blurb_description">
														<p style="text-align: center;">
															Mise à disposition d’un taxi pour vous rendre à la fourrière ou rentrer chez vous et aide à la recherche de votre voiture
															<small style="font-size:10px;">
																(5)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_3 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-wifi"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je suis informé en temps réel</span></h4>
													<div class="et_pb_blurb_description">
														<p style="text-align: center;">
															Suivi en temps réel de l’arrivée de la dépanneuse et infos utiles (coordonnées garage…)
															<small style="font-size:10px;">
																(5)
															</small>
															&nbsp;
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<br>
												<br>
												<p>
														<em> (1) 34,24€ : offre non contractuelle – tarif pour la formue Contact pour un profil né en 1976, qui vit à Vannes 56000, qui conduit une Opel Corsa, mise en circulation : 01.01.2016, date d’achat : 28.01.2017, obtention du permis en 2006, CRM 0,76 avec 4 sinistres : 2 non responsables et 2 responsables</em>
														<br>
														<em>(2) 40,91€ : offre non contractuelle – tarif pour la formule Contact + pour le même profil que le (1)<br></em>
														<em>(3) 47,09€ : offre non contractuelle – tarif pour la formule Confort pour le même profil que le (1).<br></em>
														<em>(4) 65,95€ : offre non contractuelle – tarif pour la formule Sérénité avec l’avantage de souscription Digital 3D pour le même profil que le (1).</em>
														<br>
														<em> (5) Dans les limites et conditions définies par le contrat.</em>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</article>
			</div>
			<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
		</div>
	</div>
</div>