<div id="page-container" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;" class="et-animated-content">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>Votre assurance<BR> Moto - Quad - Scooter</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						    <div class="row px-3 mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
						<div class="et_pb_section et_pb_section_5 et_section_regular">
							<div class="et_pb_row et_pb_row_5">
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h2>Des conditions d'acceptation parmi les plus larges du marché</h2>
										</div>
									</div>
									<!-- .et_pb_text -->
									<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h4>Pour qui ?</h4>
                                            <p>
                                                Jeunes pilote, motard confirmé, bon conducteur, conducteur malussé jusqu'à 3,50, résilié compagnie, conduteur ayant eu un retrait ou une annulation de permis, carte grise société..
											</p>
											<h4>Pour quels véhicules ? </h4>
                                            <p>
                                                >> Toutes les motos et scooters > 50 cm3<br>
                                                >> Les quads homologués ou non > 50 cm3<br>
                                                >> Cross, Kart-cross, Buggy, Can-Am, Piaggio MP3
											</p>
                                            <h4>Pour quels usages ?</h4>
											<p>
                                                Tous déplacements sauf transports rémunérés de personnes ou de marchandises (coursiers, livreurs, taxis).
											</p>
										</div>
									</div>
									<!-- .et_pb_text -->
								</div>
								<!-- .et_pb_column -->
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h3 style="text-align: left;">
												Les
												<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
												<span style="display:none;">plus</span>
												<br>
												&nbsp;{{societyName}}
											</h3>
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<ul>
												<li>Reprise du meilleur bonus auto ou moto</li>
												<li>Pas de gravage et antivol obligatoires</li>
												<li>Avenants hors échéance</li>
												<li>Absence de frais fixes</li>
                                                <li>Recalcul systématique de prime à échéance</li>
                                                <li>Reprise du même risque : véhicules assurés > 23 mois au nom du souscripteur</li>
                                                <li>Remboursement du casque, des gants et du gilet Airbag dès la formule Tiers</li>
                                                <li>Acceptation des véhicules non assurés (sans limite de temps)</li>
											</ul>
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_9 sg-block-prix-in-offre  et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<p style="text-align: center; color:white;">
												<strong style="font-size: 14px;">Votre Devis<br>en 2mn<br></strong>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>
							<div class="et_pb_row et_pb_row_6">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="sg-offertable sg-offertable-nbcol-4 sg-offertable-priced">
										<div class="sg-offertable-mobileswitcher">
											<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button"></i>
											<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
												<div class="tablecol_priceblock_gradient">
                                                     <span class="tablecol_priceblock_price">Tiers<br> simple</span>
												</div>
											</div>
											<div class="sg-offertable-mobileswitcher_item">
												<div class="tablecol_priceblock">
													<div class="tablecol_priceblock_gradient">
														<span class="tablecol_priceblock_price">Vol<br>Incendie</span>
													</div>
												</div>
											</div>
											<div class="sg-offertable-mobileswitcher_item">
												<div class="tablecol_priceblock">
													<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">Dommages<br>Collision</span>
													</div>
												</div>
											</div>
											<div class="sg-offertable-mobileswitcher_item">
												<div class="tablecol_priceblock">
													<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">Tous<br>Risques</span>
													</div>
												</div>
											</div>
											<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
										</div>
										<table class="sg-offertable-table">
											<thead>
												<tr>
													<th class="sg-has-titlegreen sg-has-titlegrey ">
														<div class="sg-subtitle-grey">
															Les garanties
														</div>
													</th>
													<th class="sg-offertable-ms-current">
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
                                                                <span class="tablecol_priceblock_price">Tiers<br> simple</span>
															</div>
														</div>
														<div class="tablecol_logocont">
															<div class="tablecol_desc">
															</div>
														</div>
													</th>
													<th>
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																<span class="tablecol_priceblock_price">Vol<br>Incendie</span>
															</div>
														</div>
														<div class="tablecol_logocont">
															<div class="tablecol_desc">
																<div class="tablecol_desc_content">
																</div>
															</div>
														</div>
													</th>
													<th>
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">Dommages<br>Collision</span>
															</div>
														</div>
														<div class="tablecol_logocont">
															<div class="tablecol_desc">
																<div class="tablecol_desc_content">
																</div>
															</div>
														</div>
													</th>
													<th>
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																<span class="tablecol_priceblock_price">Tous<br>Risques</span>
															</div>
														</div>
														<div class="tablecol_logocont">
															<div class="tablecol_desc">
																<div class="tablecol_desc_content">
																</div>
															</div>
														</div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt">
															Responsabilité civile
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt">
															Défense Pénale et Recours Suite à Accident
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
											
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe037d" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe037d">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Protection Juridique
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe037d" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	Y compris prise en charge de 50% du stage de récupération de points du permis
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe0ac3" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe0ac3">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Garantie casque, gants et gilet airbag du conducteur et son passager
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe0ac3" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	250 € pour le casque, 70 € pour les gants et 500 € pour le gilet Airbag
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt">
															Vol / Incendie
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt">
															Catastrophes naturelles et technologiques, attentats
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe1ef6" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe1ef6">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Remboursement valeur à neuf
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe1ef6" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	Pendant 6 mois suivant l'achat
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt">
															Dommages liés à un accident avec un tiers identifié
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt">
															Dommages tous accidents
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												
												<tr class="tableline-sep">
													<th>
														<div class="tableline_title">
															Les options
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															
														</div>
													</td>
													<td>
														<div class="tableline_val">
															
														</div>
													</td>
													<td>
														<div class="tableline_val">
															
														</div>
													</td>
													<td>
														<div class="tableline_val">
															
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe46d1" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe46d1">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Assistance 0 km + vehicule de remplacement
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe46d1" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	Assistance pour l'assuré, son passager et son deux-roues, 24h/24 - 7j/7, en cas de panne, accident, vol, tentative de vol, ou crevaison. Incluant un véhicule de remplacement pour toute durée d’immobilisation supérieure à 48h (3 jours suite à une panne, 5 jours suite à un accident et 15 jours suite à un vol du véhicule).
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe4d99" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe4d99">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Assurance Pilote
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe4d99" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	Garantie du versement d’indemnités à vous ou à vos ayants droit en cas d’accident au guidon de votre deux-roues à hauteur de 100 000 €.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe546f" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe546f">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Assurance Pilote +
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe546f" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	Assurance pilote à hauteur de 400 000€
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe5b3a" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe5b3a">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Assurance Accessoire
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe5b3a" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	–    Garantie du remboursement des accessoires hors-série et équipement vestimentaire de protection du motard jusqu’à 1 000€.<br>
																	–    Remboursement à la valeur d’achat du véhicule jusqu’à 18 mois, après sa 1re mise en circulation.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffd6b3a" aria-expanded="false" aria-controls="linecollapse_5f2bcaffd6b3a">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Assurance Accessoire +
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffd6b3a" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	–    Assurance Accessoires jusqu’à 10 000€.<br>
																	–    Extension du remboursement valeur à neuf durant 18 mois suivant l’achat
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">

												<h3>Les Franchises</h3>
												<h4>Dommages, Vol/Incendie</h4>
												<p><b>10% du montant des dommages</b> avec minimum et maximum en fonction de la cylindrée si gravage agréé SRA et système mécanique ou électronique de protection antivol classe SRA obligatoires :<br>
												>> Angle-double-right 200 € minimum / 400 € maximum si moins de 400 cm3<br> >> Angle-double-right 400 € minimum / 800 € maximum si plus de 400 cm.</p>
												<h4>Conduite exclusive</h4>
												<p> >> 1000 € sauf pour les conducteurs désignés. <br> >> PAS DE FRANCHISE pour les quads. </p>
												<h4> Assurance Pilote et Pilote +</h4>
												<p> >> Incapacité Permanente Partielle ≥ à 15 %</p>
											</div>
										</div>
									</div>
								</div>
							<div class="et_pb_row et_pb_row_7">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_11 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h3>Les avantages fidélités</h3>
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_12 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<ul style='color:#334f60; font-weight:bolder;'>
												<li>Réduction de franchise<br> >> -50% dès 3 ans d'assurance sans discontinuité et sans sinistre responsable<br> >> -75% dès 5 ans d'assurance sans discontinuité et sans sinistre responsable</li>
												<li>Réduction Multi-Contrats<br> >> appliquée dès le deuxième contrat.</li>
												<li>Refonte tarifaire à échéance<br> >> A l’échéance principale de son contrat, le client bénéficie toujours du meilleur tarif<br>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_row et_pb_row_7">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_11 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h3>Fractionnement et moyen de paiement</h3>
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_12 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<ul style='color:#334f60; font-weight:bolder;'>
												<li>3 possibilités de fractionnement : mensuel / semestriel / annuel<br>Si fractionnement mensuel : paiement du comptant</li>
												<li>CB, virement et chèque</li>

											</ul>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
					</div>
				</div>
