<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
				<div class="entry-content">
					<div id="et-boc" class="et-boc">
						<div class="et_builder_inner_content et_pb_gutters3">
							<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
								<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Votre assurance multirisque habitation</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row px-3 mt-2 fil-ariane">
        						<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
							<div class="et_pb_section et_pb_section_5 et_section_regular">
								<div class="et_pb_row et_pb_row_5">
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Une protection sur-mesure pour votre habitation et vos biens</h2>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													Que vous soyez locataire, propriétaire, ou propriétaire non occupant, avec antécédents de non-paiement de primes, les offres d’assurance habitation {{societyName}} s’adaptent à tous vos besoins.
												</p>
												<p>
													En plus d’un socle de garanties classiques comme la protection&nbsp; contre les incendies, les dégâts des eaux, le vol, le bris de glace, la responsabilité civile…, vous avez la possibilité de personnaliser votre offre grâce aux extensions de garanties et aux nombreuses options disponibles, pour protéger vos biens même extérieurs, et pourquoi pas opter pour une garantie rééquipement à neuf.
												</p>
												<p>
													Souscrire chez {{societyName}} un contrat habitation, c’est s’assurer d’être bien protégé au tarif le plus compétitif&nbsp;!
												</p>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3 style="text-align: left;">
													Les 
													<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
													<span style="display:none;">plus</span>
													&nbsp;{{societyName}}
												</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Une protection pour tous les biens et tous les profils à un tarif ultra compétitif</li>
													<li>Des garanties solides&nbsp;: assurance du capital mobilier jusqu’à 150&nbsp;000&nbsp;€</li>
													<li>De nombreuses options&nbsp;: assurance scolaire, rééquipement à neuf</li>
													<li>Une assistance renforcée : hébergement provisoire et gardiennage de vos meubles en cas de sinistre</li>
												</ul>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_8 sg-block-prix-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p style="text-align: center; color:white;">
													à partir de
													<br>
													<strong>7,58€<sup>(1)</sup></strong>
													<br>
													par mois
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
								<div class="et_pb_top_inside_divider et-no-transition"></div>
								<div class="et_pb_row et_pb_row_6">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_9 et_pb_bg_layout_light  et_pb_text_align_left">

										</div>
										<div class="sg-offertable sg-offertable-nbcol-5">
											<div class="sg-offertable-mobileswitcher">
												<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button"></i>
												<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">100</span>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">125</span>
														</div>
													</div>
												</div>
                                                <div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">150</span>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">200</span>
														</div>
													</div>
												</div>
                                                <div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">250</span>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">300</span>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">400</span>
														</div>
													</div>
												</div>
												<i  class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen sg-has-titlegrey ">
															<div class="sg-title-green">
																Les garanties
															</div>
															<div class="sg-subtitle-grey">
																Hospistalisation
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">100</span>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">125</span>
																</div>
															</div>
														</th>
                                                        <th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">150</span>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">200</span>
																</div>
															</div>
														</th>
                                                        <th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">250</span>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">300</span>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">400</span>
																</div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860e4da9" aria-expanded="false" aria-controls="linecollapse_5f2bd860e4da9">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																<b>Honoraires</b> des médecins ayant adhéré au Dispositif de Pratique Tarifaire Maîtrisé (DPTAM)
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860e4da9" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                        Un dispositif de Pratique Tarifaire Maîtrisée est un contrat proposé par la Sécurité sociale aux médecins leur proposant de limiter
                                                                        leurs dépassements d’honoraires en contrepartie d’un certain nombre d’avantages. Le Contrat d’Accès aux Soins (CAS) et l’Option
                                                                        Pratique Tarifaire Maîtrisée (OPTAM) sont deux dispositifs de pratique tarifaire maîtrisée.
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																125%<sup>(1)</sup>
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%<sup>(1)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%<sup>(1)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250%<sup>(1)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																300%<sup>(1)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																400%<sup>(1)</sup>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Honoraires</b> des médecins n'ayant pas adhéré au Dispositif de Pratique Tarifaire Maîtrisé (DPTAM)
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																105%<sup>(1)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																130%<sup>(1)</sup>
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																180%<sup>(1)</sup>
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																200%<sup>(1)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%<sup>(1)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%<sup>(1)</sup>
															</div>
														</td>
													</tr>
												
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Frais de séjour</b> en établissement conventionné
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Frais de séjour</b> en établissement non conventionné
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Forfait journalier hospitalier</b> 
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Chambre particulière</b> (y compris ambulatoire) non remboursée par la Sécurité sociale
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																30€/jour limitée à 45 jours par an et par bénéficiaire en séjours spécialisés
															</div>
														</td>
														<td>
															<div class="tableline_val">
																40€/jour limitée à 45 jours par an et par bénéficiaire en séjours spécialisés
															</div>
														</td>
														<td>
															<div class="tableline_val">
																50€/jour limitée à 60 jours par an et par bénéficiaire en séjours spécialisés
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																60€/jour limitée à 60 jours par an et par bénéficiaire en séjours spécialisés
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																70€/jour limitée à 60 jours par an et par bénéficiaire en séjours spécialisés
															</div>
														</td>
														<td>
															<div class="tableline_val">
																80€/jour limitée à 60 jours par an et par bénéficiaire en séjours spécialisés
															</div>
														</td>
														<td>
															<div class="tableline_val">
																90€/jour limitée à 60 jours par an et par bénéficiaire en séjours spécialisés
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Lit accompagnant,</b> enfant ou adulte, non remboursé par la Sécurité sociale (dans la limite de 15 jours par an et par bénéficiaire)
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																10€/jour
															</div>
														</td>
														<td>
															<div class="tableline_val">
																15€/jour
															</div>
														</td>
														<td>
															<div class="tableline_val">
																15€/jour
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																20€/jour
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																20€/jour
															</div>
														</td>
														<td>
															<div class="tableline_val">
																25€/jour
															</div>
														</td>
														<td>
															<div class="tableline_val">
																25€/jour
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Hospitalisation à domicile</b> (HAD)
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																125%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																300%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																400%
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Transports prescrits pour l’hospitalisation ou la médecine de ville
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																125%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																300%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																400%
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Soins Courants
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	
															</div>
														</td>
														<td>
															<div class="tableline_val">
															
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
															
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
															
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Honoraires médicaux :</b> Consultations, actes (radio, petite chirurgie) et visites de généralistes et spécialistes ayant adhéré au Dispositif de Pratique Tarifaire Maîtrisé (DPTAM)
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																125%<sup>(2)</sup>
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%<sup>(2)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%<sup>(2)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250%<sup>(2)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																300%<sup>(2)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																400%<sup>(2)</sup>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Honoraires médicaux : Consultations, actes (radio, petite chirurgie) et visites de généralistes et spécialistes n'ayant pas adhéré au DPTAM</b>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																105%<sup>(2)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																130%<sup>(2)</sup>
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																180%<sup>(2)</sup>
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																200%<sup>(2)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%<sup>(2)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%<sup>(2)</sup>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Analyse et examens de laboratoire : biologie, analyse médicale</b>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																125%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																300%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																400%
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
                                                        <th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860e4yu9" aria-expanded="false" aria-controls="linecollapse_5f2bd860e4yu9">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Honoraires paramédicaux 
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860e4yu9" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                      Auxiliaires médicaux (infirmier et infirmière, sage-femme, kinésithérapeute, orthophoniste, orthoptiste)
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																125%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																300%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																400%
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Médicaments</b> remboursés par le régime obligatoire
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100%
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
                                                        <th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860e4y59" aria-expanded="false" aria-controls="linecollapse_5f2bd860e4y59">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Matériel médical 
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860e4y59" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                      Appareillages ou prothèses (hors lunettes et aides auditives) tels que définis sur la liste des produits et prestations remboursables de la Sécurité sociale
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																125%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																300%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																400%
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Bonus Fidélité à partir de la 3ème année</b>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
                                                        <th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860e4y49" aria-expanded="false" aria-controls="linecollapse_5f2bd860e4y49">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Médecine douce<br>Médicaments et vaccins prescrits non remboursés
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860e4y49" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                      Ostéopathe, chiropracteur, acupuncteur, pédicure-podologue, étiopathe, homéopathe, diététicien-nutritionniste, sophrologue, naturopathe. Non remboursée par la Sécurité sociale
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																125€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																150€/an
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																175€/an
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																200€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																225€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250€/an
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Bonus Fidélité à partir de la 3ème année</b>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860e5u49" aria-expanded="false" aria-controls="linecollapse_5f2bd860e5u49">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Sevrage tabagique 
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860e5u49" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                      Tous les médicaments et produits à base de nicotine prescrits par un médecin, dans un but de sevrage tabagique (avec Autorisation de Mise sur le Marché ou norme Afnor) et non remboursés par la Sécurité sociale
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																50€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																70€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																90€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																110€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																130€/an
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150€/an
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																170€/an
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Soins à l'étranger
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	
															</div>
														</td>
														<td>
															<div class="tableline_val">
															
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
															
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
															
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Soins à l'étranger</b>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																150%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Optique
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	
															</div>
														</td>
														<td>
															<div class="tableline_val">
															
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
															
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
															
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																<b>Équipement 100% Santé</b> <sup>(3)</sup><br>Lunettes 100% santé verres et montures de classe A, telles que définies par la règlementation
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
                                                        <th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860e4449" aria-expanded="false" aria-controls="linecollapse_5f2bd860e4449">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Équipement à tarifs libres</b><sup>(3)</sup>
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860e4449" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                Forfait lunettes à 2 verres simples classe B <sup>(4)</sup><br>Forfait lunettes avec au moins un verre complexe ou très complexe de classe B (4)<br>Les forfaits en euros intègrent les remboursements du régime obligatoire
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																105%<sup>(2)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																130%<sup>(2)</sup>
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																180%<sup>(2)</sup>
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																200%<sup>(2)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%<sup>(2)</sup>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%<sup>(2)</sup>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Bonus Fidélité chez partenaires ITELIS à partir de la 3ème année
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+15€ par an pendant 5 ans (soit un bonus maximal acquis de 75€)
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
                                                    <th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860e7849" aria-expanded="false" aria-controls="linecollapse_5f2bd860e7849">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
															Équipement panaché <sup>(3)</sup>
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860e7849" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                Dans le cas d’un panachage entre équipements 100% santé et équipements à tarifs libres (par exemple monture 100% santé + 1 verre tarif libre + 1 verre tarif 100% santé),
                                                                les équipements 100% santé sont remboursés à hauteur des frais réels dans la limite des prix définis par la règlementation. Le remboursement des équipements à tarifs libres
                                                                est diminué de celui accordé pour les équipements 100% santé. Si la monture est à tarifs libres, son remboursement ne peut excéder 100 €.
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Lentilles
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																30€
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																50€
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																75€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																125€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																150€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																175€
															</div>
														</td>
													</tr>
                                                     <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Dentaire
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	
															</div>
														</td>
														<td>
															<div class="tableline_val">
															
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
														<td>
															<div class="tableline_val">
																
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
															
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
															
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Soins : consultations et soins, inlay-onlay, chirurgie, parodontologie remboursée
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																125%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																300%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																400%
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
                                                        <th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd450e7849" aria-expanded="false" aria-controls="linecollapse_5f2bd450e7849">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Soins et prothèses 100% Santé
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd450e7849" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                               Ces prothèses incluent certaines couronnes céramo-métalliques sur
                                                                incisives, canines et premières prémolaires, certaines couronnes
                                                                métalliques sur les autres dents (se reporter à la Notice d’information
                                                                pour trouver les références précises à la réglementation)
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
														<td>
															<div class="tableline_val">
															    Frais réels dans la limite des prix définis par la règlementation	
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Frais réels dans la limite des prix définis par la règlementation
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
                                                        <th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd45042849" aria-expanded="false" aria-controls="linecollapse_5f2bd45042849">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Autres prothèses (prothèses à tarifs limités et prothèses à tarifs libres)<br>
                                                            Limite annuelle <sup>(6)</sup>:<br>
                                                            1ère et 2ème année<br>
                                                            3éme année
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd45042849" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                               Elles incluent certaines couronnes céramo-métalliques sur 2ème prémolaires et molaires, certains bridges, certains appareils amovibles, les
                                                                implants et d’autres prothèses définis comme ayant des tarifs limités
                                                                ou libres par la règlementation
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																125%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%
															</div>
														</td>
														<td>
															<div class="tableline_val">
															    200%<br><br><br>1200€<br>1800€	
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250%<br><br><br>1500€<br>2000€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																300%<br><br><br>1800€<br>2300€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																400%<br><br><br>2000€<br>2500€
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Orthodontie
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																125%
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																150%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																250%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																300%
															</div>
														</td>
														<td>
															<div class="tableline_val">
																400%
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Bonus Fidélité à partir de la 3ème année
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																+30€ tous les ans pendant 5 ans (soit un bonus maximal acquis de 150€)
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																+30€ tous les ans pendant 5 ans (soit un bonus maximal acquis de 150€)
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																+30€ tous les ans pendant 5 ans (soit un bonus maximal acquis de 150€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+30€ tous les ans pendant 5 ans (soit un bonus maximal acquis de 150€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+30€ tous les ans pendant 5 ans (soit un bonus maximal acquis de 150€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+30€ tous les ans pendant 5 ans (soit un bonus maximal acquis de 150€)
															</div>
														</td>
														<td>
															<div class="tableline_val">
																+30€ tous les ans pendant 5 ans (soit un bonus maximal acquis de 150€)
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Prothèses dentaires, orthodontie, parodontologie et implantologie non remboursées
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Non pris en charge
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																Non pris en charge
															</div>
														</td>
                                                        <td>
															<div class="tableline_val">
																100€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																125€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																150€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																175€/an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																200€/an
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_7">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_10 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>Les options disponibles</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_11 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Protection de vos biens extérieurs : piscine, abri de piscine, cave à vin</li>
													<li>Protection des terrains jusqu’à 10 hectares</li>
													<li>Assurance scolaire ou chambre étudiante</li>
													<li>Protection de votre matériel professionnel</li>
													<li>Protection juridique en cas de litige</li>
													<li>Responsabilité civile chasse</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_8">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_12 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>L’assistance {{societyName}}</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_9 et_hover_enabled et_pb_gutters1">
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-home"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Mon logement est inhabitable</span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Prise en charge d’un logement temporaire pour vous et votre famille ainsi que de vos frais de vie, de nourriture et de déplacement
															<small style="font-size:10px;">
																(6)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_1 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-tools"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je souhaite réaliser des travaux</span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Évaluation des travaux, mise en relation avec des artisans et aide au choix du meilleur prestataire pour vos travaux
															<small style="font-size:10px;">
																(6)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-exclamation-triangle"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Des nuisibles sont présents chez moi</span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Identification par téléphone ou visio puis traitement des nuisibles ainsi que conseils pour éviter la même situation à l’avenir
															<small style="font-size:10px;">
																(6)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_3 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="far fa-6x fa-clock"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>J’ai besoin d’une solution rapide </span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Service de visio avec un technicien pour un dépannage d’urgence, prestation illimitée pour une meilleure gestion de vos litiges
															<small style="font-size:10px;">
																(6)
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>		
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_16 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													<i>
														(1) 7,58€ : offre non contractuelle – tarif pour la formule Contact + pour un profil propriétaire ou locataire n’ayant jamais été assuré précédemment, habitant à Angoume dans un appartement 1 pièce de 20 m² en étage, le capital mobilier est de 1000€.
														<br>
														(2) 7,97€ : offre non contractuelle – tarif pour la formule Confort pour le même profil que le (1).
														<br>
														(3) 8,16€ : offre non contractuelle – tarif pour la formule Sérénité pour le même profil que le (1).
														<br>
													</i>
													<i>
														(4) 7,58€ : offre non contractuelle – tarif pour la formule Confort pour un profil propriétaire-non-occupant n’ayant jamais été assuré précédemment, habitant à Angoume dans un appartement 1 pièce de 20 m² en étage, le capital mobilier est de 1000€.
														<br>
														(5) 8,16€ : offre non contractuelle – tarif pour la formule Sérénité pour le même profil que le (4).
														<br>
														(6) Dans les limites et conditions définies par le contrat.
													</i>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
	</div>
</div>
<script>
function() {
  var container = $(this).closest('.sg-offertable');
  var current_index = $(this).closest('.sg-offertable-mobileswitcher').find('.sg-offertable-ms-current').index();
  var max_index = $(this).closest('.sg-offertable-mobileswitcher').find('.sg-offertable-mobileswitcher_item').length;
  if ($(window).width() > 575) {
    max_index = max_index - 1
  }
  if ($(window).width() > 767) {
    max_index = max_index - 1
  }
  if ($(window).width() > 1023) {
    max_index = max_index - 1
  }
  if ($(this).hasClass('sg-offertable-mobileswitcher_prev')) {
    var next_index = current_index - 1
  } else if ($(this).hasClass('sg-offertable-mobileswitcher_next')) {
    var next_index = current_index + 1
  }
  if (!($(this).hasClass('sg-offertable-mobileswitcher_prev') && current_index === 1) && !($(this).hasClass('sg-offertable-mobileswitcher_next') && current_index === max_index)) {
    container.find('tr td').removeClass('sg-offertable-ms-current');
    container.find('thead th').removeClass('sg-offertable-ms-current');
    container.find('thead th:nth-of-type(' + (next_index + 1) + ')').addClass('sg-offertable-ms-current');
    container.find('tr td:nth-of-type(' + next_index + ')').addClass('sg-offertable-ms-current');
    container.find('.sg-offertable-mobileswitcher .sg-offertable-mobileswitcher_item').removeClass('sg-offertable-ms-current');
    container.find('.sg-offertable-mobileswitcher .sg-offertable-mobileswitcher_item:nth-of-type(' + next_index + ')').addClass('sg-offertable-ms-current')
  }
  sg_set_table_button_disabled(container)
}
</script>