<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
				<div class="entry-content">
					<div id="et-boc" class="et-boc">
						<div class="et_builder_inner_content et_pb_gutters3">
							<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
								<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Votre assurance santé <br>personnalisée</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="mt-2 fil-ariane">
									<p>
									<a href="{{ path('home')}}">Accueil</a> -
									<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
									<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
									</p>
								</div>
							</div>
						<div>
						<div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappellé</button>
						</a>
						</div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_sante')}}"> 
						<button class="btn btn-outline-success">Faire un devis en quelques clics</button></a>
						</div>
							
							<div class="et_pb_section et_pb_section_5 et_section_regular">
								<div class="et_pb_row et_pb_row_5">
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Une assurance 100% santé qui répond à tous vos besoins</h2>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													L’offre d’assurance Santé {{societyName}} répond à vos besoins quel que soit votre profil : senior, célibataire, ou chef de famille ? Quelle que soit votre situation et votre contexte familial, l’assurance 100% santé {{societyName}} s’adapte à tous vos besoins.
												</p>
												<p>
													{{societyName}}  vous permet de choisir parmi 5 niveaux de garanties pour sélectionner l’offre qui vous correspond à des tarifs compétitifs. De plus, vous bénéficiez d’extras, en inclusion de votre contrat d’assurance santé, qui s’adaptent en fonction de l’âge de chaque bénéficiaire, et qui vous permettent d’avoir des niveaux de garanties élevés sur de nombreux postes de soins. Dans votre offre santé, vous disposez enfin d’un pack de garanties pour accompagner la prise en charge des maladies chroniques. 
													<br>
													Souscrire à l’assurance santé {{societyName}}, c’est bénéficier d’une protection optimale avec des formules #extra pour personnaliser votre offre selon vos besoins. C’est aussi choisir une assistance solide et immédiate en inclusion en cas d’imprévus.
													<br>
													Parce qu’il n’y a rien de plus important que la santé, assurez-la chez {{societyName}} !
												</p>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3 style="text-align: left;">
													Les 
													<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
													<span style="display:none;">plus</span>
													&nbsp;<br>{{societyName}}
												</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Un socle complet de garanties avec 5 formules au choix</li>
													<li>Un pack séjour confort en option pour renforcer les prestations en cas d’hospitalisation</li>
													<li>Des formules #extras pour personnaliser et renforcer les garanties en fonction de votre profil et de vos besoins</li>
													<li>Des bonus fidélité en optique et en dentaire à partir d’un an</li>
													<li>Des services indispensables en inclusion : téléconsultation 24/7, assistance, tiers payant</li>
												</ul>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_8 sg-block-prix-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p style="text-align: center; color:white;">
													à partir de
													<br>
													<strong>20,40€<sup>(1)</sup></strong>
													<br>
													par mois
												</p>
											</div>
										</div>
									</div>
								</div>
							
								<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
									<div class="et_pb_row et_pb_row_6">
										<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
											<div class="sg-offertable sg-offertable-nbcol-5">
												<div class="sg-offertable-mobileswitcher">
													<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button"></i>
													<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">20,40€<sup>(1)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
														<div class="SantéFormules">{{societyName}}<br><span class="f1">100%</span></div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">22,55€<sup>(2)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															<div class="SantéFormules">{{societyName}}<br><span class="f2">130%</span></div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">27,57€<sup>(3)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															<div class="SantéFormules">{{societyName}}<br><span class="f3">160%</span></div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">38,90€<sup>(4)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															<div class="SantéFormules">{{societyName}}<br><span class="f4">200%</span></div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">53,08€<sup>(5)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															<div class="SantéFormules">{{societyName}}<br><span class="f5">300%</span></div>
														</div>
													</div>
												</div>
												<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen ">
															<div class="sg-title-green">
																Les garanties
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">20,40€<sup>(1)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="SantéFormules">{{societyName}}<br><span class="f1">100%</span></div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">22,55€<sup>(2)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="SantéFormules">{{societyName}}<br><span class="f2">130%</span></div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">27,57€<sup>(3)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="SantéFormules">{{societyName}}<br><span class="f3">160%</span></div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">38,90€<sup>(4)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="SantéFormules">{{societyName}}<br><span class="f4">200%</span></div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">53,08€<sup>(5)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="SantéFormules">{{societyName}}<br><span class="f5">300%</span></div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Soins
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b8742e9" aria-expanded="false" aria-controls="linecollapse_5f5807b8742e9">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Consultations et visites (généralistes et spécialistes)
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b8742e9" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		L’assurance santé {{societyName}} couvre la partie de vos frais non remboursée par la Sécurité Sociale suite à vos consultations chez un médecin généraliste, qu’il soit votre médecin traitant ou non, ou chez un médecin spécialiste (ophtalmologue, cardiologue, dermatologue, gynécologue…)
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																*
															</div>
														</td>
														<td>
															<div class="tableline_val">
																**
															</div>
														</td>
														<td>
															<div class="tableline_val">
																***
															</div>
														</td>
														<td>
															<div class="tableline_val">
																****
															</div>
														</td>
														<td>
															<div class="tableline_val">
																*****
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Hospitalisation
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b874958" aria-expanded="false" aria-controls="linecollapse_5f5807b874958">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Honoraires et frais de séjour
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b874958" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		En cas d’hospitalisation, {{societyName}} vous rembourse les honoraires que vous pouvez avoir à payer ainsi que les frais de séjour qui couvrent les frais de l’hôpital, les médicaments, les soins…
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																*
															</div>
														</td>
														<td>
															<div class="tableline_val">
																**
															</div>
														</td>
														<td>
															<div class="tableline_val">
																***
															</div>
														</td>
														<td>
															<div class="tableline_val">
																****
															</div>
														</td>
														<td>
															<div class="tableline_val">
																*****
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b874d0a" aria-expanded="false" aria-controls="linecollapse_5f5807b874d0a">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Chambre particulière - par nuit
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b874d0a" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		A l’hôpital, disposer d’une chambre particulière est payant. L’assurance santé {{societyName}} couvre vos frais pour chaque nuit passée en chambre particulière.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																30€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																40€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																60€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																95€
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Optique
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b875391" aria-expanded="false" aria-controls="linecollapse_5f5807b875391">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Equipement verres simples (unifocaux)
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b875391" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Si vous avez besoin de porter des verres de correction unifocaux c’est-à-dire, ayant la même correction sur toute la surface du verre, {{societyName}} vous rembourse la partie de vos frais non remboursés par la Sécurité Sociale.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																*
															</div>
														</td>
														<td>
															<div class="tableline_val">
																**
															</div>
														</td>
														<td>
															<div class="tableline_val">
																***
															</div>
														</td>
														<td>
															<div class="tableline_val">
																****
															</div>
														</td>
														<td>
															<div class="tableline_val">
																*****
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b8756ef" aria-expanded="false" aria-controls="linecollapse_5f5807b8756ef">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Bonus fidélité à partir d'un an
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b8756ef" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Après votre première année de contrat d’assurance santé chez {{societyName}}, vous bénéficiez d’un niveau de remboursement renforcé sur vos verres unifocaux.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																40€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																60€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																80€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100€
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b875a57" aria-expanded="false" aria-controls="linecollapse_5f5807b875a57">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Equipement verres complexes, progressifs et fortes corrections
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b875a57" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		L’assurance santé {{societyName}} couvre la partie non remboursée par la Sécurité Sociale de vos frais de fabrication de verres progressifs ou pour la correction de fortes corrections.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																*
															</div>
														</td>
														<td>
															<div class="tableline_val">
																**
															</div>
														</td>
														<td>
															<div class="tableline_val">
																***
															</div>
														</td>
														<td>
															<div class="tableline_val">
																****
															</div>
														</td>
														<td>
															<div class="tableline_val">
																*****
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b875dfe" aria-expanded="false" aria-controls="linecollapse_5f5807b875dfe">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Bonus fidélité à partir d’un an
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b875dfe" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Après votre première année de contrat d’assurance santé chez {{societyName}}, vous bénéficiez d’un niveau de remboursement renforcé sur vos verres complexes (progressifs et fortes corrections).
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																80€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																100€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																120€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																160€
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Dentaire
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b876424" aria-expanded="false" aria-controls="linecollapse_5f5807b876424">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Prothèses dentaires remboursées par la sécurité sociale
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b876424" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Si vous avez besoin de prothèses dentaires et qu’elles sont en partie remboursées par la Sécurité Sociale, l’assurance santé {{societyName}} vous rembourse l’autre partie.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																*
															</div>
														</td>
														<td>
															<div class="tableline_val">
																**
															</div>
														</td>
														<td>
															<div class="tableline_val">
																***
															</div>
														</td>
														<td>
															<div class="tableline_val">
																****
															</div>
														</td>
														<td>
															<div class="tableline_val">
																*****
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b87677e" aria-expanded="false" aria-controls="linecollapse_5f5807b87677e">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Bonus fidélité à partir d’un an
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b87677e" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Après votre première année de contrat d’assurance santé chez {{societyName}}, vous bénéficiez d’un niveau de remboursement renforcé sur vos soins en dentaire.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																*
															</div>
														</td>
														<td>
															<div class="tableline_val">
																**
															</div>
														</td>
														<td>
															<div class="tableline_val">
																***
															</div>
														</td>
														<td>
															<div class="tableline_val">
																****
															</div>
														</td>
														<td>
															<div class="tableline_val">
																*****
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Aides auditives
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b876e15" aria-expanded="false" aria-controls="linecollapse_5f5807b876e15">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Prothèses auditives &amp; accessoires jusqu'au 01/01/2021
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b876e15" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		L’assurance santé {{societyName}} vous rembourse votre reste à charge (dans la limites de la base de remboursement de la sécurité sociale) sur vos prothèses auditives et vos accessoires jusqu’à la réforme 100% santé du 1
																		<sup>
																			er
																		</sup>
																		 janvier 2021, date à partir de laquelle vous n’aurez plus de reste à charge.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																*
															</div>
														</td>
														<td>
															<div class="tableline_val">
																**
															</div>
														</td>
														<td>
															<div class="tableline_val">
																***
															</div>
														</td>
														<td>
															<div class="tableline_val">
																****
															</div>
														</td>
														<td>
															<div class="tableline_val">
																*****
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Prévention
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b87749b" aria-expanded="false" aria-controls="linecollapse_5f5807b87749b">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Ostéopathes, chiropracteurs, acupuncteurs, étiopathes - forfait par an
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b87749b" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		{{societyName}} vous rembourse une partie de vos frais de consultation pour 1 à 5 consultations en fonction de la formule que vous choisissez.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Jusqu’à 40€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Jusqu’à 80€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Jusqu’à 120€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Jusqu’à 150€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Jusqu’à 200€
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Accompagnement maladies chroniques
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
														<td>
															<div class="tableline_val"></div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b877b3c" aria-expanded="false" aria-controls="linecollapse_5f5807b877b3c">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Pédicure podologie – forfait par an
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b877b3c" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Vous bénéficiez d’un forfait de remboursement annuel pour vos consultations en pédicure et podologie dans la limite de 3 consultations par an.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																120€ / an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																120€ / an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																120€ / an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																120€ / an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																120€ / an
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b877ed4" aria-expanded="false" aria-controls="linecollapse_5f5807b877ed4">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Diététicien - forfait par an
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b877ed4" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Vous bénéficiez d’un forfait de remboursement annuel pour vos consultations en pédicure et podologie dans la limite de 3 consultations par an.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																120€ / an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																120€ / an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																120€ / an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																120€ / an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																120€ / an
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b878267" aria-expanded="false" aria-controls="linecollapse_5f5807b878267">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Sport prescrit
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b878267" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		L’assurance santé {{societyName}} prend en charge une partie vos frais de sport si celui-ci a été prescrit par un professionnel de santé.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Jusqu'à 100€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Jusqu'à 100€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Jusqu'à 150€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Jusqu'à 150€
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Jusqu'à 150€
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f5807b8785f2" aria-expanded="false" aria-controls="linecollapse_5f5807b8785f2">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Pharmacie prescrite non remboursée par la Sécurité Sociale – par an
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f5807b8785f2" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		L’assurance santé {{societyName}} vous rembourse une partie de vos médicaments non remboursés par la Sécurité Sociale bien qu’ils aient été prescrits par un médecin.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																50€ /an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																50€ /an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																50€ /an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																50€ /an
															</div>
														</td>
														<td>
															<div class="tableline_val">
																50€ /an
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_7">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_10 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>Les extras disponibles</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_11 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													Les extras sont inclus dans votre offre santé {{societyName}} et permettent de personnaliser et de renforcer vos garanties en fonction du profil et de l’âge de tous les bénéficiaires du contrat. Ils évoluent même automatiquement à la date d’anniversaire de chaque bénéficiaire.&nbsp;
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_8">
									<div class="et_pb_column et_pb_column_1_3 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_12 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h4>
													<strong>#EXTRA FAMILLE<p></p></strong>
													<p>
														<strong></strong>
														Familles, couples et familles monoparentales
													</p>
												</h4>
												<ul>
													<li>Lit accompagnant enfant – de 16 ans</li>
													<li>Obstétrique – en complément des honoraires d’hospitalisation</li>
													<li>Forfait naissance</li>
													<li>Podologie enfant (-de 16 ans) non remboursée</li>
													<li>Chambre d’inhalation pour bébé</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_3 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_13 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h4><strong>#EXTRA DENTAIRE</strong></h4>
												<ul>
													<li>Orthodontie remboursée et non remboursée par la Sécurité Sociale (jusqu’à 54 ans)</li>
													<li>Soins dentaires non remboursé par la Sécurité Sociale (à partir de 29 ans)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_3 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_14 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h4><strong>#EXTRA PREVENTION</strong></h4>
												<ul>
													<li>Psychologie (y compris burn out et troubles du sommeil)</li>
													<li>Contraceptif</li>
													<li>Sevrage tabac</li>
													<li>Vaccins non remboursés dont voyages</li>
													<li>Cures thermales (à partir de 29 ans)</li>
													<li>Ostéodensitométrie non remboursée par la sécurité sociale</li>
												</ul>
											</div>
										</div>
									</div>
								</div><br><br>
								<div class="et_pb_row et_pb_row_9">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_15 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>L’assistance {{societyName}}</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_10 et_hover_enabled et_pb_gutters1 et_pb_row_4col">
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-exclamation-triangle"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je suis hospitalisée pendant au moins 2 nuits</span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Mise à disposition d’une enveloppe de 300€ et d’une aide à domicile pendant la période de votre hospitalisation
															<sup>
																(6)
															</sup>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_1 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="far fa-6x fa-clock"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je dois bénéficier de soins santé prolongés </span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Assistance pour poursuivre vos soins grâce à une enveloppe de 600€ que nous vous procurons
															<sup>
																(6)
															</sup>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-key"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je ne peux pas me déplacer pour consulter de médecin</span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Téléconsultation médicale en ligne incluse si vous êtes en voyage ou que votre médecin traitant n’est pas disponible
															<sup>
																(6)
															</sup>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_3 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-file-alt"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je suis hospitalisé et j’ai besoin d’être accompagné</span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Portail dédié pour avoir des informations médicales y compris sur les services d’assistance
															<sup>
																(6)
															</sup>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_18">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_28  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_19 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													<i>(1) 20,40€ : offre non contractuelle – tarif TTC pour la formule {{societyName}} 100% sans pack et sans extra pour un profil de 18 ans qui habite en Savoie.<br></i>
													<i>
														(2) 22,55€ : offre non contractuelle – tarif TTC pour la formule {{societyName}} 130% sans pack et sans extra pour un profil de 18 ans qui habite en Savoie.
														<br>
														(3) 27,57€ : offre non contractuelle – tarif TTC pour la formule {{societyName}} 160% sans pack et sans extra pour un profil de 18 ans qui habite en Savoie.
														<br>
														(4) 38,90€€ : offre non contractuelle – tarif TTC pour la formule {{societyName}} 200% sans pack et sans extra pour un profil de 18 ans qui habite en Savoie.
														<br>
													</i>
													<em>(5) 53<i>,08€ : offre non contractuelle – tarif TTC pour la formule {{societyName}} 300% sans pack et sans extra pour un profil de 18 ans qui habite en Savoie.</i></em>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
