<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>Prévoyance</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
						</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappelé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_add')}}"> <button class="btn btn-outline-success">Faire une demande de devis en 2mn</button></a></div>
					<div class="description-pro">
						<div class="et_pb_section et_pb_section_5 et_section_regular">
							<div class="et_pb_row et_pb_row_5">
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
								<div class="et_pb_text_inner">
											
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
									<img src="{{ asset('assets/images/photos/prevoyance.jpg')}}" alt="image illustration prevoyance">
										<div class="et_pb_text_inner">
											<p><b>La prévoyance d’entreprise sert à protéger les salariés en complétant les prestations des régimes obligatoires, en cas notamment :</b></p>
                                            <p>- De décès.</p>
                                            <p>- D’invalidité totale ou partielle.</p>
                                            <p>- D’arrêt de travail (prévoyance en cas d’incapacité temporaire ou permanente de travailler).</p>
                                            <p>- De maternité.</p>

										</div>
                                        
									</div>
								</div>
								<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
									<div class="et_pb_text_inner">
                                        <h2>Prévoyance d’entreprise : définition</h2>
                                            <p><b>Les prestations de la Sécurité Sociale sont généralement jugées insuffisantes en cas de survenance de l’un de ces risques.</b> Le contrat de prévoyance mis en place par l’entreprise vise donc à garantir les risques liés à la personne. En cas par exemple d’invalidité, le salarié et sa famille feront logiquement face à une baisse de revenus, mal compensée par l’Assurance maladie. La prévoyance groupe pourra en principe leur permettre de conserver un niveau de vie équivalent via le versement d’une rente additionnelle à celle de la Sécurité sociale.</p>
                                            <p><b>La prise en charge exacte en cas de survenance du risque (invalidité, décès…) dépendra des garanties mises en place dans l’entreprise.</b> Tous les salariés pourront être couverts, ou une partie d’entre eux seulement. L’on parlera alors de « collèges de salariés » : cadres, non-cadres… Précisons que dans le cas où l’entreprise souhaiterait ne couvrir qu’une ou plusieurs catégories de salariés, la distinction devra s’opérer selon des critères objectifs et non discriminants.</p>
                                            <p>Un contrat de prévoyance groupe mis en place par l’entreprise s’apparente, en termes de garanties, à un contrat individuel que pourrait souscrire tout salarié de son côté.</p>
                                            <p><b>La prévoyance d’entreprise interviendra donc en complément du régime obligatoire selon un principe de mutualisation des risques.</b> Tous les salariés de l’entreprise (ou salariés d’une même catégorie) auront droit aux mêmes garanties quels que soient leur âge ou état de santé. Une prévoyance pro sera bien souvent, et ce pour de multiples raisons (prix, niveau de garanties…), plus avantageuse pour eux que de souscrire à un contrat individuel.</p>
												
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">

												<h2>Quel est le coût d’une prévoyance groupe d’entreprise ?</h2>

                                                
												<p>Tout employeur se doit donc de mettre en place une prévoyance collective s’il emploie des cadres. Le risque de décès doit a minima être couvert. Auquel cas, l’entreprise devra s’acquitter de ce que l’on appelle le « 1,50 % patronal ». Concrètement, la cotisation à charge de l’entreprise équivaudra à 1,50 % du salaire de chacun de ses cadres, dans la limite de la tranche de rémunération inférieure au plafond annuel de la Sécurité sociale, soit 40 524 € en 2019 (tranche A).</p>

												<p>La cotisation devra être en priorité affectée au risque de décès. Sur les 1,50 %, au moins 0,75 % devront y être dédiés. Le « reste » pourra servir à couvrir d’autres risques liés à la personne.</p>

                                                <p>En contrepartie de sa participation financière, l’entreprise jouira, sous certaines conditions :</p>
                                                <p>- D’une déduction des cotisations de son bénéfice imposable.</p>
                                                <p>- D’une exonération des cotisations sociales correspondantes.</p>

                                                <p>La tarification proposée par chaque assureur sondé dépendra de la masse salariale dans les 3 tranches établies par la Sécurité Sociale, c’est-à-dire les tranches A, B et C. Sachez à titre d’illustration que la tranche A (c’est-à-dire le plafond mensuel de la Sécu) correspond, en 2019, à 3 377 € par mois. L’assureur calculera un pourcentage de la masse salariale correspondant à ces 3 tranches et cela donnera la tarification totale.</p>

                                                <p>Bien entendu, tous les assureurs n’ont pas la même politique de prix, d’où l’importance de la comparaison. La prime mensuelle pour chaque salarié dépendra bien entendu du niveau de couverture souscrit et des conditions du contrat. 
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Quels sont les risques couverts par un contrat de prévoyance pro ?</h2>

                                                <p>Un contrat de prévoyance collective vise à assurer des prestations aux salariés assurés en cas de survenance de l’un des risques couverts. Nous l’avons dit, les garanties et risques couverts dépendent de la formule souscrite par l’employeur.</p>
												<p>
														Voici les principaux risques auxquels doit répondre une prévoyance groupe :</p>
														
														<p>- Le décès d’un salarié : le cas échéant, l’assureur versera à ses ayants-droit (à sa famille) un capital dont le montant dépendra des conditions prévues au contrat, en sachant qu’un capital complémentaire pourra être prévu en cas de décès accidentel.</p>
														<p>- L’invalidité : l’assureur versera une rente au salarié en complément de celle de la Sécurité Sociale.</p>
														<p>- un plafonnement des honoraires d’avocat selon les catégories d’actions entreprises. Un tableau est alors annexé au contrat ;</p>
                                                        <p>- L’incapacité totale ou temporaire de travail : la prestation consistera ici en un versement d’indemnités compensatrices journalières complémentaires à celles de la Sécu.</p>
														<p>Le contrat de prévoyance pro retenu par l’employeur pourra également couvrir les risques de perte d’autonomie, les frais d’obsèques en cas de décès, prévoir une rente pour le conjoint ou une rente éducation pour les enfants en cas de décès de l’assuré… </p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>L’employé doit-il adhérer à la prévoyance collective ?</h2>

														<p>Le salarié ne sera pas toujours obligé d’adhérer au contrat de prévoyance groupe mis en place par son employeur. Tout dépendra du mode de mise en place et du fait qu’un accord de branche ou une convention collective rende ou non la chose obligatoire pour l’entreprise.
                                                

														<p>Dans les cas où le régime de prévoyance groupe est mis en place car cela est rendu obligatoire par un accord de branche ou une convention collective nationale, l’adhésion est en principe obligatoire pour tous les salariés ou par ceux visés par l’accord (si différents collèges sont prévus : cadres et non-cadres par exemple).</p>

                                                        <p>Lorsque la mise en place n’est que facultative pour l’entreprise, on fera la distinction selon la date d’arrivée des salariés :</p>

                                                <p>- Les non-cadres embauchés après la mise en place devront adhérer obligatoirement au contrat de prévoyance.</p>
                                                <p>- Les non-cadres déjà présents au moment de la mise en place pourront décliner la couverture s’ils le souhaitent, mais seulement dans le cas où la cotisation serait partagée entre employeur / employés. Si l’entreprise assume 100 % de la cotisation, ils devront adhérer au régime.</p>


                                                <p>Les cadres doivent obligatoirement adhérer à la prévoyance d’entreprise les couvrant contre le risque de décès. Lors de l’adhésion, les salariés pourront avoir à remplir un questionnaire médical, parfois exigé par certains assureurs. Il n’y aura toutefois pas de sélection des risques individuels : un salarié ne pourra faire l’objet d’une surprime parce qu’il présente un problème de santé préexistant.</p>
                                                <p>Précisons enfin que même lorsque la prévoyance pro est facultative pour les salariés, ils y trouveront tout de même un intérêt certain, et ce pour au moins 3 raisons :</p>

                                                <p>- Leur employeur aura négocié le tarif auprès de l’assureur, ce qui permettra aux salariés d’accéder de base à une couverture moins chère que celle conférée par un contrat de prévoyance individuel.</p>
                                                <p>- L’employeur participe à la cotisation en s’acquittant de sa part patronale, ce qui réduit d’autant la cotisation mensuelle à la charge des salariés.</p>
                                                <p>- La couverture conférée est très souvent, à prime équivalente, plus intéressante sur le plan des garanties qu’une prévoyance individuelle.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappelé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_add')}}"> <button class="btn btn-outline-success">Faire une demande de devis en 2mn</button></a></div>