<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>Protection Juridique</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
						</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappelé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_add')}}"> <button class="btn btn-outline-success">Faire une demande de devis en 2mn</button></a></div>
						<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
								<div class="et_pb_top_inside_divider"></div>
								<div class="et_pb_row et_pb_row_6">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="sg-offertable sg-offertable-nbcol-3 sg-offertable-priced">
											<div class="sg-offertable-mobileswitcher">
												<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button disabled"></i>
												<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">16,66€</span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
																<h2>Standard</h2>
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture minimale (clients et fournisseurs)
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">19,46€</span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															<h2>Confort</h2>
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture étendue fiscale et sociale
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">22,26€</span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
																<h2>Privilège</h2>
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture maximale
															</div>
														</div>
													</div>
												</div>
												<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen sg-has-titlegrey ">
															<div class="sg-title-green">
																Les garanties
															</div>
															<div class="sg-subtitle-grey">
																Garanties de base
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">16,66€</span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<h2>Standard</h2>
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture minimale (clients et fournisseurs)
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">19,46€</span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<h2>Confort</h2>
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture étendue fiscale et sociale
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">22,26€</span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<h2>Privilège</h2>
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture maximale
																	</div>
																</div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71cd344" aria-expanded="false" aria-controls="linecollapse_5f2abc71cd344">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Protection clients
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71cd344" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Nous assurons la défense de vos intérêts lorsque vous êtes mis en cause par l’un de vos
																		clients à l’occasion de :<br>
																		- la vente ou la location d’un bien mobilier (y compris véhicule) que vous avez fourni,<br>
																		- l’exécution d’une prestation de service que vous avez réalisée.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71ce237" aria-expanded="false" aria-controls="linecollapse_5f2abc71ce237">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Protection fournisseurs
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71ce237" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																	Nous exerçons votre recours contre un fournisseur à l’occasion de :<br>
																	- l’achat ou la location d’un bien mobilier qui vous a été fourni,<br>
																	- la mauvaise exécution ou l’inexécution d’une prestation de service réalisée par votre
																	fournisseur,<br>
																	- la conclusion ou la rupture d’un contrat de fourniture,<br>
																	pour le fonctionnement ou l’organisation de votre activité professionnelle exclusivement.																	
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Les garanties étendues
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">
															</div>
														</td>
														<td>
															<div class="tableline_val">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71d08d7" aria-expanded="false" aria-controls="linecollapse_5f2abc71d08d7">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Protection fiscale
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71d08d7" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Nous prenons en charge, dans la limite de 3 500 € par litige et par année d’assurance,
																		les frais et honoraires d’expert comptable, de conseil fiscal ou d’avocat que vous avez
																		engagés pour la défense de vos intérêts tant au plan amiable que contentieux à la suite
																		d’un litige consécutif à un redressement notifié par l’administration fiscale française
																		au moins trois mois après la prise d’effet de la présente garantie dans la mesure où
																		l’origine de ce litige n’est pas frauduleuse (notamment l’absence de déclaration
																		fiscale légale) et où vous n’avez pas fait l’objet de poursuites pénales.																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71d16c5" aria-expanded="false" aria-controls="linecollapse_5f2abc71d16c5">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Protection sociale
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71d16c5" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																Nous nous engageons à défendre vos intérêts, dans la limite de 3 500 € par litige et par
																année d’assurance, lorsque vous êtes impliqué dans un litige en matière d’affiliation, de
																cotisation ou de prestations vous opposant à un organisme social, de prévoyance ou de
																retraite, à l’exclusion des procédures relatives à l’aménagement de délais de
																paiement n’impliquant pas une contestation de votre part sur le fond.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bd860f2da9" aria-expanded="false" aria-controls="linecollapse_5f2abc71d16c5">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Protection prud'homale
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bd860f2da9" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																Nous assurons la défense de vos intérêts lorsque vous êtes impliqué dans un conflit
																individuel du travail vous opposant à l’un de vos salariés ou apprentis.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
					<div class="description-pro">

						<div class="et_pb_section et_pb_section_5 et_section_regular">
							<div class="et_pb_row et_pb_row_5">
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
								<div class="et_pb_text_inner">
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
									<img src="{{ asset('assets/images/photos/protectionjuridique.jpg')}}" alt="image illustration protection juridique">
										<div class="et_pb_text_inner">

										</div>
                                        
									</div>
								</div>
								<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
									<div class="et_pb_text_inner">
										<h2>Vos garanties</h2>

                                                <h3>Les garanties</h3>
												<h5>Assistance telephonique<h5>
                                                <p>Les juristes spécialisés denotre service d’informations juridiques sont
												à votre disposition pour vous apporter toutes informations juridiques et pratiques sur vos
												droits et en prévention de tout litige</p>

                                                <h5>Protection juridique</h5>
                                                <p>Cette garantie vous est acquise pour les litiges intervenant dans le cadre de votre
												activité professionnelle déclarée aux Conditions Particulières, en dehors de votre
												activité politique ou syndicale ou de votre vie privée, sous réserve de la souscription à
												l’une des 3 options détaillées ci-dessus et des exclusions communes prévues (détaillées ci dessous).
												</p>
												<p>Les faits, les évènements ou la situation source du litige, doivent intervenir au moins
												1 mois après la date de prise d’effet du présent contrat.</p>
												
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">


                                                <h3>Etendue geographique</h3>
												<p>- France, Territoires d'Outre-Mer et Monaco<br>
												- Pays de l’Union Européenne (hors Royaume-Unis), Principautés d’Andorre, République
												de San Marin, Liechtenstein et Suisse si le litige survient à l’occasion d’un séjour de
												moins de 3 mois consécutifs dans l’un de ces pays.
												La garantie ne couvre ni la procédure de validation, ni l’exécution des jugements
												rendus dans un pays donné contre un adversaire se trouvant dans un autre pays.</p>

												<h3>Objet et limites du contrat</h3>

												<p>Le contrat a pour but de vous permettre, en cas de litige garanti, dans les limites prévues
													aux présentes Dispositions Générales, aux Conditions Particulières, la recherche d’une
													solution amiable à son litige et, à défaut, lorsqu’une solution amiable satisfaisante ne peut
													être envisagée, votre assistance en justice en demande et en défense ainsi que le
													remboursement des frais engagés.
													
													
												La garantie intervient sous réserve que le montant des intérêts en jeu est égal ou
													supérieur à 400 €.
													Il vous incombe, par tous moyens, d’établir la réalité et le montant du préjudice que
													vous alléguez.


												La garantie couvre les litiges:<br>
												- dont les éléments constitutifs, c’est-à-dire les faits, évènements ou la situation source
												du litige, sont postérieurs à la date de prise d’effet de votre contrat, à moins que vous ne
												prouviez que vous n’en aviez pas connaissance avant,<br>
												- dont la déclaration nous est adressée entre la date de prise d’effet de votre contrat et
												celle de sa résiliation,
												A CONDITION que les faits, les évènements ou la situation, source du litige,
												interviennent au moins 1 MOIS après la date de prise d’effet du présent contrat</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Mise en oeuvre de la garantie</h2>
														<p>L’assurance de protection juridique est régie par les articles L. 127-1 et suivants du Code des assurances qui prévoit des dispositions spécifiques à son fonctionnement.</p>

                                                    <h3>Que faire quand un litige survient ?</h3>

														<p>Il est indispensable afin que nous puissions préserver vos droits et actions de nous
													déclarer rapidement tout litige dès sa survenance en nous faisant parvenir les pièces et
													précisions suivantes :<br>
														- l’ensemble de vos coordonnées (nom, prénom, adresse, numéro de téléphone…),<br>
														- le problème survenu, en indiquant clairement sa nature,<br>
														- l’objet de votre demande (par exemple, résiliation ou exécution du contrat,
														remboursement, échange, réparation…)<br>
														- les pièces justificatives (documents contractuels, conditions générales de vente, factures,
														devis, échanges de correspondances avec la partie adverse, convocation au tribunal…).

                                                    <h3>Vos obligations</h3>
														<p>Dès que vous avez connaissance d’un litige, vous devez le déclarer, dans un délai de
													10 jours, par écrit ou verbalement contre récépissé, à nous-mêmes ou à notre
													mandataire.</p>

                                    
														<p>Vous devez, sous peine de déchéance de garantie, obtenir notre accord écrit AVANT :<br>
														- de saisir un avocat ou une juridiction<br>
														- d’engager une nouvelle étape de procédure ou d’exercer une voie de recours.</p>
														<p>De même, vous êtes tenu, sous peine de déchéance de garantie, de nous
														communiquer, dans les meilleurs délais, tous avis, lettres, convocations, actes
														d’huissiers, assignations et pièces de procédure qui vous seraient adressés, remis ou
														signifiés.<br>
														A défaut de remplir ces obligations, sauf cas fortuit ou de force majeure, vous serez
														déchu de tout droit à garantie sous réserve que nous puissions établir que votre
														manquement à vos obligations nous a causé un préjudice.<br>
														Si vous faites sciemment de fausses déclarations sur la nature, les causes,
														circonstances et conséquences d’un litige, vous êtes déchu de tout droit à garantie
														pour ce litige.</p>


													<h3>Choix de l'avocat</h3>
														<p>En cas de procédure, vous pouvez confier la défense de vos intérêts à un avocat ou à une
														personne qualifiée de votre choix. Dans ce cas, vous avez l’obligation de nous en informer
														au préalable et de nous communiquer ses coordonnées. Le cas échéant, si vous le
														souhaitez, vous pouvez choisir l’avocat que nous pouvons vous proposer, sur demande
														écrite de votre part.<br>
														Nous prenons en charge les frais et honoraires engagés dans la limite des montants prévus
														à l’article 7 des présentes Dispositions Générales et sous réserve des limites prévues à
														chaque garantie.</p>

													<h3>Montant de notre prise en charge en cas de litige garanti</h3>
														<p>
														Nous prenons en charge à l’occasion d’un litige garanti et dans la limite d’un plafond global
														de garantie de 20 000 € par litige et par année, sous réserve des limites prévues à
														chaque garantie :<br>
														- les honoraires des experts que nous avons saisis,<br>
														- les coûts des constats d’huissiers et des procès-verbaux de police que nous avons
														exposés,<br>
														- les frais taxables et émoluments d’avocats et les autres dépenses taxables,<br>
														- les honoraires et frais non taxables d’avocats dans la limite des montants figurant au
														tableau ci-après.</p>

													<h5>Plafonds par niveau de juridiction</h5>
													<p><b>ASSISTANCE</b> (assistance à expertise, assistance à mesure d'instruction, recours précontentieux en matière administrative, représentation devant une commission administrative civile ou disciplinaire) : <b>291 € (HT) pour chaque intervention</b></p>
													<p><b>Médiation (pénale ou civile), transaction ou désistement</b> : <b>380 € (HT)</b></p>
													<p><b>Ordonnances (y compris en matière administrative sur requête, en matière gracieuse ou sur requête, référé)</b> : <b> 600 € (HT)</b></p>
													<p><b>PREMIERE INSTANCE :<br>
													Tribunal de police</b> :<br> - infraction au code de la route : <b>400 € (HT)</b><br>- autres : <b>500 € (HT)</b><br>
													<b>Tribunal correctionnel</b>:<br>- sans constitution de partie civile de l'assuré : <b>400 € (HT)</b><br>- avec constitution de partie civile de l'assuré : <b>550 € (HT)</b><br> 
													<b>Tribunal d'Instance</b> : <b>800 € (HT)</b><br>
													<b>Tribunal de Grande Instance</b> : <b>920 € (HT)</b><br>
													<b>Tribunal Administratif</b> : <b>920 € (HT)</b><br>
													<b>Tribunal de Commerce</b> : <b>920 € (HT)</b><br>
													<b>Tribunal des Affaires de Sécurité Sociale et contentieux technique</b> : <b>920 € (HT)</b><br>
													Conseil de Prud'hommes</b> :<br> - conciliation, départage : <b>550 € (HT)</b><br>- jugement : <b>550 € (HT)</b><br>
													<p><b>Autres juridictions de 1ère Instance</b> : <b>760 € (HT)</b></p>
													<p><b>Juge de l’exécution</b> : <b>625 € (HT)</b></p>
													<p><b>APPEL :</b><br>- en matière pénale : <b>625 €</b><br>- autres matières : <b>1020 € (HT)</b></p>
													<p><b>Cour d'assises, Cour de Cassation, Conseil d'état</b> : <b>1700 € (HT)</b></p>
													<p><b>Rédaction de plainte avec constitution de partie civile</b> : <b>300 €</b></p>
													<p><b>Commission d’Indemnisation des Victimes d’Infractions</b>: <b>300 €</b></p>
													<p>Les montants ci-dessus peuvent être cumulés et représentent le maximum de nos
													engagements par litige et par année, pour l’ensemble des assurés, sous réserve des limites
													prévues à chaque garantie.
													Ces montants s’entendent Hors Taxes et sont majorés de la TVA en vigueur au jour de la
													facturation.<br>
													Ils comprennent les frais habituels inhérents à la gestion d’un dossier (frais de copie, de
													photocopie, de déplacement, etc …).<br>
													La prise en charge des frais et honoraires d’avocats s’effectue selon les modalités
													suivantes :<br>
													- si vous faites appel à un avocat de votre choix, nous vous remboursons le montant de
													ses honoraires suivant présentation des justificatifs des honoraires réglés accompagnés de
													la copie intégrale de toutes les pièces de procédure et décisions rendues ou du protocole
													de transaction signé par les parties.<br>
													 en cas de demande expresse de votre part, nous pouvons adresser le règlement de ces
													sommes directement à votre avocat.<br>
													- en cas de paiement d’une première provision à votre avocat, nous pouvons vous verser
													une avance sur le montant réclamé à hauteur de 50 % des montants prévus sur
													présentation de la demande de provision, le solde vous étant réglé sur présentation de la
													décision rendue.<br>
													- si vous nous demandez l’assistance d’un avocat que nous pouvons vous proposer, nous
													réglons directement ses frais et honoraires, vous n’avez pas à en faire l’avance.</p>
													<p><b>Les juridictions étrangères</b><br>
													Lorsque l’affaire est portée devant les juridictions étrangères, le montant retenu est celui
													de la juridiction française équivalente. A défaut, le plafond applicable est celui du niveau de
													juridiction concerné.</p>
													<p><b>Les frais non pris en charge</b>
													Nous ne prenons jamais en charge ni l’amende, ni le principal, ni toute autre somme que
													vous pourriez être condamné à verser et notamment, les frais de procédure exposés par le
													tiers, les intérêts de retard, les dommages-intérêts, les condamnations prononcées contre
													vous au titre de l’article 700 du Code de Procédure Civile et ses équivalents devant les
													autres juridictions françaises ou étrangères.<br>
													Nous ne prenons également jamais en charge les consignations pénales qui vous sont
													réclamées.<br>
													Nous ne prenons pas en charge les frais servant à établir la réalité de votre préjudice.</p>


													<h3>Frais de procès - subrogation</h3>
													<p>Nous sommes subrogés dans vos droits et actions, dans la limite des sommes que nous
													avons payées directement, pour le recouvrement des sommes qui vous sont allouées
													notamment au titre des dépens et de l’article 700 du Code de Procédure Civile et ses
													équivalents devant les autres juridictions.<br>
													Néanmoins, si vous justifiez de frais restés à votre charge que vous avez payés dans
													l’intérêt de la procédure, vous récupérez ces sommes en priorité</p>


													<h3>Conflits d'interets - arbitrage</h3>
													<p>Si un conflit d’intérêt survient entre vous et nous, vous êtes libre de choisir un avocat ou
													une personne qualifiée de votre choix pour vous assister. Nous prenons en charge ses frais et honoraires selon les conditions et modalités précisées ci-dessus.<br>
													En cas de désaccord entre vous et nous sur le règlement d’un litige, vous pouvez :<br>
													- soit exercer l’action, objet du désaccord, à vos frais,<br>
													- soit soumettre ce différend à une tierce personne désignée d’un commun accord ou à
													défaut par le Président du Tribunal de Grande Instance statuant en la forme des référés.
													Les frais ainsi exposés sont à notre charge, sauf décision contraire du Président de Grande
													Instance s’il juge que vous avez mis en œuvre cette faculté dans des conditions abusives.
													Si, contrairement à notre avis et/ou celui de la tierce personne mentionnée ci-dessus, vous
													engagez à vos frais l’action objet du désaccord et obtenez une solution plus favorable à
													celle que nous vous avons proposée, nous vous rembourserons les frais et honoraires
													exposés dans les conditions et limites prévues aux articles 6 et 7 du présent contrat.</p><br>

													<h3>Les exclusions</h3>

													<h5>Nous ne garantissons pas</h5>

													<p>Outre les exclusions particulières mentionnées à chaque garantie, nous ne
														garantissons jamais :<br>
														- les litiges relatifs à l’expression d’opinions politiques, syndicales ou religieuses,<br>
														- les litiges en rapport avec une tromperie, une faute intentionnelle ou un acte
														frauduleux de votre part,<br>
														- la défense de vos intérêts lorsque vous êtes poursuivi pour crime ou délit impliquant la
														volonté de causer un dommage,<br>
														- les litiges qui ont pour origine une contravention sanctionnée par le paiement d’une
														amende forfaitaire,<br>
														- les litiges survenant lorsque vous êtes sous l’emprise d’un état alcoolique, ou sous
														l’influence de substances ou de plantes classées comme stupéfiants ou lorsque vous
														refusez de vous soumettre à un contrôle de dépistage ou, lorsque vous êtes poursuivis
														pour délit de fuite ou pour refus d’obtempérer même en l’absence d’accident,<br>
														- les litiges pour lesquels vous devez payer, au titre des charges de copropriété, une
														quote-part des frais et honoraires dans le cadre d’une action impliquant le syndicat des
														copropriétaires,<br>
														- les litiges de nature fiscale, sous réserve de l’application des dispositions ci-avant,<br>
														- les litiges relatifs à la reconstitution de comptabilité, aux droits de douanes et
														d’enregistrement ou relatif à un contrôle URSSAF sur pièces,<br>
														- les litiges relatifs à une modification du règlement de copropriété,<br>
														- les litiges relatifs au droit de l’urbanisme,<br>
														- les litiges découlant de l’achat, la détention, la cession de parts sociales ou de valeurs
														mobilières, y compris la multipropriété,<br>
														- les litiges relatifs à vos immeubles de rapport ou découlant de votre qualité de
														propriétaire ou d’usufruitier d’un patrimoine immobilier locatif,<br>
														- les litiges relatifs à l’état des personnes (Livre premier du Code Civil), au droit de la
														famille, aux régimes matrimoniaux, aux successions et liquidations de communautés,<br>
														- les conflits collectifs du travail,<br>
														- les actions visant au recouvrement de vos impayés sans qu’il y ait de votre part une
														contestation sérieuse sur le fond,<br>
														- les litiges résultant d’un recouvrement de vos créances,<br>
														- les litiges découlant de l’état de surendettement ou d’insolvabilité dans lequel vous
														pourriez vous trouver, ainsi qu’aux procédures relatives à l’aménagement de délais de
														paiement,<br>
														- les litiges résultant d’avals ou de cautionnements que vous avez donnés ou de mandats
														que vous avez reçus,<br>
														- les litiges relatifs à une procédure de rétablissement personnel avec liquidation
														judiciaire, à la mise en place à votre profit d’une procédure de sauvegarde, à un état de
														cessation des paiements, à votre mise en redressement ou liquidation judiciaire et à tous
														frais et procédures s’y rapportant,<br>
														- les litiges relatifs à toutes atteintes à l’environnement, pour lesquelles vous êtes mis en
														cause,<br>
														- les litiges portant sur la propriété intellectuelle ou sur la concurrence déloyale,<br>
														- les litiges relatifs aux infractions commises par voie de presse ou par tout autre moyen
														de publication et de communication, aux délits et contraventions de menace, de
														diffamation et d’injure publique ou privée, que l’instance soit pénale ou civile,<br>
														- les litiges couverts pour la défense et le recours par une assurance de responsabilité
														civile ou une assurance souscrite par vous-même ou se rapportant à une situation dans
														laquelle vous êtes en infraction avec une obligation légale d’assurance,<br>
														- les faits, les évènements ou la situation, source du litige, qui interviennent pendant ou
														avant les délais de carence stipulés aux présentes Dispositions Générales,<br>
														- les litiges dont l’origine se situe à une date antérieure à la date de prise d’effet du
														présent contrat tels que fixés aux Conditions Particulières et/ou les litiges dont la
														déclaration est effectuée postérieurement à la date à laquelle le contrat a cessé ses effets,<br>
														- les litiges opposant les assurés entre eux,<br>
														- les litiges opposant l’assuré à l’assureur protection juridique hormis le cas de l’arbitrage.<br>


														<h2>La déclaration du risque</h2>

														<h5>Déclaration a la souscription et en cours de contrat</h5>

														<p>Le contrat est établi d’après vos déclarations et la cotisation est fixée en conséquence.</p>

														<p><b>A la souscription du contrat</b><br>
														Vous devez répondre exactement aux questions posées par nous, permettant
														l’appréciation du risque et l’établissement de votre contrat, en donnant toutes les
														précisions relatives aux caractéristiques nécessaires qui figurent sur la proposition et/ou
														sur les Conditions Particulières du contrat.</p>
														<p><b>En cours de contrat</b><br>
														Vous devez nous informer de toutes les modifications qui affectent les déclarations
														mentionnées aux Conditions Particulières du contrat et dans la proposition.<br>
														Cette information doit être faite préalablement à la modification ou au plus tard dans les
														15 jours du moment où vous en avez connaissance.<br>
														Lorsque la modification constitue une aggravation (article L 113-4 du Code), nous pouvons
														alors :<br>
														- soit résilier votre contrat moyennant un préavis de 10 JOURS après notification<br>
														- soit vous proposer une nouvelle cotisation. Si vous ne donnez pas suite dans un délai
														de 30 JOURS ou si vous la refusez expressément, nous pouvons résilier votre contrat au
														terme de ce délai.<br>
														Lorsque la modification du contrat constitue une diminution (article L 113-4 du Code), vous
														avez droit à une diminution de la cotisation. En cas de refus de notre part, vous pouvez
														résilier votre contrat. La résiliation prend alors effet 30 jours après la dénonciation.
														La portion de cotisation afférente à la période postérieure à la résiliation vous est remboursée.</p>

														<h5>Sanctions</h5>

														<p>Toute réticence ou fausse déclaration intentionnelle entraîne la nullité du contrat (article L
															113-8 du Code).
															Toute omission ou déclaration inexacte entraîne la réduction des indemnités (article L 113-
															9 du Code).</p>

														<h5> Autres assurances</h5>

														<p>Si vous souscrivez, auprès de plusieurs assureurs, des contrats pour un même intérêt,
															contre un même risque, vous devez donner immédiatement à chaque assureur
															connaissance des autres assurances (article L 121-4 du Code). Lors d’un sinistre, vous
															pouvez obtenir l’indemnisation des dommages en vous adressant à l’assureur de votre
															choix.</p>

														<h2>La cotisation</h2>

														<h5>Modalités de paiement</h5>

														<p>Vous payez votre cotisation d’avance au début de chaque ANNEE D’ASSURANCE. Cette
															cotisation, y compris les frais et taxes, doit être payée à la date d’échéance indiquée aux
															Conditions Particulières à notre Siège ou au bureau de notre représentant.
															En cas d’utilisation du prélèvement SEPA pour le paiement de la cotisation, y compris frais
															et taxes, nous nous accordons, vous et nous, sur une pré-notification d’au moins 2 jours
															avant la date du premier prélèvement effectué.</p>
														
														<h5>Le non-paiement</h5>


														<p>Le paiement d’une cotisation ou d’une fraction de cotisation doit être effectué dans les
														10 jours qui suivent l’échéance. A défaut, nous pouvons, indépendamment de notre droit
														de poursuivre l’exécution du contrat en justice, suspendre notre garantie (article L 113-3 du
														Code).<br>
														Pour cela, nous devons vous adresser à votre dernier domicile connu une lettre
														recommandée valant mise en demeure. Notre garantie est suspendue trente jours après
														cet envoi.<br>
														Nous avons le droit de résilier votre contrat 10 jours après l’expiration de ce délai. Nous
														devons vous en aviser, soit dans la lettre de mise en demeure, soit dans une nouvelle lettre
														recommandée.<br>
														La suspension de garantie pour non-paiement de la cotisation ne vous dispense pas de
														l’obligation de payer les cotisations à leur échéance.<br>
														La garantie reprendra ses effets le lendemain à midi du jour où la cotisation à payer aura
														été réglée, si le paiement intervient avant la date d’effet de la résiliation du contrat par
														nous.<br>
														Nous attirons votre attention sur le fait que le paiement de la cotisation après la date
														d’effet de cette résiliation ne remet pas en vigueur le contrat et nous reste acquis à titre
														d’indemnité.</p>

														<h5>Revision du tarif</h5>

														<p>Si pour des raisons techniques nous sommes amenés à modifier le tarif applicable aux
														risques garantis, le montant de la cotisation, payable à toute échéance annuelle, sera luimême ajusté.
														A compter du jour où vous avez eu connaissance de la majoration, vous disposez d’un mois
														pour résilier votre contrat, moyennant préavis notifié à notre adresse.<br>
														Cette résiliation prendra effet un mois après l’envoi de votre demande de résiliation.
														Vous serez redevable d’une fraction de cotisation, calculée sur la base de la cotisation non
														majorée précédente, au prorata du temps écoulé entre la date d’échéance et la date d’effet
														de la résiliation.</p>

														<h2>La formation et la vie du contrat</h5>

														<h5>Prise d'effet et période de validité des garanties</h5>

														<p>Votre assurance commence lorsque le contrat a été signé par les deux parties, à la date
														d’effet figurant aux conditions particulières.</p>

														<h5>Durée de votre contrat</h5>

														<p>Sa durée est de un an, renouvelable par tacite reconduction. Toutes actions visant à mettre en jeu le présent contrat d’assurance sont prescrites par
															deux ans à compter de l’événement qui y donne naissance dans les conditions
															déterminées par les articles L 114.1 et L 114.2 du Code des Assurances.<br>
															Toutefois, ce délai ne court :<br>
															- en cas de réticence, omission, déclaration fausse ou inexacte sur le risque couru, que du
															jour où nous en avons eu connaissance<br>
															- en cas de sinistre, que du jour où les intéressés en ont eu connaissance, s’ils prouvent
															qu’ils l’ont ignoré jusque là.<br>
															Quand l’action de l’assuré contre nous a pour cause le recours d’un tiers, le délai de la
															prescription ne court que du jour où ce tiers a exercé une action en justice contre l’assuré
															ou a été indemnisé par ce dernier.<br>
															La prescription est interrompue (article L 114-2 du Code des assurances) par une des
															causes ordinaires d'interruption de la prescription et par la désignation d'experts à la suite
															d'un sinistre. L'interruption de la prescription de l'action peut, en outre, résulter de l'envoi
															d'une lettre recommandée ou d'un envoi recommandé électronique, avec accusé de
															réception, adressés par l'assureur à l'assuré en ce qui concerne l'action en paiement de la
															prime et par l'assuré à l'assureur en ce qui concerne le règlement de l'indemnité.<br>
															La prescription peut également être interrompue par une citation en justice même en
															référé ou par un commandement ou une saisie. </p>

														<h5>Sort de la côtisation</h5>

														<p>Dans le cas de résiliation en cours d’année d’assurance, la portion de cotisation afférente à
															la période postérieure à la résiliation vous est remboursée.
															<b>Toutefois, en cas de résiliation pour non-paiement, la cotisation annuelle est due
															intégralement à titre d’indemnité.</b></p>

														<h2>La fin du contrat</h2>

														<p>Le contrat peut-être résilié :<br>
														- Si vous changez : de domicile, de situation ou régime matrimonial, de profession ou si vous cessez toute activité professionnelle et si ce changement affecte la nature du risque garanti. La résiliation doit être faite dans les TROIS MOIS qui suivent l'événement et prend effet 1 mois après notification à l'autre partie.
														La résiliation peut-être effectué soit par vous soit par nous selon l'article L 113-16 du code des Assurances.<br>
														- En cas d'aggravation du risque, en cas de déclarations incomplètes ou inexactes du risque moyennant un préavis de 10 JOURS, chaque année à la date d'échéance principale, moyennant un préavis d'au moins DEUX MOIS, ou en cas de non-paiement de la côtisation. La résiliation doit être effectué par nous. Selon les articles L 113-4, L 113-9, L 113-3.<br>
														- A tout moment, moyennant préavis d'au moins UN MOIS. La résiliation doit s'effectuer par vous même.
														- En cas de décès, l’assurance est transférée de plein droit à l’héritier. Cet héritier est alors tenu aux
														mêmes obligations envers nous que celles qui étaient les vôtres.<br>
														La résiliation doit intervenir dans les 3 MOIS qui
														suivent le transfert. Elle doit s'effectuer par l'héritier ou nous même. Selon l'article L 121-10 du code des Assurances.<br>
														- Si l'agrément nous est retiré par le Ministre de Tutelle ou en cas de retrait de l’agrément de l’Union de
														Réassurance. La résiliation intervient le 10ème jour à midi à compter de la date de parution au Journal Officiel de l’arrêté prononçant le retrait. De plein droit selon les articles L 326-12 et R 322-113.<br>

														<h5>Comment le contrat peut-il être résilié ?<h5>
														<p><b>Par Nous</b>: par lettre recommandée avec accusé de réception adressée à votre dernier domicile connu.</p>
														<p><b>Par vous</b>:  par lettre recommandée avec accusé de réception ou déclaration faite contre
															récépissé auprès de notre Société, au moins deux mois avant la date d'échéance.</p>

														<h2>Protection des données personnelles</h2>

														<p>
																Les informations nominatives recueillies dans le cadre du présent contrat sont enregistrées
																et donnent lieu à des traitements informatisés par votre mutuelle et ses intermédiaires.<br>
																Ces traitements ont pour finalité la souscription, la gestion et l’exécution du contrat
																dans le cadre de la règlementation en vigueur. Ces données sont également traitées pour
																la lutte contre le blanchiment et le financement du terrorisme, la prévention et la
																lutte contre la fraude, pour l’élaboration de statistiques et d'études actuarielles,
																pour la gestion de la relation client, la prospection commerciale, la réalisation
																d’enquêtes de satisfaction et pour l’exercice des recours et la gestion des
																réclamations et contentieux.<br>
																Elles pourront être communiquées exclusivement pour cette finalité aux réassureurs qui
																s’engagent à veiller au respect de la confidentialité des données qui leur sont transmises
																compte tenu de leur sensibilité.<br>
																Par conséquent ces données ont un caractère contractuel et/ou règlementaire et elles
																conditionnent la conclusion du contrat. Elles sont destinées, dans le strict cadre des
																finalités énoncées ci-dessus, à la mutuelle, ses prestataires, partenaires, sous-traitants,
																réassureurs respectifs. Elles seront, le cas échéant, transmises aux autorités
																administratives et judiciaires pour satisfaire aux obligations légales et réglementaires.
																Ces données seront conservées durant toute la vie du contrat, jusqu’à expiration à la
																fois des délais de prescription légaux et des délais prévus par les différentes
																obligations de conservation imposées par la réglementation. L’assuré bénéficie d’un
																droit d’accès, de rectification, d’effacement et de retrait du consentement au traitement de
																ces données personnelles ainsi que du droit de demander la limitation du traitement ou de
																s’y opposer. Il peut également demander la portabilité des données qu’il a transmises
																lorsqu’elles étaient nécessaires au contrat ou lorsque son consentement était requis et
																dispose du droit de prévoir des directives relatives au sort de ses données à caractère
																personnel après son décès.<br>
																L’assuré peut exercer ses droits en contactant directement le délégué à la protection des
																données par mail : protectiondesdonnees@gamest.fr</p>
														

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div>
		<div class="submit-button-container-devis">
			<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
				<button class="btn btn-outline-success">Demander à être rappelé</button>
			</a>
		</div>
		<div class="submit-button-container-devis">
			<a href="{{ path('assurances_devis_add')}}"> 
				<button class="btn btn-outline-success">Faire une demande de devis en 2mn</button>
			</a>
		</div>