<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>Protection Juridique</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row px-3 mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>						
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappellé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_add')}}"> <button class="btn btn-outline-success">Faire une demande de devis en 2mn</button></a></div>
						<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
								<div class="et_pb_top_inside_divider"></div>
								<div class="et_pb_row et_pb_row_6">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="sg-offertable sg-offertable-nbcol-3 sg-offertable-priced">
											<div class="sg-offertable-mobileswitcher">
												<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button disabled"></i>
												<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">6,90€</span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
																<h2>Standard</h2>
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture minimale
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">7,90€</span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															<h2>Confort</h2>
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture étendue
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">22,26€</span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
																<h2>Privilège</h2>
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture maximale
															</div>
														</div>
													</div>
												</div>
												<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen sg-has-titlegrey ">
															<div class="sg-title-green">
																Les garanties
															</div>
															<div class="sg-subtitle-grey">
																Garanties de base
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">6,90€</span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<h2>Standard</h2>
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture minimale 
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">7,90€</span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<h2>Confort</h2>
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture étendue
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">8,90€</span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<h2>Privilège</h2>
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture maximale
																	</div>
																</div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Consommation
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Automobile
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Habitation
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Travail
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Les garanties étendues
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">
															</div>
														</td>
														<td>
															<div class="tableline_val">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Usurpation d'identité
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Atteinte à l'e-réputation
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Permis de conduire
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
					<div class="description-pro">

						<div class="et_pb_section et_pb_section_5 et_section_regular">
							<div class="et_pb_row et_pb_row_5">
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
								<div class="et_pb_text_inner">
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
									<img src="{{ asset('assets/images/photos/protectionjuridique.jpg')}}" alt="image illustration protection juridique">
										<div class="et_pb_text_inner">
										<h2>De quel type d’assurance s’agit-il ? </h2>
										<p>L’assurance Protection Juridique permet la fourniture des services de conseil à l’assuré, d’assistance amiable pour
										résoudre un litige et la prise en charge par l’assureur de certains frais de procédure de l’assuré en cas de différend ou de
										litige opposant celui-ci à des tiers. Les types de litige garantis sont définis au contrat. 3 niveaux de protection sont
										proposés.</p>
										</div>
                                        
									</div>
								</div>
								<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
									<div class="et_pb_text_inner">
										<h2>Qu’est-ce qui est assuré ?</h2>

                                                <h3>Les beneficiaires</h3>
												
                                                <p>Vous, votre conjoint, votre concubin ou partenaire signataire
													d’un Pacte Civil de Solidarité et vos enfants à charge au
													sens fiscal du terme</p>

                                                <h3>Les prestations</h3>
												<p>
                                                - Renseignement juridique par téléphone.<br>
												
												- Assistance juridique en phase amiable et judiciaire.<br>
												
												- Assistance financière : règlement de certaines des démarches
													accomplies par des intervenants extérieurs (avocats, experts,
													huissiers) dans le cadre des plafonds de garanties et avec un
													maximum de 15.000 € par litige.<br></p><br>
												
												<h3>Les litiges couverts</h3>

												<p>
                                                - Consommation de biens et services y compris consommation automobile et internet (en inclusion dans toutes les formules)<br>
												
												- Vie professionnelle du salarié et de l’agent public dans le cadre de conflit individuel du travail (en inclusion dans toutes les formules)<br>
												
												- Habitation (en inclusion dans toutes les formules)<br>
												- Atteinte à la réputation numérique, usurpation d’identité (en formule confort et privilège)<br>
												- Permis de conduire (en formule privilège)</p>

												
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">


                                                <h2>Où suis-je couvert(e) ? </h2>

												<p>- En France Départements d’Outre-Mer, Collectivités d’Outre-Mer et Monaco.<br>
												- Dans l’Union Européenne et les pays suivants : Andorre, Liechtenstein, Saint-Marin, Suisse, si le litige survient à l’occasion d’un séjour de moins de 3 mois consécutifs dans l’un de ces pays.</p>

												<h2>Quelles sont mes obligations ? </h2>

												<p><b>Sous peine de nullité du contrat d’assurance ou de non garantie :</b></p>
												<p><b>À la souscription du contrat</b><br>
												- L'assuré est tenu de régler la cotisation selon les échéances prévues au contrat.<br>
												- L'assuré est tenu de répondre exactement aux questions posées par l'assureur notamment dans le formulaire de déclaration lui permettant d'apprécier les risques pris en charge.<br>
												- L’assuré est tenu de fournir tous les documents justificatifs demandés par l’assureur.</p>
												<p><b>En cours de contrat</b><br>
												- L’assuré est tenu de déclarer toutes les circonstances nouvelles ayant pour conséquence de modifier ou d’aggraver les risques pris en charge.<br>
												<p><b>En cas de sinistre</b><br>
												-  Déclarer tout sinistre de nature à mettre en jeu l’une des garanties dans les conditions et délais impartis et joindre tous documents utiles à l’appréciation du sinistre.<br>
												- – Informer des garanties éventuellement souscrites pour les mêmes risques en tout ou partie auprès d’autres assureurs, ainsi que tout remboursement que vous pourriez recevoir au titre d’un sinistre.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Y-a-t-il des exclusions à la couverture ? </h2>


                                                    <h3>Les principales exclusions</h3>

														<p>
														- Les litiges liés à la conduite sous l’emprise d’un état alcoolique, de drogues, stupéfiants et pour délit de fuite <br>
														- Les litiges de bornage ou de mitoyenneté <br>
														- Les litiges découlant d’investissements ou de placements hors France métropolitaine
														- Les litiges découlant de l’achat, la détention, la cession de parts sociales ou de valeurs mobilières y compris en la multipropriété<br>
														- Les litiges relatifs à vos immeubles de rapport ou découlant de votre qualité de propriétaire ou d’usufruitier d’un patrimoine immobilier locatif<br>
														- Les litiges pour lesquels vous devez payer, au titre des charges de copropriété, une quote-part des frais et honoraires dans le cadre d’une action impliquant le syndicat des copropriétaires ainsi que les litiges relatifs à une modification du règlement de copropriété<br>
														- Les conflits collectifs du travail<br>
														- Les litiges découlant de l’état de surendettement ou d’insolvabilité<br>
														- Les litiges relatifs aux infractions<br>
														- Les litiges dont l’assuré a connaissance avant la souscription du contrat ou avant le terme du délai de carence<br>
														- Les litiges opposant les assurés entre eux
														</p>
													
													<h3>Les principales restrictions</h3>

														<p>
														- Construction : obligation de souscription garantie Dommage ouvrage<br>
														- Prise en charge limitée à 2000 € en construction, droit de la personne et fiscalité<br>
														- Naissance du litige antérieur à la souscription
														</p>


													<h2>Qu’est-ce qui n’est pas assuré ?</h2>
														<p>
														- Les litiges portant sur les infractions liées à un vol, un délit, un crime ou à une contravention<br>
														- Les litiges dont l’intérêt financier est inférieur à 150 €<br>
														- Les litiges portant sur des activités professionnelles<br>
														- L’indemnisation des dommages et amendes subis par l’assuré
														</p>
													
													<h2>Quand et comment effectuer les paiements ? </h2>
													<p>Les cotisations sont payables aux échéances prévues au contrat (mensuel)<br>
													Les cotisations sontpayables suivant les modalités prévues au contrat (prélèvement automatique).</p>

													<h2>Quand commence la couverture et quand prend-elle fin ? </h2>
													<p><b>Début de la couverture</b><br>
													Le contrat prend effet à la date indiquée sur les conditions particulières.<br>Il est conclu pour une durée d’un an et se renouvelle automatiquement d’année en année à sa date d’échéance principale sauf résiliation par l’une des parties dans les cas et conditions fixés au contrat.</p>

													<h2>Comment puis-je résilier le contrat ? </h2>
													<p>Vous pouvez résilier votre contrat dans les cas et délais prévues par la réglementation et par les Conditions Générales, notamment à l’échéance principale et lors de la survenance de certains événements. Sauf cas particulier, votre demande de résiliation doit être adressée par lettre recommandée..</p>
													
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappellé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_add')}}"> <button class="btn btn-outline-success">Faire une demande de devis en 2mn</button></a></div>