<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>Responsabilité Civile Professionnelle</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
						</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappellé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_add')}}"> <button class="btn btn-outline-success">Faire une demande de devis en 2mn</button></a></div>
					<div class="description-pro">
						<div class="et_pb_section et_pb_section_5 et_section_regular">
							<div class="et_pb_row et_pb_row_5">
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">

									</div>
									<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
									<img src="{{ asset('assets/images/photos/mrp.jpg')}}" alt="image illustration responsabilité civile professionnelle">
										<div class="et_pb_text_inner">
											<p>
                                                L’assurance responsabilité civile professionnelle est importante pour les entreprises
                                                désireuses de se protéger en cas de préjudices causés à autrui et leurs suites, à cause de
                                                fautes, de négligences, d’omissions, de défaillances de services et d’imprudence dans le
                                                cadre de l’exercice de leurs activités.
											</p>
                                            <p> La souscription de ce contrat est obligatoire pour certaines professions (professions
                                                règlementées, professionnels du bâtiment, autoentrepreneurs, etc.) ; elle permet aussi aux autres
                                                travailleurs de se concentrer sur leurs spécialités et d’améliorer le rendement leur productivité. En
                                                effet, ce type de contrat aide à rassurer les clients potentiels et à fidéliser ceux qui ont déjà passé
                                                des commandes.
                                            </p>
										</div>
									</div>
								</div>
								<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
									<div class="et_pb_text_inner">
										<h2>Une assurance RC Pro avec des garanties sécurisantes et transparentes</h2>
											
                                            <p>Votre activité ou la vente des produits que vous proposez peut provoquer des dommages aux
                                                tiers (employés, clients, fournisseurs, sous-traitants) : en souscrivant à l’assurance RC Pro
                                                présentée en ligne, vous bénéficiez d’une couverture satisfaisante en cas de :</p>

                                            <p>- Dommages matériels (bien perdu ou abîmés) ;</p>
                                            <p>- Dommages immatériels (pertes financières) ;</p>
                                            <p>- Dommages corporels (prise en charge des atteintes à l’intégrité physique ou morale).</p>
                                            <br>
                                            <p><b>L’assurance RC Pro</b> peut également prévoir une compensation en cas de perte de données ou
                                                de documents confidentiels, d’erreurs de programmes, de retard de livraison entrainant une faute
                                                à l’égard du client.</p>
                                            <p><b>La portée des garanties varie en fonction du niveau de protection souhaitée.</b>  Il est possible
                                                de renforcer la portée des couvertures en rajoutant des clauses optionnelles et l’assurance RC Pro devient alors un contrat multirisque professionnel.</p>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">

												<h3>Les personnes assurées</h3>
												<p>Généralement, la garantie responsabilité civile professionnelle couvre le souscripteur du contrat et les salariés de l’entreprise, les tiers, les stagiaires et/ou les apprentis. pour tout dommage causé dans le cadre d’une relation contractuelle entre clients et fournisseurs. Le préjudice est pris en charge par la responsabilité civile professionnelle si le fait avéré est dommageable et s’il existe un rapport de cause à effet entre les deux.</p>

                                                <h3>Les dommages couverts</h3>
												<p>La garantie responsabilité civile professionnelle couvre les conséquences pécuniaires des risques que peuvent engendrer une activité professionnelle. Il est donc important de veiller à ce que les risques soient bien identifiés afin de prévoir une couverture suffisante. Dans le cas contraire, les risques financiers portés par l’entreprise peuvent-être importants et mettre la société devant l’obligation de payer des dommages et intérêts si la responsabilité est reconnue. Assuromieux se spécialise dans les assurances pour les entreprises afin de mieux les accompagner dans leur politique de gestion des risques.
												</p>
                                                <h3>Pourquoi souscrire à une assurance RC Pro ?</h3>
                                                <p>- Faire face à tous les risques professionnels et les imprévus qui peuvent compromettre la
                                                        pérennité de vos activités ;</p>
                                                <p>- Vous aider à régler les litiges à l’amiable ;</p>
                                                <p>- Bénéficier d’une couverture si un client décide de vous attaquer en justice ;</p>
                                                <p>- Décrocher plus de contrats en mettant en avant la sécurité procurée par les garanties RC
                                                    professionnelles.</p>


											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div>
		<div class="submit-button-container-devis">
			<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
				<button class="btn btn-outline-success">Demander à être rappellé</button>
			</a>
		</div>
		<div class="submit-button-container-devis">
			<a href="{{ path('assurances_devis_add')}}"> 
				<button class="btn btn-outline-success">Faire une demande de devis en 2mn</button>
			</a>
		</div>
	</div>