<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
				<div class="entry-content">
					<div id="et-boc" class="et-boc">
						<div class="et_builder_inner_content et_pb_gutters3">
							<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
								<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Cyclo</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
						<div class="container">
							<div class="mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
						</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappelé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="#"> <button class="btn btn-outline-success">Faire un devis en quelques clics (désactivé)</button></a></div>
							<div class="et_pb_section et_pb_section_5 et_section_regular">
								<div class="et_pb_row et_pb_row_5">
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Les garanties essentielles pour rouler protégé en cyclo</h2>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													Dès lors que vous vous déplacez en 2 roues, même moins de 50cc, vous avez l’obligation de vous assurer afin de vous protéger ainsi que les autres usagers de la route en cas d’accident. Cependant, il n’est pas toujours facile de trouver une assurance surtout lorsque vous avez moins de 18 ans ou que vous n’avez pas d’antécédents d’assurance.&nbsp;
													<br>
													Chez {{societyName}}, nous vous assurons dès 14 ans, quels que soient votre profil, votre sinistralité ou vos antécédents, avec des offres à personnaliser selon vos besoins. Nos formules cyclo se composent toutes des garanties indispensables en inclusion pour vous assurer une protection essentielle au meilleur prix.
												</p>
												<p>
													Roulez bien protégé et accompagné avec {{societyName}} quel que soit votre profil&nbsp;!
												</p>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3 style="text-align: left;">
													Les 
													<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
													&nbsp;<br>{{societyName}}
												</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Tous les 2 roues de moins de 50cc acceptés chez {{societyName}}</li>
													<li>Conducteurs acceptés dès 14 ans</li>
													<li>Sans antécédents d’assurance acceptés</li>
													<li>Garantie protection du pilote jusqu’à 60 000€</li>
													<li>Protection juridique incluse pour toutes les formules</li>
												</ul>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_8 sg-block-prix-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p style="text-align: center; color:white;">
													à partir de
													<br>
													<strong>13,43€<sup>(1)</sup></strong>
													<br>
													par mois
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
								<div class="et_pb_top_inside_divider"></div>
								<div class="et_pb_row et_pb_row_6">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="sg-offertable sg-offertable-nbcol-2 sg-offertable-priced">
											<div class="sg-offertable-mobileswitcher">
												<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button disabled"></i>
												<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">13,43€<sup>(1)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
																<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}" alt="logo offre contact">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture pour assurer sa responsabilité civile
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">18,51€<sup>(2)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
																<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}" alt="logo offre confort">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Se protéger également en cas de vol
															</div>
														</div>
													</div>
												</div>
												<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen sg-has-titlegrey ">
															<div class="sg-title-green">
																Les garanties
															</div>
															<div class="sg-subtitle-grey">
																Garanties de base
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">13,43€<sup>(1)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}" alt="logo offre contact">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture pour assurer sa responsabilité civile
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">18,51€<sup>(2)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}" alt="logo offre confort">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Se protéger également en cas de vol
																	</div>
																</div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e30aa1" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e30aa1">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Responsabilité Civile
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e30aa1" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		L’assurance responsabilité civile permet de couvrir les risques de dommages que vous pourriez causer aux autres. En cas de dommage, cette garantie permet d’indemniser la victime à votre place.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e31564" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e31564">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Défense Pénale et Recours
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e31564" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		La garantie défense et recours est une garantie dite «&nbsp;d’assistance&nbsp;» juridique. Elle peut être déclenchée lorsqu’après un sinistre, les conditions d’application de la responsabilité civile ne sont pas clairement définies ou sont sources de litige entre les parties prenantes.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Garanties de dommages au véhicule
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C-1.png') }}" alt="mini logo offre contact">
															</div>
														</td>
														<td>
															<div class="tableline_val">
																	<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}" alt="mini logo offre confort">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e3a60b" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e3a60b">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Catastrophes naturelles et technologiques
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e3a60b" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		La garantie catastrophes naturelles couvre les dommages subis par tout événement naturel de grande ampleur décrété catastrophe naturelle (tremblement de terre, inondation, sécheresse, submersion marine…). Sont reconnues comme des catastrophes technologiques des accidents non-nucléaires, causés par une installation classée à risque, le stockage souterrain de produits dangereux et le transport de matières dangereuses.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e3b7f4" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e3b7f4">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Attentat
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e3b7f4" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		La garantie Attentats prend en charge les dommages matériels engendrés par des actes terroristes. Les dommages corporels sont quant à eux pris en charge par un Fond de Garantie prévu par l’Etat.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e3c2eb" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e3c2eb">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Incendie, tempête  et événements climatiques
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e3c2eb" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Cette garantie couvre tous les dommages causés par des incendies, tempêtes et événements climatiques (grêle, pluie, canicule…).
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e3cdb0" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e3cdb0">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Vol
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e3cdb0" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Cette garantie vous permet d’être indemnisé lors du vol total ou partiel de votre véhicule.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																-
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Garantie complémentaire
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C-1.png') }}" alt="mini logo offre contact">
															</div>
														</td>
														<td>
															<div class="tableline_val">
																	<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}" alt="mini logo offre confort">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e3f036" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e3f036">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Protection juridique
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e3f036" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Cette garantie vous permet d’obtenir l’aide de votre assureur et la prise en charge de vos frais juridiques en cas de litige avec un tiers ou en cas de procédure de justice.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_7">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_10 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>Les options disponibles</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_11 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Jusqu’à 230€ d’indemnisation en cas de vol ou détérioration de votre casque et vos gants</li>
													<li>Assistance panne et accident : dépannage et remorquage de votre véhicule partout en France&nbsp;</li>
													<li>Indemnisation de votre famille en cas de décès ou d’incapacité permanente</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_8">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_12 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>L’assistance {{societyName}}</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_9 et_hover_enabled et_pb_gutters1 et_pb_row_4col">
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-car"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je viens de me faire voler mon casque </span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Mise à disposition d’un taxi qui vient vous chercher et vous dépose à votre domicile
														<small style="font-size:10px;">
															(3)
														</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_1 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-key"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>J’ai perdu mes clés </span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Ouverture de la selle ou de l’antivol, expédition d’un double ou mise à disposition d’un taxi pour le récupérer
														<small style="font-size:10px;">
															(3)
														</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="fas fa-6x fa-tools"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je suis en panne et ai rendez-vous</span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Remboursement des titres de transports en commun utilisés pendant l’immobilisation du véhicule
														<small style="font-size:10px;">
															(3)
														</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_blurb et_pb_blurb_3 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image">
													<span class="et_pb_image_wrap"><i class="far fa-6x fa-times-circle"></i></span>
												</div>
												<div class="et_pb_blurb_container">
													<h4 class="et_pb_module_header"><span>Je ne peux pas conduire </span></h4>
													<div class="et_pb_blurb_description">
														<p>
															Mise à disposition d’un taxi qui vous conduit jusqu’à chez vous peu importe votre raison ou le moment de la journée
														<small style="font-size:10px;">
															(3)
														</small>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_16 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													<i>
														(1) 13,43€ : offre non contractuelle – tarif pour la formule Contact pour un profil né en 1984 qui vit à Cancale, qui a obtenu son permis auto en 2003, a 36 mois d’antécédent d’assurance 2 roues et pilote un cyclomoteur Piaggio Liberty Delivery X3 à variateur (X-2-CVA) mis en circulation le 01/03/2009 pour un usage vie et trajet privés.
														<br>
														(2) 18,51€ : offre non contractuelle – tarif pour la formule Confort pour le même profil que le (1).
														<br>
														(3) Dans les limites et conditions définies par le contrat.
													</i>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
	</div>
</div>