{% extends 'base.html.twig' %}{% block title %}Assistance Nautique | {{ societyName }}{% endblock %}{% block body %}
<main class="container-fluid">
<section class="card-sous-categorie">
<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>Sports nautiques</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': 'particuliers'})}}">Assurances Particuliers</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': 'plaisance'})}}">Plaisance</a> - 
								<a href="{{ path('assurances_sports_nautique')}}">Sports nautiques</a>
								</p>
							</div>
						</div>
							<div>
							<div class="submit-button-container-devis">
                            <a class="d-block" href="" data-toggle="modal" data-target="#callModale">
                            <button class="btn btn-outline-success">Demander à être rappelé</button>
                            </a></div>
							</div><br>
                            <div class="et_pb_section et_pb_section_5 et_section_regular">
                                <div class="et_pb_row et_pb_row_5">
                                    <div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_31 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">

												<h3>
                                                Vous faites partie des 17 000 000 personnes à pratiquer une activité nautique ? Comme 50% d’entre eux, vous pratiquez même plusieurs activités nautiques en loisir, en club ou en compétition amateur ? 									</h3>
												</h3>
											</div>
										</div>
									</div>
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h3 style="text-align: left;">
												<br>{{societyName}}
											</h3>
										</div>
									</div>
										<div class="et_pb_module et_pb_text et_pb_text_33 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner"><p>
                                                Aviron, canoé-kayak, paddle, plongée, bodyboard, surf, natation, char à voile, wake-board, ski-nautique, voile légère...<br>
                                                Découvrez l’assurance multisports nautiques valable pour les sports nautiques et tous vos autres sports, en France et à l’étranger, en cas d’accident (annulation et interruption de voyage, assistance rapatriement, bris de matériel, individuelle accident…) 
												</p>
											</div>
										</div>

										<div class="et_pb_module et_pb_text et_pb_text_34 sg-block-prix-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p style="text-align: center; color:white;">
													<strong>49 €</strong>
													<br>
													par<br> an
												</p>
											</div>
										</div>
									</div>
								</div><br><br>
                                </div>
						<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>
							<div class="et_pb_row et_pb_row_6">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="sg-offertable sg-offertable-nbcol-3 sg-offertable-priced">
										<div class="sg-offertable-mobileswitcher">
												<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															
															<span class="tablecol_priceblock_price">49€/an</span>
															
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
															</div>
														</div>
													</div>
												</div>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen sg-has-titlegrey ">
															<div class="sg-title-green">
																Détail des garanties
															</div>
															<div class="sg-subtitle-grey">
																Annulation de voyage
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">49€/an</span>
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="tablecol_desc">
																	<div class="tableline_val">
																		400 € / personne
																	</div>
																</div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Accident grave lié à la pratique sportive nécessitant une hospitalisation.<br>
                                                                Décès consécutif à un accident lors de la pratique sportive.<br>
                                                                Franchise 
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																50 € / personne
															</div>
														</td>
													</tr>
													
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Interruption de séjour
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Remboursement des cours, stages de voiles et de la location du matériel sportif... 
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Au prorata temporis avec un maximum de 400 € / sinistre
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Bris de ski, snowboard, planche à voile, surf
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Remboursement de la location d’un matériel équivalent 
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																8 jours maximum
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Individuelle accident
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Invalidité permanente total ou partielle supérieure à 30%
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																10 000 € maximum / personne
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Décès accidentel
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																10 000 € / personne
															</div>
														</td>
													</tr>
                                                     <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Assistance rapatriement
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Transport / Rapatriement
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Frais réels
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Présence d’un proche si hospitalisation de plus de 7 jours
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Billet aller / retour
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Retour des accompagnants
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Billet retour
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Frais de soins de santé
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																5 000 € / personne
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Lunettes et prothèses dentaires
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																100 € / personne
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
															    Frais de rééducation et kinésithérapie
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																350 €
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Franchise lorsque l’Assureur intervient en premier lieu en absence d’assurance médicale ou de couverture Sécurité sociale 
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																250 € / personne
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
															   Frais de secours et de recherche
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																50 000 € / événement (1 200 € maximum pour les frais de secours, recherche et remorquage de surf, planche à voile, jet ski et kite surf) 
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Rapatriement du corps
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
															    3 000 € / personne
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
															    Frais funéraires
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																1 000 € / personne
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Protection juridique
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
															    5 000 € / événement
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
															    Avance de la caution pénale
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																7 500 € / personne
															</div>
														</td>
													</tr>
                                                    
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_19 et_pb_equal_columns et_pb_gutters1">
									<div class="et_pb_column et_pb_column_2_3 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_37 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Durée maximum du séjour : 12 mois maximum</li>
													<li>Territorialité : monde entier (sauf stipulation contraire)</li>
												</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="et_pb_row et_pb_row_25">
						<div class="et_pb_column et_pb_column_4_4 et_pb_column_33  et_pb_css_mix_blend_mode_passthrough et-last-child">
							<div class="et_pb_module et_pb_text et_pb_text_47 et_pb_bg_layout_light  et_pb_text_align_left">
								<div class="et_pb_text_inner"></div>
							</div>
						</div>
						<!-- .et_pb_blurb_content -->
					</div>
					<!-- .et_pb_blurb -->
				</div>
			</div>
			
		</div>
		<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
	</div>
</div>

	</section>
</main>
{% endblock %}