<div id="page-container" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;" class="et-animated-content">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>Votre assurance auto conducteurs standard ou avec bonus</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						    <div class="row px-3 mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
						<div class="et_pb_section et_pb_section_5 et_section_regular">
							<div class="et_pb_row et_pb_row_5">
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h2>Des garanties d’assurance solides quels que soient vos besoins</h2>
										</div>
									</div>
									<!-- .et_pb_text -->
									<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<p>
												Assurer votre véhicule est obligatoire même si vous êtes un bon conducteur. {{societyName}} vous propose une assurance auto modulable avec plusieurs options pour coller à tous vos besoins ainsi qu’à votre budget.
											</p>
											<p>
												Chez {{societyName}}, vous accédez à une protection personnalisable avec des formules composées de garanties essentielles que vous complétez avec des garanties optionnelles pour répondre à toutes vos attentes.
											</p>
											<p>
												Souscrire à l’assurance auto {{societyName}} c’est aussi bénéficier d’un accompagnement et d’une indemnisation optimale en cas de sinistres, grâce à ses garanties renforcées en assistance.
											</p>
										</div>
									</div>
									<!-- .et_pb_text -->
								</div>
								<!-- .et_pb_column -->
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h3 style="text-align: left;">
												Les
												<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
												<span style="display:none;">plus</span>
												<br>
												&nbsp;{{societyName}}
											</h3>
										</div>
									</div>
									<!-- .et_pb_text -->
									<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<ul>
												<li>Une assurance personnalisable pour répondre à tous vos besoins</li>
												<li>Une assistance solide pour vous accompagner en cas d’imprévus</li>
												<li>Des tarifs compétitifs pour les conducteurs jusqu’à 90 ans</li>
												<li>Une assistance 0 km en cas de panne ou en cas d’accident en inclusion</li>
											</ul>
										</div>
									</div>
									<div class="et_pb_module et_pb_text et_pb_text_8 sg-block-promo-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<p style="text-align: center; color:white;">
												<strong>-15%<sup>(1)</sup></strong>
												<br>
												en Sérénité
												<br>
												Digital 3D
											</p>
										</div>
									</div>
									<!-- .et_pb_text -->
									<div class="et_pb_module et_pb_text et_pb_text_9 sg-block-prix-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<p style="text-align: center; color:white;">
												à partir de
												<br>
												<strong>14,18€<sup>(2)</sup></strong>
												<br>
												par mois
											</p>
										</div>
									</div>
									<!-- .et_pb_text -->
								</div>
								<!-- .et_pb_column -->
							</div>
							<!-- .et_pb_row -->
						</div>
						<!-- .et_pb_section -->
						<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>
							<div class="et_pb_row et_pb_row_6">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">

									<!-- .et_pb_text -->
									<div class="sg-offertable sg-offertable-nbcol-4 sg-offertable-priced">
										<div class="sg-offertable-mobileswitcher">
											<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button disabled"></i>
											<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
												<div class="tablecol_priceblock">
													<div class="tablecol_priceblock_gradient">
														à partir de
														<span class="tablecol_priceblock_price">14,18€<sup>(2)</sup></span>
														par mois
													</div>
												</div>
												<div class="tablecol_logocont">
													<div class="tablecol_logo_wrapper">
														<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}">
													</div>
													<div class="tablecol_desc">
														<div class="tablecol_desc_content">
															Une couverture pour assurer sa responsabilité civile
														</div>
													</div>
												</div>
											</div>
											<div class="sg-offertable-mobileswitcher_item">
												<div class="tablecol_priceblock">
													<div class="tablecol_priceblock_gradient">
														à partir de
														<span class="tablecol_priceblock_price">21,51€<sup>(3)</sup></span>
														par mois
													</div>
												</div>
												<div class="tablecol_logocont">
													<div class="tablecol_logo_wrapper">
														<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact-plus.jpg') }}">
													</div>
													<div class="tablecol_desc">
														<div class="tablecol_desc_content">
															Aller plus loin et couvrir aussi le bris de glaces
														</div>
													</div>
												</div>
											</div>
											<div class="sg-offertable-mobileswitcher_item">
												<div class="tablecol_priceblock">
													<div class="tablecol_priceblock_gradient">
														à partir de
														<span class="tablecol_priceblock_price">18,23€<sup>(4)</sup></span>
														par mois
													</div>
												</div>
												<div class="tablecol_logocont">
													<div class="tablecol_logo_wrapper">
														<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}">
													</div>
													<div class="tablecol_desc">
														<div class="tablecol_desc_content">
															Se protéger également en cas de vol
														</div>
													</div>
												</div>
											</div>
											<div class="sg-offertable-mobileswitcher_item">
												<div class="tablecol_priceblock">
													<div class="tablecol_priceblock_gradient">
														à partir de
														<span class="tablecol_priceblock_price">22,75€<sup>(5)</sup></span>
														par mois
													</div>
												</div>
												<div class="tablecol_logocont">
													<div class="tablecol_logo_wrapper">
														<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}">
													</div>
													<div class="tablecol_desc">
														<div class="tablecol_desc_content">
															La protection maximale pour rouler serein
														</div>
													</div>
												</div>
											</div>
											<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next disabled"></i>
										</div>
										<table class="sg-offertable-table">
											<thead>
												<tr>
													<th class="sg-has-titlegreen sg-has-titlegrey ">
														<div class="sg-title-green">
															Les garanties
														</div>
														<div class="sg-subtitle-grey">
															Garanties de base
														</div>
													</th>
													<th class="sg-offertable-ms-current">
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">14,18€<sup>(2)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}">
															<div class="tablecol_desc">
																<div class="tablecol_desc_content">
																	Une couverture pour assurer sa responsabilité civile
																</div>
															</div>
														</div>
													</th>
													<th>
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">21,51€<sup>(3)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact-plus.jpg') }}">
															<div class="tablecol_desc">
																<div class="tablecol_desc_content">
																	Aller plus loin et couvrir aussi le bris de glaces
																</div>
															</div>
														</div>
													</th>
													<th>
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">18,23€<sup>(4)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-confort.jpg') }}">
															<div class="tablecol_desc">
																<div class="tablecol_desc_content">
																	Se protéger également en cas de vol
																</div>
															</div>
														</div>
													</th>
													<th>
														<div class="tablecol_priceblock">
															<div class="tablecol_priceblock_gradient">
																à partir de
																<span class="tablecol_priceblock_price">22,75€<sup>(5)</sup></span>
																par mois
															</div>
														</div>
														<div class="tablecol_logocont">
															<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-serenite.jpg') }}">
															<div class="tablecol_desc">
																<div class="tablecol_desc_content">
																	La protection maximale pour rouler serein
																</div>
															</div>
														</div>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffd7e66" aria-expanded="false" aria-controls="linecollapse_5f2bcaffd7e66">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Responsabilité civile
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffd7e66" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	L’assurance responsabilité civile permet de couvrir les risques de dommages que vous pourriez causer aux autres. En cas de dommage, cette garantie permet d’indemniser la victime à votre place.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffd880c" aria-expanded="false" aria-controls="linecollapse_5f2bcaffd880c">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Défense Pénale et Recours Suite à Accident
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffd880c" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie défense et recours est une garantie dite «&nbsp;d’assistance&nbsp;» juridique. Elle peut être déclenchée lorsque, après un sinistre, les conditions d’application de la responsabilité civile ne sont pas clairement définies ou sont sources de litige entre les parties prenantes.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-sep">
													<th>
														<div class="tableline_title">
															Garanties de dommages au véhicule
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C-1.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}">
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe037d" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe037d">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Bris de glaces
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe037d" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie bris de glaces vous couvre en cas de sinistre sur les surfaces vitrées de votre véhicule telles que le pare-brise, la lunette arrière et les vitres latérales. Vos surfaces vitrées seront soit réparées soit remplacées en fonction du sinistre.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe0ac3" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe0ac3">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Catastrophes naturelles
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe0ac3" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie catastrophes naturelles couvre les dommages subis par tout événement naturel de grande ampleur (tremblement de terre, inondation, sécheresse, submersion marine…).
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe1198" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe1198">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Catastrophes technologiques
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe1198" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	Sont reconnues comme des catastrophes technologiques, des accidents non-nucléaires causés par une installation classée à risques, le stockage souterrain de produits dangereux et le transport de matières dangereuses.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe185b" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe185b">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Attentats et actes de terrorisme
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe185b" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie «&nbsp;attentats et actes de terrorisme&nbsp;» prend en charge les dommages matériels engendrés par des actes terroristes. Les dommages corporels sont quant à eux pris en charge par un Fond de Garantie prévu par l’Etat.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe1ef6" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe1ef6">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Incendie et forces de la nature
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe1ef6" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	L’assurance auto conducteurs avec bonus {{societyName}} vous indemnise si votre voiture subit des dégâts à cause d’un feu, de la foudre ou d’une explosion.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe257e" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe257e">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Vol
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe257e" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	En cas de vol de votre véhicule, l’assurance auto conducteurs avec bonus {{societyName}} vous indemnise à la hauteur de la valeur de votre véhicule au moment du vol.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe2c09" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe2c09">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Dommages tous accidents
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe2c09" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie dommages tous accidents vous permet d’être protégé en cas de détérioration de votre véhicule suite à une chute d’objets ou de pierres, de collision avec n’importe quel obstacle, même un animal, d’accident sur la route, et même de détériorations suite à un événement climatique.&nbsp;
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe328d" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe328d">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Valeur à neuf 12 mois
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe328d" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	Si votre véhicule neuf est volé ou détruit, avec la garantie valeur à neuf 12 mois, vous êtes indemnisé sur la base de la valeur d’achat du véhicule.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															-
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-sep">
													<th>
														<div class="tableline_title">
															Garanties du conducteur
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C-1.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/CF.png') }}">
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/S.png') }}">
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe46d1" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe46d1">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Garantie corporelle du conducteur jusqu'à  300 000 €
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe46d1" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	Que vous soyez victime ou responsable d’un accident, si vous avez subi des préjudices corporels ou psychiques, l’assurance auto conducteurs avec bonus {{societyName}} vous indemnise jusqu’à 300 000 €.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe4d99" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe4d99">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Protection du conducteur - 10 000 € forfaitaire
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe4d99" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie «&nbsp;Protection du conducteur&nbsp;» couvre le conducteur du véhicule qu’il s’agisse du souscripteur au contrat, d’un autre assuré ou d’une toute autre personne conduisant le véhicule quand le sinistre s’est déroulé. Elle couvre les dégâts corporels entraînant une incapacité temporaire de travail, une incapacité permanente de travail, ou le décès du conducteur.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe546f" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe546f">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Protection juridique
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe546f" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	Que vous soyez victime ou responsable d’un accident et dans le cas où vous êtes poursuivi au tribunal, la garantie protection juridique de l’assurance auto conducteurs avec bonus {{societyName}} vous permet d’obtenir les services d’un juriste gratuitement.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
												<tr class="tableline-notsep tableline-withtext">
													<th>
														<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcaffe5b3a" aria-expanded="false" aria-controls="linecollapse_5f2bcaffe5b3a">
															<i class="fa fa-chevron-down tableline_title_icon"></i>
															Assistance 0 km
														</div>
														<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcaffe5b3a" data-parent=".sg-offertable">
															<div class="tableline_title_text">
																<p>
																	La garantie assistance 0 km vous permet d’être dépanné où que vous vous trouviez, y compris en bas de chez vous et même dans votre garage.
																</p>
															</div>
														</div>
													</th>
													<td class="sg-offertable-ms-current">
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
													<td>
														<div class="tableline_val">
															<i class="fa fa-check tableline_val_checked"></i>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- .et_pb_column -->
							</div>
							<!-- .et_pb_row -->
							<div class="et_pb_row et_pb_row_7">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_11 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h3>Les options disponibles</h3>
										</div>
									</div>
									<!-- .et_pb_text -->
									<div class="et_pb_module et_pb_text et_pb_text_12 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<ul style='color:#334f60; font-weight:bolder;'>
												<li>Dépannage partout quel que soit l’endroit où vous vous trouvez</li>
												<li>En cas de vol du contenu de votre coffre, jusqu’à 1500€ d’indemnisation&nbsp;</li>
												<li>Indemnisation en cas d’agression jusqu’à 800€&nbsp;</li>
												<li>Jusqu’à 3000€ d’indemnisation en cas de vol de vos effets personnels et 1500€ s’il s’agit de vos effets professionnels</li>
											</ul>
										</div>
									</div>
									<!-- .et_pb_text -->
								</div>
								<!-- .et_pb_column -->
							</div>
							<!-- .et_pb_row -->
							<div class="et_pb_row et_pb_row_8">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_13 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h3>L’assistance {{societyName}}</h3>
										</div>
									</div>
									<!-- .et_pb_text -->
								</div>
								<!-- .et_pb_column -->
							</div>
							<!-- .et_pb_row -->
							<div class="et_pb_row et_pb_row_9 et_hover_enabled et_pb_gutters1 et_pb_row_4col">
								<div class="et_pb_column et_pb_column_1_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image">
												<span class="et_pb_image_wrap"><i class="fas fa-6x fa-car-crash"></i></span>
											</div>
											<div class="et_pb_blurb_container">
												<h4 class="et_pb_module_header"><span>Mon pneu est crevé</span></h4>
												<div class="et_pb_blurb_description">
													<p>
														Dépannage et prise en charge des réparations si l’opération est faite dans un garage agréé
														<small style="font-size:10px;">
															(6)
														</small>
													</p>
												</div>
											</div>
										</div>
										<!-- .et_pb_blurb_content -->
									</div>
									<!-- .et_pb_blurb -->
								</div>
								<!-- .et_pb_column -->
								<div class="et_pb_column et_pb_column_1_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_blurb et_pb_blurb_1 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image">
												<span class="et_pb_image_wrap"><i class="fas fa-6x fa-tools"></i></span>
											</div>
											<div class="et_pb_blurb_container">
												<h4 class="et_pb_module_header"><span>Je tombe en panne et j’ai rendez-vous </span></h4>
												<div class="et_pb_blurb_description">
													<p>
														Mise à disposition d’un taxi pour vous permettre de poursuivre votre trajet
														<small style="font-size:10px;">
															(6)
														</small>
													</p>
												</div>
											</div>
										</div>
										<!-- .et_pb_blurb_content -->
									</div>
									<!-- .et_pb_blurb -->
								</div>
								<!-- .et_pb_column -->
								<div class="et_pb_column et_pb_column_1_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image">
												<span class="et_pb_image_wrap"><i class="fas fa-6x fa-key"></i></span>
											</div>
											<div class="et_pb_blurb_container">
												<h4 class="et_pb_module_header"><span>Je ne peux pas conduire</span></h4>
												<div class="et_pb_blurb_description">
													<p>
														Mise à disposition d’un taxi qui vous conduit jusqu’à chez vous 24/7 et quelle que soit la raison
														<small style="font-size:10px;">
															(6)
														</small>
													</p>
												</div>
											</div>
										</div>
										<!-- .et_pb_blurb_content -->
									</div>
									<!-- .et_pb_blurb -->
								</div>
								<!-- .et_pb_column -->
								<div class="et_pb_column et_pb_column_1_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_blurb et_pb_blurb_3 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_top">
										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image">
												<span class="et_pb_image_wrap"><i class="fas fa-6x fa-wifi"></i></span>
											</div>
											<div class="et_pb_blurb_container">
												<h4 class="et_pb_module_header"><span>Mon suivi de dossier en live</span></h4>
												<div class="et_pb_blurb_description">
													<p>
														Information en temps réel grâce à l’application mobile pour suivre l’avancée de votre dossier
														<small style="font-size:10px;">
															(6)
														</small>
													</p>
												</div>
											</div>
										</div>
										<!-- .et_pb_blurb_content -->
									</div>
									<!-- .et_pb_blurb -->
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<br>
												<br>
												<p>
													<i>(1) -15% : offre non contractuelle qui s’applique aux souscriptions en Digital 3D pour la formule Sérénité.<br></i>
													<i>
														(2) 14,18€ : offre non contractuelle – tarif pour la formule Contact pour un profil né en 1960, qui habite à Cancale 35260, a eu son permis le 15.12.1978, a un CRM 50 et 36 mois d’antécédents, il conduit une Peugeot 206 5 portes Essence 4 CV mise en circulation le 01.01.2000 et achetée le 01.01.2015.
														<br>
														(3) 21,51€ : offre non contractuelle – tarif pour la formule Contact + pour le même profil que le (1).
														<br>
														(4) 18,23€ : offre non contractuelle – tarif pour la formule Confort pour le même profil que le (1).
														<br>
													</i>
													<em>
														(5) 22,75€ : offre non contractuelle – 
														<i>tarif pour la formule Sérénité avec l’avantage de souscription Digital 3D pour le même profil que le (1).<br>(6) Dans les limites et conditions définies par le contrat.&nbsp;</i>
													</em>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
					</div>
				</div>
