<div id="page-container" class="et-animated-content" style="padding-top: 55px; overflow-y: hidden; margin-top: -37px;">
	<div id="et-main-area">
		<div id="main-content">
			<div class="entry-content">
				<div id="et-boc" class="et-boc">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h1>Votre assurance<br> auto temporaire</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
							<div class="row px-3 mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
                            <div class="et_pb_section et_pb_section_5 et_section_regular">
                                <div class="et_pb_row et_pb_row_5">
                                    <div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
                                        <div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
                                            <div class="et_pb_text_inner">
                                                <h2>Une assurance faite pour votre besoin ponctuel</h2>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_31 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													Vous n’avez pas besoin d’être assuré à l’année mais seulement quelques jours ou mois par an ? Vous pouvez opter pour l’assurance auto temporaire {{societyName}} en cas de séjour temporaire à l’étranger, de véhicule immobilisé par la fourrière ou de véhicule en transit par exemple.
												</p>
												<p>
													L’assurance Auto Temporaire {{societyName}} s’adapte totalement à votre besoin spécifique peu importe votre profil de conducteur.
												</p>
											</div>
										</div>
									</div>
								<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h3 style="text-align: left;">
												Les
												<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
												<span style="display:none;">plus</span>
												<br>
												&nbsp;{{societyName}}
											</h3>
										</div>
									</div>
										<div class="et_pb_module et_pb_text et_pb_text_33 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Durée modulable de 1 à 90 jours</li>
													<li>Souscription simple et rapide : seuls le permis de conduire et la carte grise sont à fournir</li>
													<li>Assurance à effet immédiat</li>
												</ul>
											</div>
										</div>

										<div class="et_pb_module et_pb_text et_pb_text_34 sg-block-prix-in-offre et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p style="text-align: center; color:white;">
													à partir de
													<br>
													<strong>35,00€<sup>(1)</sup></strong>
													<br>
													pour 1 jour
												</p>
											</div>
										</div>
									</div>
								</div><br><br>
                                </div>
						<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>
							<div class="et_pb_row et_pb_row_6">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_9 et_pb_bg_layout_light  et_pb_text_align_left">
										<div class="et_pb_text_inner">
											<h2>Votre assurance <br>auto temporaire</h2>
										</div>
									</div>
									<div class="sg-offertable sg-offertable-nbcol-3 sg-offertable-priced">
										<div class="sg-offertable-mobileswitcher">
												<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															à partir de
															<span class="tablecol_priceblock_price">35€<sup>(1)</sup></span>
															par mois
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
																<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Un formule Eco pour assurer le nécessaire.
															</div>
														</div>
													</div>
												</div>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen sg-has-titlegrey ">
															<div class="sg-title-green">
																Les garanties
															</div>
															<div class="sg-subtitle-grey">
																Garanties de base
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	à partir de
																	<span class="tablecol_priceblock_price">35€<sup>(1)</sup></span>
																	par mois
																</div>
															</div>
															<div class="tablecol_logocont">
																	<img class="tablecol_logo" src="{{ asset('assets/images/photos/logo-offre-contact.jpg') }}">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Un formule Eco pour assurer le nécessaire.
																	</div>
																</div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd43ed09a" aria-expanded="false" aria-controls="linecollapse_5f2bcd43ed09a">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Responsabilité civile
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd43ed09a" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		L’assurance responsabilité civile permet de couvrir les risques de dommages que vous pourriez causer aux autres. En cas de dommage, cette garantie permet d’indemniser la victime à votre place.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bcd43ed85d" aria-expanded="false" aria-controls="linecollapse_5f2bcd43ed85d">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Défense pénale et recours suite à un accident
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bcd43ed85d" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		La garantie défense et recours est une garanties dite «&nbsp;d’assistance&nbsp;» juridique. Elle peut être déclenchée lorsqu’après un sinistre, les conditions d’application de la responsabilité civile ne sont pas clairement définies ou sont source de litige entre les parties prenantes.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Plafonds de garanties
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	<img class="tableline_mini_logo" src="{{ asset('assets/images/photos/C-1.png') }}">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Responsabilité Civile (dommages corporels, matériels et immatériels)
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Jusqu'à 1 120 000€ / sinistre
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep">
														<th>
															<div class="tableline_title">
																Défense pénale et recours suite à un accident
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Jusqu'à 2 500€ / sinistre
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="et_pb_row et_pb_row_19 et_pb_equal_columns et_pb_gutters1">
									<div class="et_pb_column et_pb_column_1_3 et_pb_column_24  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_36 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3>Les garanties auto temporaire</h3>
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_2_3 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_37 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Responsabilité civile : sans franchise</li>
													<li>Défense pénale et recours suite à accident : avec franchise</li>
													<li>Durée de garantie au choix : de 1 jour à 90 jours</li>
												</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="et_pb_row et_pb_row_25">
						<div class="et_pb_column et_pb_column_4_4 et_pb_column_33  et_pb_css_mix_blend_mode_passthrough et-last-child">
							<div class="et_pb_module et_pb_text et_pb_text_47 et_pb_bg_layout_light  et_pb_text_align_left">
								<div class="et_pb_text_inner"></div>
							</div>
						</div>
						<!-- .et_pb_blurb_content -->
					</div>
					<!-- .et_pb_blurb -->
				</div>
			</div>
			<div class="et_pb_section et_pb_section_12 et_section_regular">
				<div class="et_pb_row et_pb_row_17">
					<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
						<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
							<div class="et_pb_text_inner">
								<br>
								<br>
								<p>

													<i>(1) 35€ : offre non contractuelle – tarif pour la formule Contact pour un profil de 35 ans né le 04/04/1985, habitant à Nantes (44000), qui a obtenu son permis de conduire le 05/05/2004, à un CRM 0,70, assurant pour une durée d’un jour une Peugeot 308 1.6 BLUE HDI 120 FELINE 5 places / Gasoil 6 cv (31 M) et mise en circulation en 2014.</i>
												</p>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
	</div>
</div>
