<div id="page-container" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;" class="et-animated-content">
	<div id="et-main-area">
		<div id="main-content">
				<div class="entry-content">
					<div id="et-boc" class="et-boc">
						<div class="et_builder_inner_content et_pb_gutters3">
							<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
								<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Votre assurance Voilier</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row px-3 mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
							<div class="et_pb_section et_pb_section_5 et_section_regular">
								<div class="et_pb_row et_pb_row_5">
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h2>Des garanties d’assurance complètes à des tarifs mini</h2>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<p>
													<br>
													{{societyName}} assure les voiliers comme les voiliers de croisière, les multicoques à voile, catamaran...
												</p>
												<p>
                                                    Découvrez les 3 formules d'assurance voilier et comparez les garanties :<br>
                                                    - L'assurance bateau responsabilité civile vous couvre en cas de dommages à un tiers.<br>
                                                    - L'assurance bateau multirisque Littoral couvre l’essentiel au meilleur prix.<br>
                                                    - L’assurance bateau multirisque Horizon vous offre des garanties inédites.
												</p><br><br><br>
                                                <img src="{{ asset('assets/images/photos/voilier.jpg') }}">
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h3 style="text-align: left;">
													Les
													<span style="color: #283e4d;"><i class="fa fa-plus-circle fa- "></i></span>
													<span style="display:none;">plus</span>
													&nbsp;
													<br>
													{{societyName}}
												</h3>
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_7 sg-checked-list et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<ul>
													<li>Votre moteur est automatiquement couvert, jusqu'à sa 50ème année, en cas de casse du joint de culasse, de l'alternateur, du démarreur...</li>
													<li>Un service d'assistance et de dépannage à quai et en mer 24h/7j.</li>
													<li>La pratique de la régate est couverte.</li>
                                                    <li>Profitez de zones de navigation étendues et idéales pour la navigation en voilier de croisière.</li>
                                                    <li>La co-navigation ou le prêt de bateau est automatiquement incluse sans formalité complémentaire</li>
                                                    <li>En cas de sinistre, jusqu'aux 5 ans du bateau, vous êtes indemnisé en valeur à neuf 5 ans en cas de perte ou vol total.</li>
                                                    <li>En cas de sinistre, jusqu'aux 3 ans du bateau, vous êtes indemnisé en valeur à neuf 3 ans en cas de dommage ou vol partiel (y compris sur les moteurs).</li>
                                                    <li>En cas de sinistre, vous êtes indemnisé en valeur majorée de 10 % pour les bateaux de plus de 5 ans.</li>
                                                    <li>Si votre bateau est équipé d’un système de géolocalisation, bénéficiez de -10 % sur le montant de la 1ère prime d’assurance.</li>
                                                    <li>Des garanties d’assistance et de protection juridique (standard ou premium) incluses.</li>
                                                    <li>Cannes, moulinets, surf, paddle, plongée, ski-nautique... Le matériel de pêche ou de sports nautiques est couvert jusqu’à 15 000 € en cas de vol ou dommages sur le bateau.</li>
                                                    
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
								<div class="et_pb_top_inside_divider"></div>
								<div class="et_pb_row et_pb_row_6">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="sg-offertable sg-offertable-nbcol-3 sg-offertable-priced">
											<div class="sg-offertable-mobileswitcher">
												<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button disabled"></i>
												<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">Responsabilité civile</span>
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture en cas de dommages à un tiers
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">Littoral</span>
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Une couverture pour l'essentiel au meilleur prix
															</div>
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<span class="tablecol_priceblock_price">Horizon</span>
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
														</div>
														<div class="tablecol_desc">
															<div class="tablecol_desc_content">
																Des garanties inédites
															</div>
														</div>
													</div>
												</div>
												<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen sg-has-titlegrey ">
															<div class="sg-title-green">
																Les garanties
															</div>
															<div class="sg-subtitle-grey">
																Responsabilité Civile
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">Responsabilité civile</span>
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture en cas de dommages à un tiers
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">Littoral</span>
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Une couverture pour l'essentiel au meilleur prix
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<span class="tablecol_priceblock_price">Horizon</span>
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		Des garanties inédites
																	</div>
																</div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Tous les dommages aux passagers et aux tiers
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Frais de retirement
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Défense et recours
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Dommages au bateau
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
															</div>
														</td>
														<td>
															<div class="tableline_val">
															</div>
														</td>
														<td>
															<div class="tableline_val">
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Perte totale et vol total
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Dommage partiel, vol partiel, vandalisme
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71d24d1" aria-expanded="false" aria-controls="linecollapse_5f2abc71d24d1">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Avarie moteur
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71d24d1" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Les moteurs hors-bord et in-bord jusqu'à 50 ans et de moins de 1 500 heures de navigation sont automatiquement couverts, même sans sinistre.
																	</p>
																</div>
															</div>
														</th>
                                                        <td>
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
                                                        <td>
																<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													
													
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Frais divers
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																
																Frais d’assistance, de sauvetage, de renflouement, de destruction de l’épave<br>Mesures conservatoires, manutention, transport et stationnement
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Sécurité Nautique
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
                                                                Décès / invalidité
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
                                                                Frais de recherche en mer
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Protection Juridique<br><small><a href="{{ path('assurances_type', {slug: 'protection-juridique-nautique'})}}">(voir notre tableau des garanties protection juridique nautique)</a><small>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
                                                                Standard
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
                                                                Premium
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En option
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Assistance <br><small><a href="{{ path('assurances_type', {slug: 'assistance'})}}">(voir notre tableau des garanties d'assistance)</a><small>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
                                                                Standard
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-times"></i>

															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
                                                                Premium (incluant l'assistance et le dépannage à quai et en mer 0 mille)
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En option
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Spécificités d'usage
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Régate
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71d24d1" aria-expanded="false" aria-controls="linecollapse_5f2abc71d24d1">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Matériel de pêche et sports nautiques
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71d24d1" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                    Grâce à l’option « extension matériel de pêche et sports nautiques » augmentez vos plafonds de garantie et protégez tout votre matériel de pêche ou sports nautiques jusqu’à 15 000 €(1) contre le vol ou les dommages (accident, incendie, abordage, échouement) sur votre bateau... Et le tout à un prix très réduit.

                                                                    C’est simple et personnalisé, en fonction du montant de votre matériel, vous pouvez choisir le montant de l’extension de couverture (2 000 €, 4 000 €, 6 000 €, 10 000 €).
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En option
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71d3282" aria-expanded="false" aria-controls="linecollapse_5f2abc71d3282">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Location (entre particuliers, société de gestion)
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71d3282" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Bourse aux équipiers, co-navigation, prêt gratuit ou location entre particuliers... Vous voulez vous lancer dans l'expérience de la plaisance collaborative ? Soyez vigilant à ce que votre contrat d'assurance plaisance soit bien adapté à ces différentes pratiques.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Contactez-nous !
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71d4036" aria-expanded="false" aria-controls="linecollapse_5f2abc71d4036">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Co-navigation
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71d4036" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Dans nos contrats plaisance, nous couvrons gratuitement et automatiquement et sans formalité complémentaire la co-navigation !<br>

                                                                        Mais à une condition : que la présence de co-navigants sur votre bateau ne soit pas payante. Attention donc à ne pas surévaluer la participation aux frais demandés à vos invités (caisse de bord, entretien), surtout s'ils sont plusieurs.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71d4e3f" aria-expanded="false" aria-controls="linecollapse_5f2abc71d4e3f">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Remorque
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71d4e3f" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		Voir notre assurance <a href="{{ path('assurances_type', {slug: 'remorque'})}}">remorque Bateau et Jet</a> pour plus d'informations sur les diverses garanties et franchises.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En option
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En option
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Bateau école
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Contactez-nous !
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Autres...
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Contactez-nous !
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Services complémentaires
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
														<td>
															<div class="tableline_val">

															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71d5c66" aria-expanded="false" aria-controls="linecollapse_5f2abc71d5c66">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Carnet d’entretien du bateau
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71d5c66" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                    Un outil indispensable pour maintenir votre bateau en bon état !
                                                                    Mise à disposition pour nos clients du carnet d’entretien en ligne gratuit, une interface web intuitive pour suivre simplement les opérations d'entretien à effectuer sur son bateau.

                                                                    Un outil idéal pour maintenir son bateau en bon état toute l’année, pour naviguer en toute sécurité l’été et passer l’hiver en toute tranquillité. Un argument pour faciliter la revente du bateau.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
                                                    </tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2abc71cd344" aria-expanded="false" aria-controls="linecollapse_5f2abc71cd344">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Météo Marine
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2abc71cd344" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
																		En souscrivant un contrat, recevez gratuitement vos prévisions météo marine pour naviguer l’été en toute sécurité.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																<i class="fa fa-times"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																<i class="fa fa-check tableline_val_checked"></i>
															</div>
														</td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="et_pb_section et_pb_section_12 et_section_regular">
								<div class="et_pb_row et_pb_row_17">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<br>
												<br>
												<p>
													<em>(1) Exemple pour une extension de garantie du matériel de pêche de 2 000 € au-delà de la couverture initiale prévue au contrat. Extension de garantie des effets personnels dans la limite de 15 000 € (effets personnels standard jusqu’à 5 000 € + extension de garantie jusqu’à 10 000 €).<br></em>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
	</div>
</div>