<div id="page-container" style="padding-top: 55px; overflow-y: hidden; margin-top: -160px;" class="et-animated-content">
	<div id="et-main-area">
		<div id="main-content">
				<div class="entry-content">
					<div id="et-boc" class="et-boc">
						<div class="et_builder_inner_content et_pb_gutters3">
							<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
								<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Yacht</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
						<div class="container">
							<div class="mt-2 fil-ariane">
								<p>
								<a href="{{ path('home')}}">Accueil</a> -
								<a href="{{ path('assurances_categorie', {'slug': sousCategorie.categorie.slug})}}">{{sousCategorie.categorie.name}}</a> - 
								<a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{sousCategorie.name}}</a> - 
								<a href="{{ path('assurances_type', {'slug': type.slug})}}">{{type.name}}</a>
								</p>
							</div>
						</div>
						<div><div class="submit-button-container-devis">
						<a class="d-block" href="" data-toggle="modal" data-target="#callModale">
						<button class="btn btn-outline-success">Demander à être rappelé</button>
						</a></div>
						<div class="submit-button-container-devis">
						<a href="{{ path('assurances_devis_plaisance')}}"> <button class="btn btn-outline-success">Faire une demande de devis en quelques clics</button></a></div>
							<div class="et_pb_section et_pb_section_5 et_section_regular">
								<div class="et_pb_row et_pb_row_5">
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
										<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
                                            <img src="{{ asset('assets/images/photos/moteur.jpg') }}">
											</div>
										</div>
										<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
											<div class="et_pb_text_inner">
											</div>
										</div>
									</div>
									<div class="et_pb_column et_pb_column_1_2 et_pb_column_6 sg-les-plus-priceblock  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
                                    	<div class="et_pb_text_inner">
												<h3 style="text-align: left;">
													{{societyName}}
												</h3>
										</div>
                                                <h2>Protection haut de gamme et sur-mesure</h2>
												<p>Plus complètes et plus spécialisées dans les unités de prestige, les assurances de yachts permettent une couverture étendue au bris de machine, une protection du programme de navigation hauturier ou professionnel, une protection sociale de l'équipage professionnel... </p>
									</div>		
								</div>
							</div>
							<div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
								<div class="et_pb_top_inside_divider"></div>
								<div class="et_pb_row et_pb_row_6">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="sg-offertable sg-offertable-nbcol-2 sg-offertable-priced">
											<div class="sg-offertable-mobileswitcher">
												<i class="fa fa-chevron-left sg-offertable-mobileswitcher_prev sg-offertable-mobileswitcher_button disabled"></i>
												<div class="sg-offertable-mobileswitcher_item sg-offertable-ms-current">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
															<b style="font-size:18px;">Montant garanti</b>
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
														
														</div>
														<div class="tablecol_desc">
														</div>
													</div>
												</div>
												<div class="sg-offertable-mobileswitcher_item">
													<div class="tablecol_priceblock">
														<div class="tablecol_priceblock_gradient">
                                                            <b style="font-size:18px;">Franchise</b>
														</div>
													</div>
													<div class="tablecol_logocont">
														<div class="tablecol_logo_wrapper">
															
														</div>
														<div class="tablecol_desc">

														</div>
													</div>
												</div>
												<i class="fa fa-chevron-right sg-offertable-mobileswitcher_button sg-offertable-mobileswitcher_next"></i>
											</div>
											<table class="sg-offertable-table">
												<thead>
													<tr>
														<th class="sg-has-titlegreen sg-has-titlegrey ">
															<div class="sg-subtitle-grey">
																Responsabilité Civile
															</div>
														</th>
														<th class="sg-offertable-ms-current">
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
																	<b style="font-size:18px;">Montant garanti</b>
																</div>
															</div>
															<div class="tablecol_logocont">

																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																		
																	</div>
																</div>
															</div>
														</th>
														<th>
															<div class="tablecol_priceblock">
																<div class="tablecol_priceblock_gradient">
                                                                       <b style="font-size:18px;">Franchise</b>
																</div>
															</div>
															<div class="tablecol_logocont">
																<div class="tablecol_desc">
																	<div class="tablecol_desc_content">
																	
																	</div>
																</div>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Tous les dommages aux tiers
															</div>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
                                                                7 600 000 €
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Néant
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
															    Défense et recours
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																7 600 €
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Néant
															</div>
														</td>
													</tr>
													<tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Dommages au bateau
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	
															</div>
														</td>
														<td>
															<div class="tableline_val">
																	
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e30aa1" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e30aa1">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Perte totale et vol total
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e30aa1" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                Bateau de moins de 3 ans : remboursement en valeur à neuf
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Valeur assurée
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Néant
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Dommages partiel
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Valeur assurée
															</div>
														</td>
														<td>
															<div class="tableline_val">
																En fonction de la valeur avec un minimum de 700 €
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Vol partiel et vandalisme
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Valeur assurée
															</div>
														</td>
														<td>
															<div class="tableline_val">
																10 % du montant vol avec un minimum de 450 €
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e36az1" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e36az1">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Dont équipement de bord
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e36az1" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                Vos équipements de bord sont couverts sans plafond (matériel de sécurité et de navigation, électronique, moteur principal ou de secours et tout matériel utile à la vie à bord).
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Valeur assurée
															</div>
														</td>
														<td>
															<div class="tableline_val">
																10 % du montant vol avec un minimum de 450 €
															</div>
														</td>
													</tr>
													<tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e36ay2" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e36ay2">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Dont effets personnels
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e36ay2" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                Vos équipements de pêche et de sports nautiques sont également assurés.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																5 % de la valeur assurée (mini 500€ - maxi 15 000€) 
															</div>
														</td>
														<td>
															<div class="tableline_val">
																10 % du montant vol avec un minimum de 450 €
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0e36ac2" aria-expanded="false" aria-controls="linecollapse_5f2bdd0e36ac2">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Attentats et actes de terrorisme
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0e36ac2" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                Les dommages matériels directs, subis sur le territoire national, causés par un attentat ou acte de terrorisme.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Valeur assurée
															</div>
														</td>
														<td>
															<div class="tableline_val">
																10 % du montant vol avec un minimum de 450 €
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Garantie de frais divers
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	
															</div>
														</td>
														<td>
															<div class="tableline_val">
																	
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0z36ac2" aria-expanded="false" aria-controls="linecollapse_5f2bdd0z36ac2">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Frais de retirement
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0z36ac2" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                Remboursement des frais occasionnés si le navire coule dans un lieu qui gêne ou met en péril d’autres navires.
																	</p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Frais réels et justifiés acceptés par notre expert
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Néant
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Frais d’assistance et de sauvetage
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Frais réels et justifiés acceptés par notre expert
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Néant
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Frais de renflouement, de destruction de l’épave.<br>
                                                                Mesures conservatoires, manutention et transport.
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Frais réels et justifiés acceptés par notre expert
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Néant
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt">
																Honoraires de votre expert en cas de perte ou vol total.
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Dans la limite de 5 000 €
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Néant
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Protection Juridique
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	
															</div>
														</td>
														<td>
															<div class="tableline_val">
																	
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0z34yc2" aria-expanded="false" aria-controls="linecollapse_5f2bdd0z34yc2">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Standard
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0z34yc2" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                    Assistance, conseils et expertise pour préserver vos intérêts en cas de litige.					
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Inclus dans votre contrat
                                                                <br><small><a href="{{ path('assurances_protection_juridique_nautique')}}">(voir notre tableau des garanties protection juridique nautique)</a><small>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Inclus dans votre contrat
                                                                <br><small><a href="{{ path('assurances_protection_juridique_nautique')}}">(voir notre tableau des garanties protection juridique nautique)</a><small>
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0z34yg2" aria-expanded="false" aria-controls="linecollapse_5f2bdd0z34yg2">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																 Premium
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0z34yg2" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                    Nous vous accompagnons dans vos démarches administratives, notamment pour vos actes de francisation, demande d'un anneau permanent, modèles types de contrat de location de votre bateau, démarches nécessaires à l'obtention de votre permis plaisance, rédaction de vos courriers administratifs...				
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Inclus dans votre contrat
                                                                <br><small><a href="{{ path('assurances_protection_juridique_nautique')}}">(voir notre tableau des garanties protection juridique nautique)</a><small>
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Inclus dans votre contrat
                                                                <br><small><a href="{{ path('assurances_protection_juridique_nautique')}}">(voir notre tableau des garanties protection juridique nautique)</a><small>
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-sep">
														<th>
															<div class="tableline_title">
																Options sur mesure
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																	
															</div>
														</td>
														<td>
															<div class="tableline_val">
																	
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0z34bv2" aria-expanded="false" aria-controls="linecollapse_5f2bdd0z34bv2">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Protection sociale
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0z34bv2" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                   Votre équipage et personnel de bord sont protégés.				
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0z34ng2" aria-expanded="false" aria-controls="linecollapse_5f2bdd0z34ng2">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																 Individuelle accident pour l'équipage
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0z34ng2" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                   Allocations pour les personnes lésées et les familles de personnes décédées. Couverture des frais médicaux.			
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0z34yz7" aria-expanded="false" aria-controls="linecollapse_5f2bdd0z34yz7">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Corps et machine
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0z34yz7" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                    Dommage matériels sur un yacht de plus de 24 mètres.				
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0z22yg2" aria-expanded="false" aria-controls="linecollapse_5f2bdd0z22yg2">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																 Transport and shipping
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0z22yg2" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                    Couverture pendant le transport en mer, y compris pendant le chargement et déchargement.		
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0z34yc9" aria-expanded="false" aria-controls="linecollapse_5f2bdd0z34yc9">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																Risque de guerre
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0z34yc9" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                    Coûts supportés en relation avec les conflits armés.				
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
													</tr>
                                                    <tr class="tableline-notsep tableline-withtext">
														<th>
															<div class="tableline_title tableline_title-withtxt" data-toggle="collapse" data-target="#linecollapse_5f2bdd0z34y72" aria-expanded="false" aria-controls="linecollapse_5f2bdd0z34y72">
																<i class="fa fa-chevron-down tableline_title_icon"></i>
																 Assistance médicale pour l’équipage
															</div>
															<div class="tableline_title_text_wrapper collapse" id="linecollapse_5f2bdd0z34y72" data-parent=".sg-offertable">
																<div class="tableline_title_text">
																	<p>
                                                                    Frais d’hospitalisation, coûts du traitement médical, transport et évacuation.			
                                                                    </p>
																</div>
															</div>
														</th>
														<td class="sg-offertable-ms-current">
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
														<td>
															<div class="tableline_val">
																Contactez nous ! 
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		    </div>
		<span class="et_pb_scroll_top et-pb-icon et-hidden" style="display: inline;"></span>
	</div>
</div>