{% extends 'base.html.twig' %}

{% block title %}Devis Assurance Camping-Car | {{ societyName }}{% endblock %}

{% block body %}

      
<main class="container-fluid">
						<div class="et_builder_inner_content et_pb_gutters3">
							<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
								<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Votre devis Camping-Car</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
									<div class="container">
									<div class="mt-2 fil-ariane">
										<p>
										<a href="{{ path('home')}}"> Accueil</a> -
										<a href="{{ path('assurances_categorie', {'slug': 'particuliers'})}}"> Assurances Particuliers </a> - 
										<a href="{{ path('assurances_sous-categorie', {'slug': 'automobile'})}}">Automobile</a> - 
										<a href="{{ path('assurances_devis_camping-car')}}">Votre devis Camping-Car</a>
										</p>
									</div>


<br><br><br>
<iframe frameborder="0" height="700px" scrolling="yes" src="https://www.gestion-assurances.com/site_partenaire.aspx?code=OPE7790&amp;dst=42" width="100%"></iframe> 
<p>Si le tarificateur ne s'affiche pas merci de cliquer <a href="https://www.gestion-assurances.com/site_partenaire.aspx?code=OPE7790&amp;dst=42"> ici </a></p>
</div>
</main>
{% endblock %}