{% extends 'base.html.twig' %}

{% block title %}Devis Assurance Plaisance | {{ societyName }}{% endblock %}

{% block body %}

      
<main class="container-fluid">
						<div class="et_builder_inner_content et_pb_gutters3">
							<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
								<div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
									<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Votre devis Protection Juridique</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
									<div class="container">
									<div class="mt-2 fil-ariane">
										<p>
										<a href="{{ path('home')}}"> Accueil</a> -
										<a href="{{ path('assurances_categorie', {'slug': 'particuliers'})}}"> Assurances Particuliers </a> - 
										<a href="{{ path('assurances_type', {'slug': 'protection-juridique-particulier'})}}">Protection Juridique</a> - 
										<a href="{{ path('assurances_devis_protection-juridique-particulier')}}">Votre devis Protrection Juridique</a>
										</p>
									</div>


<br>

{{ form_start(pjForm, { 'attr': {'id': 'form' }}) }} 

    <div class="row px-3 pt-3 main-title justify-content-center mx-0">
      <h2 class= "title-register">Demande de devis Protection Juridique</h2>
    </div>


    <input type="hidden" id="recaptchaResponse" name="recaptcha-response" />

    <div class="contact-form-label">{{form_label (pjForm.email) }} <span class="form-asterisk-mandatory">*</span></div>
    <div class="help">{{form_help (pjForm.email) }}</div>

    {% if app.user.email is defined %}
    <div>{{form_widget (pjForm.email, { 'attr': {'value': app.user.email }})}}</div>
    {% else %}
    <div>{{form_widget (pjForm.email)}}</div>
    {% endif %}

    <div class="contact-form-label">{{form_label (pjForm.lastname) }} <span class="form-asterisk-mandatory">*</span></div>
    <div class="help">{{form_help (pjForm.lastname) }}</div>
    {% if app.user.lastname is defined %}
    <div>{{form_widget (pjForm.lastname, { 'attr': {'value': app.user.lastname }}) }}</div>
    {% else %}
    <div>{{form_widget (pjForm.lastname)}}</div>
    {% endif %}

    <div class="contact-form-label">{{form_label (pjForm.firstname) }} <span class="form-asterisk-mandatory">*</span></div>
    <div class="help">{{form_help (pjForm.firstname) }}</div>
    {% if app.user.firstname is defined %}
    <div>{{form_widget (pjForm.firstname, { 'attr': {'value': app.user.firstname }}) }}</div>
    {% else %}
    <div>{{form_widget (pjForm.firstname)}}</div>
    {% endif %}


    <div class="contact-form-label">{{form_label (pjForm.dateNaissance) }} <span class="form-asterisk-mandatory">*</span></div>
    <div class="help">{{form_help (pjForm.dateNaissance) }}</div>
    <div>{{form_widget (pjForm.dateNaissance) }}</div>



    <div class="contact-form-label">{{form_label (pjForm.profession) }} <span class="form-asterisk-mandatory">*</span></div>
    <div class="help">{{form_help (pjForm.profession) }}</div>
    <div>{{form_widget (pjForm.profession) }}</div>
   


    <div class="container-captcha">
     <div class="g-recaptcha" data-sitekey="6LfPCcsZAAAAAD5yAblWxtY9oL7mvRnL_HScbldu"></div>
    </div>


    <div class="help text-right mt-3"><span class="form-asterisk-mandatory">*</span><span class="form-text-mandatory"> Champs obligatoires</span></div>
    <div class="submit-button-container">
        <button type="submit" class="btn btn-outline-success">{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(pjForm) }}


</div>
</main>
{% endblock %}



