<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="Robots" content="all">
        <meta property="og:url" content="https://garanties-optimales.com/">
        <meta property="og:title" content="Garanties Optimales">
        <meta name="image" property="og:image" content="{{ asset('assets/images/logo.png') }}">
        {% set route =  app.request.attributes.get('_route') %}
        {% set slug = app.request.attributes.get('slug') %}
        {% if route == 'home' %}
        <meta name="description" content="Découvrez nos assurances pour particuliers : Auto, 2 roues, Habitation, Santé, Animaux;  et professionnels : Decennale, MultiRisque, ... Obtenez un devis gratuitement avec un prix competitif et un choix parmi une multitude de formules">
        {% elseif route == 'assurances_categorie' and slug == 'particuliers'%}
        <meta name="description" content="Découvrez nos assurances pour particuliers : Auto, 2 roues, Habitation, Santé, Animaux, Plaisance, Protection Juridique.. Obtenez un devis gratuitement parmi une large gamme de formule adapté à vos besoins et votre budget..">
        {% elseif route == 'assurances_categorie' and slug == 'professionnels'%}
        <meta name="description" content="Découvrez nos assurances pour professionnels : Decennale, MultiRisque, ... Obtenez un devis gratuitement parmi une large gamme de formule adapté à vos besoins et votre budget.. Pour tout types d'activités.">
        {% elseif route == 'assurances_sous-categorie' and slug == 'automobile'%}
        <meta name="description" content="Découvrez nos assurances auto pour tout types de conducteur et de véhicules. Votre devis gratuitement en 2 minutes. Une large gamme de formule avec des prix ultra-compétitifs. FRAIS DE DOSSIER OFFERTS">  
        {% elseif route == 'assurances_type' and slug == 'habitation'%}
        <meta name="description" content="Propriétaire ou Locataire, choisissez parmi notre vaste gamme d'assurance Multirisque Habitation et profitez de nos tarifs compétitifs. Votre devis gratuitement en 2 minutes. FRAIS DE DOSSIER OFFERTS"> 
        {% elseif route == 'assurances_sous-categorie' and slug == 'moto'%}
        <meta name="description" content="Une moto, un scooter ou un quad à assurer? Obtenez votre devis gratuitement en 2 minutes et choisissez parmi nos formules à prix ultra-compétitifs. Un rapport prix/garanties imbattable. FRAIS DE DOSSIER OFFERTS">                    
        {% elseif route == 'assurances_sous-categorie' and slug == 'plaisance'%}
        <meta name="description" content="Découvrez nos solutions pour vos bateaux de tout types, jet-ski, ... Faites votre devis en 2 minutes et choisissez parmi notre large gamme de formules et d'options... FRAIS DE DOSSIER OFFERTS">                    
        {% elseif route == 'assurances_type'  and slug == 'sante' %}
        <meta name="description" content="Découvrez l'offre assurance santé Garanties Optimales modulable avec des renforts de garanties pour personnaliser votre protection selon vos besoins et votre budget. Devis gratuit en 2 minutes. FRAIS DE DOSSIER OFFERTS">
        {% elseif route == 'assurances_type' and slug == 'chien-chat'%}
        <meta name="description" content="Nos formules assurance chiens/chats prennent en charge tout les frais santé de votre animal comme une complémentaire santé. Obtenez gratuitement un devis en 2 minutes ...FRAIS DE DOSSIER OFFERTS"> 
        {% elseif route == 'assurances_type' and slug == 'protection-juridique-particulier'%}
        <meta name="description" content="La protection juridique Garanties Optimales c'est l'assurance de la tranquilité au quotidien. Nos formules sont adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERTS">                           
        {% elseif route == 'assurances_sous-categorie' and slug == 'batiment' %}
        <meta name="description" content="Vous êtes professionnels du bâtiment ou vous assurez des travaux dans votre propre maison? Nous avons l'assurance qu'il vous faut. Une assurance sur mesure aves Garanties Optimales. Obtenez votre devis gratuitement en moins de 24 heures ! ">
        {% elseif route == 'assurances_sous-categorie' and slug == 'commerce' %}
        <meta name="description" content="Vous recherchez une assurance pour votre activité professionnelle ? Nous avons ce qu'il vous faut. Une assurance sur mesure aves Garanties Optimales. Obtenez votre devis gratuitement en moins de 24 heures ! ">
        {% elseif route == 'assurances_type' and slug == 'moto' or slug == 'scooter' %}
        <meta name="description" content="Des offres sur mesures, des prix ultra-compétitifs et une large gamme de garanties pour votre Moto, Scooter et Quad c'est chez Garanties Optimales. Obtenez votre devis gratuitement en 2 minutes. FRAIS DE DOSSIER OFFERTS">  
        {% elseif route == 'assurances_type' and slug == 'Voilier' or slug == 'a-moteur' %}
        <meta name="description" content="Découvrez nos solutions pour votre bateau (à moteur ou voilier)... Faites votre devis gratuitement en 2 minutes et choisissez parmi notre large gamme de formules et d'options... FRAIS DE DOSSIER OFFERTS">
        {% elseif route == 'assurances_type' and slug == 'yacht' %}
        <meta name="description" content="Découvrez nos solutions pour votre bateau de prestige... Obtenez votre devis en moins de 24 heures et choisissez parmi notre large gamme de formules et d'options... FRAIS DE DOSSIER OFFERTS">
        {% elseif route == 'assurances_type' and slug == 'jet-ski' %}
        <meta name="description" content="Découvrez nos solutions pour Jet-Ski... Obtenez votre devis en 2 minutes et choisissez parmi notre large gamme de formules et d'options... FRAIS DE DOSSIER OFFERTS"> 
        {% elseif route == 'assurances_type' and slug == 'malusses-sinistres' %}
        <meta name="description" content="Découvrez nos solutions pour conducteurs Malussés ou Sinistrés... Obtenez votre devis en 2 minutes et choisissez parmi notre large gamme de formules et d'options avec les prix les plus bas du marché... FRAIS DE DOSSIER OFFERTS">    
        {% elseif route == 'assurances_type' and slug == 'jeunes-conducteurs' %}
        <meta name="description" content="Découvrez nos solutions pour jeunes conducteurs... Obtenez votre devis en 2 minutes et choisissez parmi notre large gamme de formules et d'options avec les prix les plus bas du marché... FRAIS DE DOSSIER OFFERTS">  
        {% elseif route == 'assurances_type' and slug == 'standard-conducteur' %}
        <meta name="description" content="Découvrez nos solutions pour conducteur avec ou sans bonus... Obtenez votre devis en 2 minutes et choisissez parmi notre large gamme de formules et d'options... FRAIS DE DOSSIER OFFERTS">
        {% elseif route == 'assurances_type' and slug == 'vehicule-sans-permis' %}
        <meta name="description" content="Découvrez nos solutions pour vehicule sans permis... Obtenez votre devis en 2 minutes... FRAIS DE DOSSIER OFFERTS">          {% elseif route == 'assurances_type' and slug == 'temporaire' %}
        <meta name="description" content="Découvrez nos solutions en assurance temporaire... Obtenez votre devis en 2 minutes... Et choisissez parmis nos formules et options, parmi les plus attractives du marché... FRAIS DE DOSSIER OFFERTS">
        {% elseif route == 'assurances_type' and slug == 'camping-car' %}
        <meta name="description" content="Découvrez nos solutions en assurance de camping-car... Obtenez votre devis en 2 minutes... Et choisissez parmis nos formules et options, parmi les plus attractives du marché... FRAIS DE DOSSIER OFFERTS">
        {% elseif route == 'assurances_type' and slug == 'chien-chat' %}
        <meta name="description" content="Prenez soin de votre animal de compagnie sereinement avec Garanties Optimales... Obtenez votre devis en 2 minutes... Et choisissez parmis nos formules et options, parmi les plus attractives du marché... FRAIS DE DOSSIER OFFERTS">
        {% elseif route == 'assurances_type' and slug == 'decennale' %}
        <meta name="description" content="La solution d'assurance pour entreprise du bâtiment de toutes tailles... Obtenez un devis sur mesure... FRAIS DE DOSSIER OFFERTS">
        {% elseif route == 'assurances_type' and slug == 'protection-juridique-batiment' %}
        <meta name="description" content="La solution Protection Juridique pour travailleurs du bâtiment... Obtenez un devis... Et choisissez parmi nos diffèrentes formules.. FRAIS DE DOSSIER OFFERTS">    
        {% elseif route == 'assurances_type' and slug == 'dommage-ouvrage' %}
        <meta name="description" content="Vous avez des travaux a réaliser? Nous vous accompagnons dans vos démarches.. Réalisons ensemble une couverture sur mesure pour vos besoins. FRAIS DE DOSSIER OFFERTS">  
        {% elseif route == 'assurances_type' and slug == 'multirisque-professionnelle' %}
        <meta name="description" content="Découvrez nos assurances Multirisque Professionnelle et nos garanties complètes afin de mener votre activité sereinement. FRAIS DE DOSSIER OFFERTS"> 
        {% elseif route == 'assurances_type' and slug == 'protection-juridique' %}
        <meta name="description" content="La solution Protection Juridique pour les professionnelles... Obtenez un devis... Et choisissez parmi nos diffèrentes formules.. FRAIS DE DOSSIER OFFERTS">
        {% elseif route == 'assurances_type' and slug == 'prevoyance-professionnelle' %}
        <meta name="description" content="La solution Prevoyance Professionnelle Garanties Optimales vous assure en cas de coup dur... Obtenez un devis... Et choisissez parmi nos diffèrentes formules.. FRAIS DE DOSSIER OFFERTS">
        {% elseif route == 'assurances_type' and slug == 'rc-pro' %}
        <meta name="description" content="La solution Responsabilité Civile Professionnelle Garanties Optimales sécurise votre activité ... Obtenez un devis... Et choisissez parmi nos diffèrentes formules.. FRAIS DE DOSSIER OFFERTS">                                       
        {% elseif route == 'assurances_devis_add'%}
        <meta name="description" content="Pour toutes demandes de devis d'assurances professionnels remplissez notre formulaire et nous vous recontacterons sous 24h ...">    
        {% elseif route == 'assurances_devis_plaisance'%}
        <meta name="description" content="Besoin d'un devis d'assurance pour votre bateau, jet-ski, ... ? Obtenez gratuitement en quelques clics un devis adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERT"> 
        {% elseif route == 'assurances_devis_sante'%}
        <meta name="description" content="Besoin d'une couverture santé ? ... Obtenez gratuitement en quelques clics un devis adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERT">   
        {% elseif route == 'assurances_devis_auto'%}
        <meta name="description" content="Besoin d'une assurance auto ?  Obtenez gratuitement en quelques clics un devis adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERT"> 
        {% elseif route == 'assurances_devis_cyclo'%}
        <meta name="description" content="Besoin d'une assurance pour votre cyclo ? Obtenez gratuitement en quelques clics un devis adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERT">
        {% elseif route == 'assurances_devis_protection-juridique-particulier'%}
        <meta name="description" content="Besoin d'une protection juridique ? Obtenez gratuitement en quelques clics un devis adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERT">
        {% elseif route == 'assurances_devis_chien-chat'%}
        <meta name="description" content="Besoin d'une assurance pour votre animal de compagnie ? Obtenez gratuitement en quelques clics un devis adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERT">
        {% elseif route == 'assurances_devis_habitation'%}
        <meta name="description" content="Besoin d'une assurance pour votre logement ? Obtenez gratuitement en quelques clics un devis adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERT"> {% elseif route == 'assurances_devis_auto-temporaire'%}
        <meta name="description" content="Besoin d'une assurance temporaire automobile ? Obtenez gratuitement en quelques clics un devis adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERT">  
        {% elseif route == 'assurances_devis_moto'%}
        <meta name="description" content="Besoin d'une assurance pour votre 2 roues ? Obtenez gratuitement en quelques clics un devis adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERT">
        {% elseif route == 'assurances_devis_camping-car'%}
        <meta name="description" content="Besoin d'une assurance pour votre camping-car ? Obtenez gratuitement en quelques clics un devis adaptés à vos besoins et à votre budget. FRAIS DE DOSSIER OFFERT">  
        {% elseif route == 'assurances_protection_juridique_nautique'%}
        <meta name="description" content="Découvrez nos formules  protection juridique nautique Garanties Optimales">
        {% elseif route == 'assurances_remorque_nautique'%}
        <meta name="description" content="Découvrez notre option pour les remorques bateaux/jet-ski Garanties Optimales">
        {% elseif route == 'assurances_assistance_nautique'%}
        <meta name="description" content="Découvrez nos formules d' assistance nautique parmi les plus complètes du marché pour naviguer sereinement...">
        {% elseif route == 'assurances_sports_nautique'%}
        <meta name="description" content="Découvrez l'option sports nautique Garanties Optimales...">
        {% elseif route == 'contact_form'%}
        <meta name="description" content="Contactez nous pour toute question, pour toute demande de devis ainsi que pour obtenir un devis sur une assurance particulière non présente sur notre site">
        {% elseif route == 'about-us'%}
        <meta name="description" content="Garanties Optimales l'assurance des particuliers et des professionnels. 20 ans de savoir faire dans le courtage. Des garanties optimales à prix minimal">
        {% elseif route == 'legal_mentions'%}
        <meta name="description" content="Veuillez lire nos mentions légales et les conditions d'utilisation de notre site. Le site Garanties Optimales veille à la sécurité de ses utilisateurs">
        {% elseif route == 'newsletter_index'%}
        <meta name="description" content="Découvrez les dernières actualités du domaine de l'assurance ainsi que nos promotions...">
        {% elseif route == 'newsletter_show'%}
        <meta name="description" content="{{ newsletter.content|striptags|u.truncate(120, '...')}}">
        {% elseif route == 'protection'%}
        <meta name="description" content="Dans un soucis de transparence vis à vis de ses utilisateurs; Garanties Optimales vous invite à lire sa politique de protection des données">
        {% elseif route == 'app_register'%}
        <meta name="description" content="Inscrivez-vous sur Garanties Optimales afin de retrouver facilement vos documents dans votre espace personnel. Vous n'avez pas besoin de vous inscrire pour souscrire à nos assurances ou pour obtenir un devis..">
        {% elseif route == 'app_login'%}
        <meta name="description" content="Connectez-vous à votre espace personnel Garanties Optimales et retrouvez vos documents facilement.. Vous n'avez pas besoin d'être inscrit ou connecté à votre espace personnel pour souscrire à une de nos assurances ou obtenir un devis...">
        {% endif %}
        <meta name="google-site-verification" content="M6NI2IS8wUOzmJyyKgKNAMein7WESTrqGCq9j2Y31kU" />
        <meta name="author" content="Garanties Optimales - Paul Brousses" />
        <meta name="copyright" content="Garanties Optimales - {{statusSociety}}" />
        <title>{% block title %}L'assurance des Particuliers et Professionnels | {{ societyName }}{% endblock %}</title>
        <!-- Favicon-->
         <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Open+Sans&family=Tangerine:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" />
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script type="text/javascript" src="{{ asset('assets/js/tarteaucitron/tarteaucitron.js') }}"></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "/mentions-legales", /* Privacy policy url */
    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */
    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
    	  "AcceptAllCta" : false, /* Show the accept all button when highPrivacy on */
    	  "highPrivacy": false, /* Disable auto consent */
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": false, /* Show more info link */
    	  "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "/mentions-legales", /* Change the default readmore link */
          "mandatory": false, /* Show a message about mandatory cookies */
        });
        </script>
    </head>
    <body id="page-top">
    {% block nav %}
    {% set route =  app.request.attributes.get('_route') %}
        {% if route == 'home' %}
        <nav class="navbar navbar-expand-lg navbar-light sticky-top py-3 justify-content-center" id="mainNav">
            <div class="row justify-content-center">
                <a class="navbar-brand js-scroll-trigger" class="societyName" href="#page-top">{{ societyName }}</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        {% if app.user is not null %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#profil">Mon espace personnel</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#particuliers">Assurances particuliers</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#professionnels">Assurances professionnels</a></li>
                        {% if app.user is null %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#inscription-connexion">Inscription / Connexion</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                        {% if app.user is not null %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_logout')}}">Déconnexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light sticky-top py-3 justify-content-center" id="mainNav">
            <div class="row justify-content-center">
                <a class="navbar-brand js-scroll-trigger" class="societyName" href="{{ path('home')}}">{{ societyName }}</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('home')}}">Accueil</a></li>
                        {% if app.user is not null %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('user_read', {'lastname' : app.user.lastname})}}">Mon espace personnel</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('assurances_categorie', {'slug': 'particuliers'})}}">Assurances particuliers</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('assurances_categorie', {'slug': 'professionnels'})}}">Assurances professionnels</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                        {% if app.user is not null %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_logout')}}">Déconnexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}
    {% endblock %}
    <div class="container-fluid">
    {% if route == 'home' %}
   <header class="masthead">
            <div class="socialLink">
            <a href="https://www.facebook.com/garantiesOptimales"><i class="fab fa-2x fa-facebook"></i></a>
            <a href="https://twitter.com/GOptimales"><i class="fab fa-2x fa-twitter"></i></a>
            </div>
        <div class="container h-40">
            {% for message in app.flashes('success') %}
            <div class="flash-notice-success my-3">
                <div class="alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p class="mb-0">{{message}}</p>
                </div>
            </div>
            {% endfor %}
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="flash-notice-failed my-3">
                <div class="alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p class="mb-0">{{ flashError }}</p>
                </div>
                </div>
            {% endfor %}
        </div>
    </header>
    {% else %}
    <header class="masthead d-none d-md-block d-lg-block">
            <div class="socialLink">
            <a href="https://www.facebook.com/garantiesOptimales"><i class="fab fa-2x fa-facebook"></i></a>
            <a href="https://twitter.com/GOptimales"><i class="fab fa-2x fa-twitter"></i></a>
            </div>
        <div class="container h-40">
            {% for message in app.flashes('success') %}
            <div class="flash-notice-success my-3">
                <div class="alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p class="mb-0">{{message}}</p>
                </div>
            </div>
            {% endfor %}
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="flash-notice-failed my-3">
                <div class="alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p class="mb-0">{{ flashError }}</p>
                </div>
                </div>
            {% endfor %} 
        </div>
    </header>
    {% endif %}

    {% block body %}
    {% endblock %}
 
    {% block footer %}

        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Contactez nous</h2>
                        <hr class="divider my-4" />
                        <p class="text-dark mb-5">Pour toute question ou pour être aidé dans vos démarches</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3"></i>
                        <p>Par téléphone</p>
                        <div class="phone">04 67 74 24 74</div>
                    </div>
                    <div class="col-lg-3 mr-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-envelope fa-3x mb-3"></i>
                        <p>Par email</p>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block" href="mailto:contact@garanties-optimales.com">contact@garanties-optimales.com</a>
                    </div>
                    <div class="col-lg-3 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-align-justify fa-3x mb-3"></i>
                         <p>Via notre formulaire de contact</p>
                        <a class="d-block" href="{{ path('contact_form')}}">En cliquant ici</a>
                    </div>
                    <div class="col-lg-3 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3"></i>
                        <a class="d-block" href="" data-toggle="modal" data-target="#callModale">Demander à être rappelé</a>
                        {{ include('partials/modal-call.html.twig') }}
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
        {{ include('partials/modal-login.html.twig') }}
            <div class="container-footer">
            <div class="row mx-0">
                <div class="footer-link-principal col-lg-3 col-md-6 text-center">
                    <p style="color:white;">N°ORIAS : 10057313<br>SIRET 524 175 478 00014<br>Code NAF 6622Z<br>{{statusSociety}}<br>11 rue Honore Euzet<br> 34200 Sète</p>

            <a href="https://www.facebook.com/garantiesOptimales"><i class="fab fa-2x fa-facebook"></i></a>
            <a href="https://twitter.com/GOptimales"><i class="fab fa-2x fa-twitter"></i></a>

               </div>
                <div class="footer-link-about col-lg-3 col-md-6 text-center">
                    <ul>
                    <li><a href="{{ path('newsletter_index')}}">Actualités</a></li>
                        <li><a href="{{ path('about-us')}}">Qui sommes-nous?</a></li>
                        <li><a href="{{ path('legal_mentions')}}">Mentions legales</a></li>
                        <li><a href="" data-toggle="modal" data-target="#tarteaucitron">Gestion des cookies</a></li>
                        {% if app.user is null %}
                        <li><a href="{{ path('app_register')}}">Inscription</a></li>
                        <li><a href="" data-toggle="modal" data-target="#connexionModale">Connexion</a></li>
                        {% else %}
                        <li><a href="{{ path('user_read', {'lastname' : app.user.lastname})}}">Mon espace personnel</a></li>
                        <li><a href="{{ path('user_sinistre', {'lastname' : app.user.lastname})}}">Déclarer un sinistre</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="sitemap-particuliers col-lg-3 col-md-6 text-center">
                    <ul>
                    {% for category in allCategory %}
                        {% if category.id == 1 %}
                          <a href="{{ path('assurances_categorie', {'slug': 'particuliers'})}}"><h6>{{category.name}}</h6></a>
                    {% for sousCategorie in category.sousCategories %}
                     {% if sousCategorie.name == 'Chien Chat' or sousCategorie.name =='Habitation' or  sousCategorie.name == 'Protection Juridique' or sousCategorie.slug == "sante" %}
                        {% for type in sousCategorie.types %}
                        <li><a href="{{ path('assurances_type', {'slug': type.slug})}}">{{ sousCategorie.name }}</a></li>
                        {% endfor %}
                        {% else %}
                            <li><a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{ sousCategorie.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="sitemap-professionnels col-lg-3 col-md-6 text-center">
                    <ul>
                    {% for category in allCategory %}
                        {% if category.id == 2 %}
                            <a href="{{ path('assurances_categorie', {'slug': 'professionnels'})}}"><h6>{{category.name}}</h6></a>
                    {% for sousCategorie in category.sousCategories %}
                            <li><a href="{{ path('assurances_sous-categorie', {'slug': sousCategorie.slug})}}">{{ sousCategorie.name }}</a></li>
                    {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div><br>
            <div class="container"><div class="small text-center text-muted">Copyright © 2020 - {{ societyName }}</div></div>
        </footer>
        </div>
        {% endblock %}
        <!-- Bootstrap core JS-->
        {% block javascripts %} 
        <!-- Start of garanties-optimales Zendesk Widget script -->
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=24b02882-41d4-4daa-aaab-b4a8e3940794"> </script>
        <!-- End of garanties-optimales Zendesk Widget script -->
        <script type="text/javascript">
        tarteaucitron.user.gajsUa = 'UA-177456627-1';
        tarteaucitron.user.gajsMore = function () { /* add here your optionnal _ga.push() */ };
        (tarteaucitron.job = tarteaucitron.job || []).push('gajs');
        </script>
        <script type="text/javascript">
        tarteaucitron.user.googletagmanagerId = 'GTM-PS576MC';
        (tarteaucitron.job = tarteaucitron.job || []).push('googletagmanager');
        </script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ asset('assets/js/scripts.js')}}"></script>
        <script>
                $('.custom-file-input').on('change', function(event) {
                    var inputFile = event.currentTarget;
                    $(inputFile).parent()
                        .find('.custom-file-label')
                        .html(inputFile.files[0].name);
                });
        </script>

        {% endblock %}
    </body>
</html>
