{% extends 'base.html.twig' %}

{% block title %}Document index | {{societyName}}{% endblock %}

{% block body %}
<div class="row px-3 justify-content-center form-doc">
    <table class="table" id='form'>
        <thead>
            <tr>
                <th>Type de document</th>
                <th>Date d'ajout</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in app.user.document %}
            <tr>
                <td>{{ document.Type }}</td>
                <td>{{ document.DateTelechargement ? document.DateTelechargement|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('document_show', {'id': document.id}) }}">Voir</a> | 
                    <a href="{{ path('document_delete', {'id': document.id}) }}">Supprimer</a>
                    <a href="{{ path('document_delete', {'id': document.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun Document</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
