{% extends 'base.html.twig' %}

{% block title %}Mon profil | {{ societyName }}{% endblock %}

{% block body %}

<div id="form">
  {% for message in app.flashes('success') %}
    <div class="flash-notice-success my-3">
      <div class="alert alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="mb-0">{{message}}</p>
      </div>
    </div>
  {% endfor %}

  {% if is_granted('ROLE_ADMIN') %}
    <div class="row justify-content-between pt-3 px-3 ml-md-2 mr-md-1 main-title">
      <h2>Admin</h2>
    </div>
    <div class="row justify-content-center pt-3">
      <a href="{{ path('admin') }}"><button class="btn banner-top-btn my-4" type="button">Accéder au BackOffice</button></a>
    </div>
  {% endif %}
  {% if app.user == user %}
    <div class="row justify-content-between pt-3 px-3 mb-3 ml-md-2 mr-md-1 main-title">
      <h2>Mon Espace Personnel</h2>
    </div>
    <div class="row justify-content-center align-items-center mb-3">
      <div class="col-12 col-sm-6 text-center text-sm-left">
        <p>Prénom : {{user.firstname}}<br>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Email : {{user.email}}</p>
        <a href="{{ path('user_edit', {'lastname' : app.user.lastname })}}"><button class="btn banner-top-btn" type="button">Modifier le profil</button></a>
        {% endif %}
      </div>
    </div>
  <div class="row justify-content-between pt-3 px-3 ml-md-2 mr-md-1 main-title">
    <h2>Mes documents</h2>
  </div>
  <div class="row justify-content-center mb-4">
  </div>
    {% endif %}
</div>

{% endblock %}